[2014-07-08 14:06] dreispt opened #2 "What is "sale-workflow" and "crm" projects scope?"
I feel that it's necessary to agree on a scope for these closely related projects.
Since there now also a [CRM project](https://github.com/OCA/crm), how do we now where a module fits?

In my opinion, the frontier is Invoicing and order fulfilment:
- All features that go up to the point where you send a Quotation to a customer are CRM related.
- Features related to what happens from the Sales Order

[2014-07-09 07:35] eLBati commented on #2
I was assuming an approach linked to the odoo modules: if a module deals with sale\* modules, I would put it within the sale-workflow project; if it deals with crm\* modules, I would put it within crm

[2014-07-09 07:48] dreispt commented on #2
@elBati that's a good rule of thumb, but is it called "Sale _Workflow_" and not just "Sale"?

"Workflow" gives the idea the enhancements should be related to post-sale invoicing and fulfilment flows.
What about enhancements on Quotations/Sales Orders that focus on the pre-sale process?

[2014-08-01 13:46] eLBati opened #5 "Migration from launchpad"
- Point 5: https://github.com/OCA/maintainers-tools/pull/24
- Point 6:
  - https://github.com/OCA/sale-workflow/pull/6
  - https://github.com/OCA/sale-workflow/pull/7

[2014-08-01 13:48] eLBati commented on #5
I can do points 5, 6, and 8.
I need a maintainer for points 3, 4, 9, 10

[2014-08-01 14:44] pedrobaeza commented on #5
OK, I'll do it.

As usual, we'll set 8.0 branch when we make 7.0 PEP8 fix.

[2014-08-01 14:49] pedrobaeza commented on #5
Done!

Step 9 still requires an OCA board member to modify it, and step 7 and 10 must be done after the PEP8 fix.

Regards.

[2014-08-07 09:19] eLBati commented on #5
I'm starting to fix PEP8 of 7.0 branch :smirk:

[2014-08-07 09:21] pedrobaeza commented on #5
Cool! I'll be watching for review.

[2014-08-07 10:25] eLBati commented on #5
The PR https://github.com/OCA/sale-workflow/pull/10

[2014-08-08 00:02] pedrobaeza commented on #5
And here is the step 7 : #11.

[2014-08-08 15:07] LeartS opened #13 "sale_validity gives error: Can't render view sale_validity.view_order_form_validity for model: sale.order"
The module `sale_validity` fails on startup, as you can see from [this Travis report](https://travis-ci.org/OCA/sale-workflow/jobs/32009263).
The status of the branch is green because of issue https://github.com/OCA/maintainer-quality-tools/issues/60, but it makes every pull request fail.

The relevant line of error seems to be:

[code]

Which I really don't understand given sale_validity's [sale_

[2014-08-12 08:15] gurneyalex commented on #5
both 10 and 11 and done. Can we close this?

[2014-08-12 09:41] pedrobaeza commented on #5
I think so.

Regards.

[2014-08-12 09:41] #5 closed, assigned to nobody

[2014-08-14 10:17] yvaucher opened #18 "Missing label *needs review*"
Read OCA/maintainers-tools#29 to know more about it

[2014-08-14 13:38] #18 closed, assigned to nobody

[2014-08-15 10:33] guewen commented on #13
The source of the error lies in the module sale_cancel_reason: https://github.com/OCA/sale-workflow/blob/7.0/sale_cancel_reason/view/sale_view.xml#L9.
However I'm not sure why this error happens and how we could avoid it.

[2014-08-15 13:10] yvaucher commented on #13
I relaunched the build so state on branch README.md 7.0 reflects current status of failing on travis

[2014-08-15 13:50] yvaucher commented on #13
Fixed in https://github.com/OCA/sale-workflow/pull/21

[2014-08-18 11:54] #13 closed, assigned to nobody

[2014-08-18 16:37] bwrsandman opened #23 "sale_delivery_term is failing its own tests"
https://travis-ci.org/OCA/sale-workflow/jobs/32663504#L845

[code]

[2014-08-18 16:38] bwrsandman commented on #23
@eLBati you worked on this, maybe you know the best way to fix these?

Generate 2 groups, maybe?

[2014-08-19 06:23] eLBati commented on #23
Hello @bwrsandman this is fixed by https://github.com/OCA/sale-workflow/pull/22

[2014-08-25 14:42] nbessi opened #30 "Sale exceptions are not multi-company aware."
With `sale_exceptions` module you can not enable different sales exception by company.
A field company_id and a ir.rule must be added on `sale.exception` model

[2014-08-26 12:29] pedrobaeza commented on #30
Implemented in #31

[2014-08-26 12:29] #30 closed, assigned to nobody

[2014-09-16 17:33] max3903 opened #42 "Todo : Move purchase_order_reorder_lines to purchase-workflow"
This is just to move
https://github.com/OCA/sale-workflow/tree/7.0/purchase_order_reorder_lines
to
https://github.com/OCA/purchase-workflow/tree/7.0

[2014-09-19 14:56] #23 closed, assigned to nobody

[2014-10-28 08:56] nbessi opened #52 "Should we revert 5891bdc37e24cf31fde19ea9eb8413848069a57a"
https://github.com/OCA/sale-workflow/commit/5891bdc37e24cf31fde19ea9eb8413848069a57a
commit add a new dependence on an other OCA repo on a stable module without changing version.

This may break existing instances and raise a question about OCA merge acceptance rules.
Should we accept a PR that add a dependence on external repo on an existing module?

Regards

Nicolas

[2014-10-28 08:59] lepistone commented on #52
(I paste here my comment on the commit)

I fully agree we should increase the version substantially. If we had changelogs, it should be noted there. We could add an annotation in the manifest anyway.

As reverting altogether, that seems a bit drastic. Let's hear what the others say.

Thanks @nbessi for bringing this up.

[2014-10-28 09:15] pedrobaeza commented on #52
Well, we talked that an outside dependency must not be allowed in OCA, but there is no PR for that module?

[2014-10-28 09:16] nbessi commented on #52
@pedrobaeza I updated my comment it is based on an other OCA repo but on a stable module

[2014-10-28 09:29] pedrobaeza commented on #52
Ah, OK. In this case I think we can do it, because it's very easy to fix installations with this module (add dependency and install it without making update=all, and then update the other module), but we should warn it on module manifest and on commit message.

[2014-10-28 17:16] clonedagain opened #53 "last_sale_price would be better named sale_last_price"
I think it would be closer to the convention of having the main "app" as the first word in the module name.

[2014-10-28 17:34] pedrobaeza commented on #53
I also agree with @clonedagain.

[2014-10-28 17:57] yvaucher commented on #53
I suggest to target the name change on 8.0

[2014-10-29 08:21] clonedagain commented on #53
@yvaucher yes that looks sane.
Maybe the name should actually be sale_latest_price - can a native English speaker confirm please?

[2014-11-14 12:56] lepistone opened #59 "v8 sale_exceptions: error messages are not shown"
If the confirmation of a sale order is blocked by the `sale_exception` module, the state does not change (which is OK), but the window with the error is not displayed.

(I am working on the fix. It seems to be due to an incorrect `api.one` decorator.)

[2014-11-17 10:16] #59 closed, assigned to lepistone

[2014-12-05 20:03] bwrsandman commented on #2
What is the news on this?
@dreispt Did you find your answer?

[2015-01-21 22:37] alexis-via opened #96 "7.0 sale_fiscal_position_update : error in a particular scenario"
Here is the scenario to reproduce the bug on v7:
1) install the module sale_fiscal_position_update
2) create a new quotation:
customer : Agrolait
create a sale order line : 1 x USB adapter
change the fiscal position to a new value
SAVE the quotation (must be done only now)
=> you get an error message and a backtrace:

[code]

Analysis of the issue:
The "state" field in the sale.order.line is not r

[2015-01-27 13:14] gdgellatly commented on #96
And that would only be because it is an editable tree view, and that state field probably isn't in it.  Probably easiest fix is to just add

[code]

 to the sale order line view

[2015-01-29 16:08] alexis-via commented on #96
@gdgellatly If you look in odoo-70/addons/sale/sale_view.xml line 175 and line 221, you'll see that the state field is already present in the tree and form view of sale order lines.

[2015-02-05 08:04] gurneyalex commented on #52
@nbessi what is the status of this?

[2015-02-05 08:05] gurneyalex commented on #42
:+1:

[2015-06-05 15:18] JavierIniesta opened #165 "Procurement groups and "back 2 draft" incompatible"
If you try to re-draft a sales order, it will raise the following error:
![selection_032](https://cloud.githubusercontent.com/assets/11073758/8008993/f0b804d8-0ba5-11e5-885d-e8064cddfc93.png)

No group has permission to delete objects procurement.order:
![selection_031](https://cloud.githubusercontent.com/assets/11073758/8009084/7756fe86-0ba6-11e5-9c3d-b7d8a7ea0c55.png)

sale_order_back2draft/mode

[2015-06-25 13:51] sebastienbeau opened #170 "Pack management"
# Pack Managment

A long time ago I was using product_pack (https://github.com/ingadhoc/odoo-addons/tree/8.0/product_pack) from Nan-tic, and now on V8 I have a customer that need to use Pack.
I can reuse this module but I think this module have some duplicated concept with BOM, and maybe it's an opportunity to improve it.

For now the BOM already support in some way the PACK, indeed you can alread

[2015-06-25 14:34] jgrandguillaume commented on #170
Hi,

sale_bom_availability seems a duplicate of https://github.com/OCA/product-kitting/tree/8.0/__unported__/bom_stock

sale_pack seems dupplicate (partial dupplicate) of  : https://github.com/OCA/product-kitting/tree/8.0/__unported__/sale_bom_split

I also think that this should be moved under the product_kitting project as this one is supposed to deal with that kind of things, what do you think

[2015-06-25 15:33] sebastienbeau commented on #170
Great bom_stock is indeed exactly what I mean with sale_bom_availability (OCA is so efficient !)

Regarding sale_bom_split, I will take a look on it (just to understand it), but it will not fit with my need. Indeed I need to have the explode directly in the sale order, like we did when we import bundle ligne from magento.

Thanks for you're feedback. We will propose the sale_option and sale_prodlo

[2015-06-25 15:36] pedrobaeza commented on #170
If you only want to show in the sale order report the components, you can modify the qweb report to include the BoM on it.

[2015-06-25 16:46] OSguard commented on #170
sale_bom_split is not needed in v8 as odoo core already support it

[2015-06-25 21:34] anajuaristi commented on #170
Hello:
Trying to test modules on runbot I can not find a built where I can go into
https://runbot.odoo-community.org/runbot/repo/github-com-oca-product-kitting-136

Could you please help me on that? What should I do to have a database to launch and make test?

Sorry if this is a silly newbie question but usually when I go into runbot most of builts use to show a blue icon with small door that I pu

[2015-06-26 07:17] jgrandguillaume commented on #170
@anajuaristi Seems this project not activated on runbot, can you send a request to support@odoo-community.org please ?

[2015-07-03 06:11] lasley opened #178 "Error when searching sale_rental relational fields"
Error is displayed when trying to perform Advanced Search on sale_rental in tree view.

Replication instructions: Advanced Search on sale_rental => `State of the Outgoing Stock Move` `is` `New` => Apply

Error:

[code]

[2015-07-03 18:50] lasley commented on #178
I'm stumped. Was this an API change between 7 and 8?

[2015-07-05 11:13] gigidn opened #180 "sale_start_end_dates dependence"
I need a simple module that add Start and End dates on sales order and invoices too. The module sale_start_end_dates is good for many of my use cases but add extra logic that i don't need by the dependence of account_cutoff_prepaid.

Should be possible invert the dependence chain so account_cutoff_prepaid depends on sale_start_end_dates and not vice-versa?. In this case sale_start_end_dates will b

[2015-07-15 13:57] thomaspaulb opened #184 "sale_order_revision error on "Confirm Sale""
When you
- Cancel a quotation
- Create a new copy of Quotation
- Confirm Sale

It says "You cannot confirm a sales order which has no line."

But many lines are there.
I will investigate further, just wish to know if other people have had this problem.

[2015-07-17 17:59] thomaspaulb commented on #184
See pull request #186

[2015-07-31 00:43] pedrobaeza commented on #165
This should be now fixed in https://github.com/OCA/sale-workflow/commit/d0a23572f49ef5ca77283a62e30c5ccabdb1f018

[2015-07-31 00:43] #165 closed, assigned to nobody

[2015-09-03 19:33] rafaelbn commented on #184
Hi, I thinks this issue can be closed as exists PR. @antiflu could you close issue? Thanks

[2015-09-04 14:35] #184 closed, assigned to nobody

[2015-09-04 15:37] clonedagain opened #206 "Feature request/intent: partner allotment"
As discussed in https://github.com/odoo/odoo/issues/5371, partner allotment can be entered in the standard v8 but it is not actually implemented.

@Solanki-Shamji proposed an initial implementation by @Openies here: https://www.odoo.com/apps/modules/8.0/line_ship/
Improvements and progress can be watched here : https://github.com/OCA/sale-workflow/pull/207

[2015-09-04 15:38] clonedagain commented on #206
@Solanki-Shamji would you like to cooperate with me on this topic?

[2015-09-04 15:40] clonedagain commented on #206
@jgrandguillaume @eLBati @tafaRU do you agree that these requirements fit the project?

[2015-09-04 16:12] clonedagain commented on #206
@openies I'm forking https://github.com/Openies/OdooLineShip to improve it, please reply if you'd like to cooperate.

[2015-09-06 07:28] Openies commented on #206
Thanks for improvement suggestion, and yes we like to cooperate in all
case.

On Fri, Sep 4, 2015 at 9:42 PM, Lionel Sausin notifications@github.com
wrote:

##

Openies
Ingenious Effective Solutions

[2015-09-07 06:32] eLBati commented on #206
On 4 September 2015 at 17:40, Lionel Sausin notifications@github.com
wrote:

[2015-09-07 07:56] clonedagain commented on #206
@Openies would you accept to sign the OCA's license agreement? The details are explained at https://odoo-community.org/page/cla
If you don't agree with that we won't be able to merge this in OCA's project but we can still work together aside from OCA.

[2015-09-07 15:38] clonedagain commented on #206
In the sale order line tree-view, I initially wanted to reuse the allotment of the previous line of the same order, so users don't have to enter it repeatedly.
Unfortunately I couldn't find a way to do so if someone has an idea please let me know.

[2015-09-07 16:45] clonedagain commented on #206
I'm also having quite a hard time porting the code to v8 API, since it overrides v7 methods. So I'm leaving it as @Openies wrote it.

[2015-09-16 15:14] liuaiqun opened #210 "Bug: sale_order_revision not compatible with duplicate"
test case:
step1:   create a sale order,  save it..   (say PO0001)
step2:   use More | Duplicate,  create new sale order, save it. (say PO0002)
step3,   cancel the new  order (PO0002), and  push the button of " new Copy of Quotation"
it sayes  "Constraint Error: Order Reference and revision must be unique per Company."

the Bug reason:
in PO0002, the filed unrevisioned_name is PO0001, it should be

[2015-09-21 23:48] rafaelbn opened #215 "[BUG][8.0] partner_prospect - Partner invoiced is prospect"
module: partner_prospect
version: 8.0

**Steps to reproduce**
- Create a Partner who is a company
- Create a Contact with Parent the company created in the step before
- Invoice to the contact

**Current behavior**
- The contact and the company are still prospect

![2015-09-22_1-43-15](https://cloud.githubusercontent.com/assets/8736623/10008156/eb7956ae-60cb-11e5-8118-d76148aef1a8.png)

**Expected

[2015-09-21 23:49] rafaelbn commented on #215
Refers to https://github.com/OCA/sale-workflow/tree/8.0/partner_prospect

[2015-09-28 18:14] eLBati commented on #210
Thanks @liuaiqun , does the changes of PR https://github.com/OCA/sale-workflow/pull/186 solve your issue?

[2015-10-06 16:21] l-arnold opened #220 "How to update if Module installed"
When I go to Configuration/Sales/Payment Methods I am returning the traceback that ends with the following.  I realize I could "uninstall" and "reinstall" but doing so wants to strip the whole connector structure out it seems.
Have tried -u -d commands on a Manual openerp-server startup. Does not return errors but I am not getting enough information when I manually start and stop the server this w

[2015-10-07 17:08] l-arnold commented on #220
I did go ahead and "uninstall" plus "reinstall".  Errors gone but also don't have a connection set up right now.  Hope reinstalling won't "duplicate" all my prior imports (could still go back to snapshot point).

[2015-10-14 00:34] pedrobaeza opened #223 "Migration to version 9.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-9.0
# Modules to migrate
- [ ] mail_quotation
- [ ] product_customer_code_sale
- [ ] sale_validity - By @lreficent - #447
- [ ] account_invoice_reorder_lines
- [ ] sale_order_force_number
- [ ] sale_journal_shop
- [ ] sale_order_add_variants
- [ ] sale_jit_on_services
- [ ] product_special_type_sale
- [x] ~~sale_order_back2d

[2015-10-18 09:17] StefanRijnhart opened #228 "[8.0] Since three days, tests are broken because of ignored oca_dependencies.txt"
Tests of 8.0 are currently broken.
sale_owner_stock_sourcing in this repo has a dependency on stock_ownership_availability_rules, which can be found at https://github.com/OCA/stock-logistics-workflow/tree/8.0/stock_ownership_availability_rules. The stock-logistics-workflow repository is mentioned properly in https://github.com/OCA/sale-workflow/blob/8.0/oca_dependencies.txt, but like the other rep

[2015-10-18 09:24] gurneyalex commented on #228
I see OCA/maintainer-quality-tools/pull/275 fixing OCA/maintainer-quality-tools/pull/274 which could be related.

@pedrobaeza do you think we should revert that merge for now?

[2015-10-18 09:26] gurneyalex commented on #228
cc @dreispt

[2015-10-18 09:28] pedrobaeza commented on #228
OK, I have the problem. I'll make a PR in minutes.

[2015-10-18 09:30] StefanRijnhart commented on #228
Thanks both!

[2015-10-18 09:32] gurneyalex commented on #228
many thanks... currently attending  pyconfr which is not the ideal place for OCA bugfixing...

[2015-10-18 09:38] pedrobaeza commented on #228
Here you have: https://github.com/OCA/maintainer-quality-tools/pull/282

[2015-10-18 13:47] #228 closed, assigned to pedrobaeza

[2015-10-20 15:05] zaoral commented on #42
Hello @max3903

We are working in a purchase_order_reorder_lines similar module with some improves that the current module does not have. This new module is a v8 module.

In discussions with @nhomar we agreed that after finish the module we will make this move of repository of the current purchase_order_reorder_lines and we will propose the new module with the improvements.

Best Regards

[2015-11-04 18:37] jaredkipe commented on #223
Records for 'workflow.transition' require fields 'act_from' and 'act_to' like the following.
`<field name="act_from" ref="act_draft"/>
            <field name="act_to" ref="act_sent"/>`

[2015-11-12 18:26] yvaucher commented on #220
Hello @l-arnold could you tell us for which module it appends ?

[2015-11-25 02:51] alanljj opened #238 "two issues with partner_prospect"
module: partner_prospect
version: 8.0
1. when create a new person contact in res.partner, the all person contacts belong to parent company will be updated by user. We sorted partner by updated time.
2. can't create new contact for user of See Own Leads. after uninstalled this module, problem disappeared. I am not sure whether this module issue, here is error log for your reference:

2015-11-25 01:

[2015-12-12 01:13] rafaelbn commented on #215
Pleas @oihane could you review this issue. Thanks

cc @pedrobaeza

[2015-12-12 09:04] oihane commented on #215
Does it continue to do it after this PR, https://github.com/OCA/sale-workflow/pull/217?

I thought I did it. I'm trying to check it on runbot but it is failing

[2015-12-30 07:51] atchuthan opened #255 "[8.0][sale-rental] Onchange of quantity triggers 2 messages in warning pop-up"
We simulated the issue in the OCA runbot.
URL: http://3138577-8-0-1a3142.runbot1.odoo-community.org/web?db=3138577-8-0-1a3142-all
OCA runbot: https://runbot.odoo-community.org/runbot/repo/github-com-oca-sale-workflow-167

[This issue may be due to https://github.com/odoo/odoo/commit/9671ae2a2d116cd1d8f6196b125b92b95ce98f6f]

Product selected at Sales order line
![image](https://cloud.githubusercon

[2016-01-18 15:21] atchuthan commented on #255
@ beledouxdenis, please take a quick glance at this issue.

[2016-02-16 10:46] explanar opened #263 "[8.0] [general] SALE_RENTAL creates product-type "Service" wich drops attributes dimensions/weight and delivery-cost-automation"
in rental business logistics are one of the main emphasis.
To work with logistics in odoo sale_rental there needs to be added
- Product Dimensions
- Product weight

To the Product type Service, because at the moment there are no delivery costs added automatically to an order that contains services only!

Anybody experienced in shipping / delivery cost automation for product type service?

Best reg

[2016-02-23 11:57] kenvac opened #264 "[8.0][sale_procurement_group_by_line] Recreate pickings doesn't show View Delivery Orders button"
Hi Friends,

Just found bug where group_id always created on recreating deliveries from order
## How to reproduce bug:
- Create and confirm the sale order
- Cancel the pickings
- Recreate picking from order
- Once the pickings are recreated the **View Delivery order** is no longer visible.

Let me know if you guys need any more information on this.

Regards,
Kinner

[2016-02-26 07:43] jaronemo opened #267 "Revisions for sale orders Question..need fix"
Dears
1. origin sale order (qty = 50)
   ![image](https://cloud.githubusercontent.com/assets/8476734/13346107/ef1ebb4c-dc9e-11e5-89cc-175f495e5792.png)
2. Delivery Order (qty=50)
   ![image](https://cloud.githubusercontent.com/assets/8476734/13346165/4587dc20-dc9f-11e5-9967-0fda30aa458a.png)

3.cacel sale order and create reversion fix qty to 30
![image](https://cloud.githubusercontent.com/assets/

[2016-02-26 07:47] jaronemo opened #268 "Sale Order Reversion problem"
Dears

This Module like
https://github.com/OCA/purchase-workflow/issues/202

same problem..

[2016-02-26 07:58] pedrobaeza commented on #267
Please propose then the same fix

[2016-02-26 07:58] pedrobaeza commented on #268
Duplicated

[2016-02-26 07:58] #268 closed, assigned to nobody

[2016-02-26 08:01] eLBati commented on #268
It seems https://github.com/OCA/sale-workflow/issues/267 and https://github.com/OCA/purchase-workflow/issues/202 are different problems. @jaronemo am i right?

[2016-02-26 09:05] jaronemo commented on #268
YES

[2016-02-26 09:06] jaronemo commented on #268
mean is duplicated problem on sale order reversion..same....

[2016-03-01 18:22] AntMoreno opened #269 "[8.0][sale_order_lot_selection]Not working for multiline sale orders"
Hi to all

Tested on RunBot the addon worked fine, but tested on a brand new local instance (8.0.20160314) with a new DB (only with modules Sale, Purchase and WH) it doesn't work for sale orders with multiple lines.

**Steps to reproduce:**

1.- Create a new Sale Order with 2 or more lines of products
2.- Assign lot to every line (ensure lot has stock available)
3.- Confirm the Sale Order
4.- Go t

[2016-03-11 10:00] SodexisTeam commented on #223
@pedrobaeza
These 2 modules are not available in the **Modules to migrate** list. Why?
- sale_payment_method_automatic_workflow
- sale_exceptions

I need these 2 modules to be ported for OCA/connector-ecommerce.

[2016-03-11 10:06] pedrobaeza commented on #223
That's because they were added after this issue was created. I have added them and assigned to you.

[2016-03-12 02:05] stephankeller commented on #223
@pedrobaeza  Thanks.

[2016-04-18 20:10] antoniocanovas commented on #269
The same problem, only the first product appears as "reserved".

[2016-04-18 20:47] antoniocanovas commented on #269
... but when I check avalilability the lots selected in the sale order is assigned ok in all the lines.

[2016-04-25 17:40] AntMoreno commented on #269
In my case a "Recheck availability", "Transfer" and "Force availability" buttons are shown altogether, instead of the "Check availability" and "Force availability" buttons. If I click on "Recheck availability" selected lots are assigned, but if I click on "Transfer" only the product and lot for the first line is included in the "Transfer wizard".

As I understand it, the right behaviour should be

[2016-04-28 12:56] thomasklosinsky opened #295 "[8.0] [sale_quick_payment] - register payment not only in draft state but also in validated order??"
Hi there,
don't know where to put this. I know that issues may be the wrong place.
"Register payments" now is only possible on sale orders in draft state but not on validated sale orders which is a little uncomfortable with our workflow. Would it be possible to easily change that?

Best regards,
Thomas

[2016-04-29 14:57] jaronemo commented on #267
Dears:

This module issue..problem..is no need fix?

[2016-05-02 11:58] Derter opened #296 "[8.0] sale_service_project: cannot install on fresh odoo 8 with all dependencies on the server"
Error:
Traceback (most recent call last):
  File "/home/odoo/odoo/openerp/http.py", line 539, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/home/odoo/odoo/openerp/http.py", line 576, in dispatch
    result = self._call_function(*_self.params)
  File "/home/odoo/odoo/openerp/http.py", line 312, in _call_function
    return checked_call(self.db, *args

[2016-05-18 12:15] paulius-sladkevicius commented on #296
Looks that this module won't work together with timesheet_task module, please check if it's your case.

[2016-05-26 15:17] yajo commented on #223
I'm starting with sale_packaging_price

[2016-05-27 07:01] guewen commented on #223
@SodexisTeam `sale_payment_method_automatic_workflow` is replaced by `sale_automatic_workflow_payment_mode` in https://github.com/OCA/sale-workflow/pull/297

[2016-05-29 00:39] andhit-r opened #303 "[sale_quotation_number][8.0][BUG] Error when duplicate sale quotation/sale order"
module: sale_quotation_number
version: 8.0

**Steps to reproduce**
1. Open any existing sales quotation/order
2. Duplicate

**Current behavior**

Exception raised:
Traceback (most recent call last):
  File "/srv/openerp/instances/openerp-oca-runbot/parts/odoo-extra/runbot/static/build/3147807-8-0-fbff14/openerp/http.py", line 540, in _handle_exception
    return super(JsonRequest, self)._handle_ex

[2016-06-04 08:44] eLBati commented on #267
Hello @jaronemo , PR https://github.com/OCA/sale-workflow/pull/306 should fix this

[2016-06-05 17:11] eLBati commented on #269
Hello @AntMoreno @antoniocanovas
PR https://github.com/OCA/sale-workflow/pull/307 should fix the problem

[2016-06-07 07:49] AntMoreno commented on #269
Tested and confirm PR 307 fixed the issue. Thank you.

[2016-06-14 17:03] JulieSFL opened #312 "[8.0] [sale_start_end_dates] No demo = no order line view"
**Using a database with demo data**
When creating a sale order, "Add an item" link opens a window for entering the order line info.

![demo](https://cloud.githubusercontent.com/assets/18582938/16051644/960a0b7a-322e-11e6-98ad-7f2fb9fba53a.png)

**Using a database initialized with option --without-demo=WITHOUT_DEMO**
The window doesn't open. What am I missing?
![nodemo](https://cloud.githubusercont

[2016-06-17 12:58] kryskool commented on #312
Hi,
The display on sale order line depends on your user groups, add one of these group to change the behavior
- Manage Product Packaging
-  Manage Secondary Unit of Measure
-  Properties on lines

Regards,

[2016-06-17 15:35] JulieSFL commented on #312
Thank you for your answer!

[2016-06-17 15:35] #312 closed, assigned to nobody

[2016-07-22 06:16] petern1 opened #318 "can't install sale_rental"
Hello!

I just tried to install sale_rental on my odoo 8 server, but I am getting this error while installing:

[code]

Any ideas how to fix this?
Thank you

[2016-08-03 14:44] max3903 opened #325 "[9.0] sale_manager_only_can_edit_so"
By default, Odoo version 9 provides a way to allow/disallow sale order modifications for every groups. This module restricts the use of this feature to the Sales Manager group only. With this module, even if editing a sale order is enabled, the salesperson won't be allowed to do it.
# Configuration
- Go to Sale > Configuration > Settings
- Enable "Allow to edit sales order from the 'Sales Order' m

[2016-08-12 02:53] bunhin opened #330 "[8.0] sale_order_add_variants -Not all variant's product unit price is generated in the order lines"
i created a product with Size as attribute and have 6 size value, and Product_variant_default_code module from odoomrp-wip is installed. The variants and the code successfully created complete with the unit price. Then create sales quotation and select customer, and price list to be used then click add variants button in top-left, select the product template and input quantity for each variant the

[2016-09-07 10:15] florian-dacosta opened #335 "[9.0] Sale exception"
Hello @atchuthan I have an issue with sale_exception module.
When I try to cancel a sale order which was validated using the ignore exception field, it raises exceptions.

I see this part in code and I guess this is the problem :

[code]

I wonder why we put ignore exception to False in case of cancel?
So if I ignored exception on validation, I won't ever be able to cancel the sale order?

[2016-09-23 14:57] nicomacr commented on #223
I've propose migration of sale_order_type in this pr https://github.com/OCA/sale-workflow/pull/340

[2016-09-28 16:51] #269 closed, assigned to nobody

[2016-09-29 21:16] fgarcia-humanoide opened #344 "Sale rental in version 8 is not working"
Sale rental in version 8 is not working.
There is a video in Youtube , published by the author Alexis de Lattre, explaining how to use the module in version 7.

In version 8 I can not see the delivery order (the product is a service so there is not stock movemet)

The quotation is different, it does not count days between dates.

The rentals database has no lines added.

[2016-10-06 14:07] pedrobaeza opened #346 "Migration to version 10.0"
Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-10.0
# Modules to migrate
- [ ] account_invoice_reorder_lines
- [ ] mail_quotation
- [ ] partner_prepayment
- [ ] partner_prospect
- [ ] pricelist_share_companies
- [ ] product_customer_code_sale
- [ ] product_special_type
- [ ] product_special_type_invoice
- [ ] product_special_type_sale
- [x] sale_automatic_workflow - @lasle

[2016-10-07 09:59] atchuthan commented on #335
@florian-dacosta sorry for the late reply

It seems the method I used was to enable the ignore_exception=False for drafted SO after it was cancelled, but I used the wrong method to do the functionality.

I will make a PR such that the value is updated with action_draft()

[2016-10-07 12:48] pedrobaeza commented on #335
Closing as there's a PR for this.

[2016-10-07 12:48] #335 closed, assigned to nobody

[2016-11-07 15:18] alexis-via commented on #344
You should try with this code, which is the latest for v8 : https://github.com/OCA/sale-workflow/pull/273  (the code in the main repo is quite old and lacks several fixes)

Or you could try on v9 with this code: https://github.com/OCA/sale-workflow/pull/353
I know it works because I made it last week.

[2016-11-10 07:05] SodexisTeam commented on #346
For info, we are migrating sale_rental and sale_start_end_dates

[2016-11-10 07:12] pedrobaeza commented on #346
OK, written in the main comment.

[2016-11-11 13:12] opmaurya1995 opened #356 "AttributeError: 'product.product' object has no attribute 'use_theoretical_price'"
When we apply on this feature on product variant its given this error

[2016-11-11 15:19] augustosamame commented on #346
@darshan-serpent is there a public repository where we can follow your progress on sale_sourced_by_line migration to v10?

[2016-11-11 16:30] pedrobaeza commented on #346
That module is not yet migrated nor planned

[2016-11-11 16:36] augustosamame commented on #346
Hi Pedro. In the list of modules to migrate, you indicate:
sale_sourced_by_line => @darshan-serpent is working on it

[2016-11-11 16:38] pedrobaeza commented on #346
Oh, sorry, I didn't see that, because there's no comment, but directly written.

[2016-11-26 23:49] augustosamame opened #362 "Sale Automatic Workflow not Working"
I need to automate Odoo's sales process for a 1 person sales team.
This OCA sale automatic workflow module seems ideal. I am testing it with the automatic runbot here:

http://3273178-9-0-f5b4fb.runbot1.odoo-community.org/web?debug=1

I have setup up a new automatic workflow and checked all the checkboxes:

Validate Order
Confirm and Transfer Picking
Create Invoice
Validate Invoice
Register Paymen

[2016-11-29 00:02] lasley opened #363 "Erroneous Branch"
Hi @legalsylvain - Looks like we have a [branch of your's on the OCA side of things](https://github.com/OCA/sale-workflow/tree/legalsylvain-comment-sale_visible_tax). I don't want to delete your branch and make you lose work, so will you please verify you have it locally and delete it on OCA?

_Edit_ Oh I'm not a PSC here, guess I couldn't delete it if I tried!

[2016-11-29 01:24] lasley opened #364 "[RFC] sale_subscription"
We have a pretty solid `subscription` module in Odoo, but it is not that wieldy from a user perspective.

This module will add a Create Subscription Wizard in the More menu of a `sale.order`. This wizard will ask the following, then create a `subscription.document.sale` and a `subscription.subscription` for it after asking:

* Interval
* Interval Unit
* First Date (onchange to be Interval + Order

[2016-11-29 01:49] pedrobaeza commented on #364
Why not to complete what is already done in OCA/contract?

[2016-11-30 03:25] lasley commented on #364
Hmmm I don't think I knew about that repo. I may be able to work with this, thanks @pedrobaeza.

I'll leave this open until I find out for sure though & will provide update.

[2016-11-30 03:48] lasley commented on #364
Yup ok we're good here. I'll probably need to add some sort of website component in order to make it fall inline with the new website-based portals, but that's no big deal really.

[2016-11-30 03:48] #364 closed, assigned to nobody

[2016-11-30 10:53] rafaelbn commented on #364
Hi @lasley , I'm quite interested in you developments on this matter. Please let me know. We were thinking about this for a customer because he need contracts for recurring but he sell online membership. It was like ecommerce -> buy online a membership -> this must generate a recurring contract to be renewed monthly and the you will receive some products (food) every month. The main problem was th

[2016-11-30 16:31] lasley commented on #364
@rafaelbn - Yeah I need sales too. The whole skipping direct to invoice thing is not really the way that Odoo works anymore.

My plan is to add a simple option to create sales before the invoices, which would hopefully allow for us to share most of the logic existing for Contracts without having to skip directly to invoice.

Does this somewhat fit your requirements too?

[2016-11-30 16:56] rafaelbn commented on #364
It doesn't 😉  but as I've understood you need recurring sales order and not invoices. I need invoices directly.
What I don't make an idea is why you want recurring sales order 🤔

[2016-11-30 16:59] lasley commented on #364
TBH I don't really care, but Odoo SA has basically forced this workflow with the new website processes. There is no Pay Now on the Invoices in website (unless I'm missing something), the process is instead setup to pay directly on sale orders, and I really don't want to have to design the payment processes over 😦. Maybe I'm just doing it all wrong?

Regarding your requirements, what is missing in

[2016-11-30 17:02] lasley commented on #364
Oh another advantage to Sale Order vs Invoice is the ability for the custom Website templates via the Online Quote feature. I plan on using this to bill a bunch of different SaaS features, which all could have different terms of use. Using the sale would allow this to be configured on a per-contract basis, which would reiterate the terms (or whatever else I want) during the payment process.

Altho

[2016-12-01 00:32] rafaelbn commented on #364
OK, thanks. One year ago @pedrobaeza and me define different modules to cover this need but we never did it, so your fresh and power are very welcome!

[2016-12-01 19:42] lasley commented on #364
@rafaelbn / @pedrobaeza - do you maybe have some links to those prior specs or convos? May help with inspiration

[2016-12-01 21:04] pedrobaeza commented on #364
I don't have any, and I think Rafa neither. It was an R&D session without any documentation left.

[2016-12-02 20:37] rgeromegnace opened #367 "Sale rental module don't work on Odoo 9.0"
Bonjour,

I installed sale rental module on Odoo 9.0 and I encountered several malfunctions.
I try to follow the old youtube demo video and I was not able to validate properly a rental sale.
When I valid my sale order, Odoo did not propose me to make a delivery so there are no stock move as expected.

Regards,

[2016-12-09 19:57] StefanRijnhart commented on #264
PR merged. Thanks for fixing this!

[2016-12-09 19:57] #264 closed, assigned to nobody

[2016-12-12 19:23] rafaelbn commented on #364
@pedrobaeza we had something defined like payment_recurring, paypal_recurring, ... with some task and descriptions. But I don't have access to that tasks anymore. It was for EyM & MPW.

[2016-12-12 21:28] pedrobaeza commented on #364
Yeah, but no way to recover it I'm afraid.

[2016-12-12 21:35] lasley commented on #364
😢

[2016-12-13 12:28] gurneyalex commented on #362
what version are you using ?

[2016-12-13 16:48] augustosamame commented on #362
Thanks for the follow up.
It turns out the module IS working, bit I misunderstood the way it works. It turns out the automations are handled by a cron, which runs at most every 1 minute. So you have to wait up to a minute for the automations to be fired.
It's a little strange to do it this way, instead of having the automation fire at sale confirmation, at least for my use case.

[2016-12-23 10:59] leemannd commented on #346
Hello, there is also sale_product_set_layout https://github.com/OCA/sale-workflow/pull/380 .

[2016-12-30 11:25] rafaelbn opened #383 "[9.0][sale_order_variant_mgmt] Error when adding direcly a variant in a SO"
1. Go to runbot
2. Create a new sale order
3. Add a customer (Agrolait for example)
4. Add a new line via "add a new element"
5. Choose a product with variant like Ipad Retina
6. Press button "Save and close"
7. You get this error:

[code]

@Tecnativa

[2016-12-30 11:33] rafaelbn opened #384 "[9.0][sale_order_variant_mgmt] Only add 1 unit pervariant eventhough you choose more"
1.     Go to runbot
2.     Create a new sale order
3.     Add a customer (Agrolait for example)
4.     Go to "Add or modify variants"
5.     Select a product template with variant like Ipad retina
6.     Input 2 unit (or more) per variant and add to sale order
7.     You will get 1 line per variant and 1 unit per line (BUG)
8.     Expected is to get 1 line per variant and 2 unit (or more) per line

[2016-12-30 15:02] rafaelbn commented on #384
This issue is solved with https://github.com/OCA/sale-workflow/pull/385

[2016-12-30 15:02] #384 closed, assigned to nobody

[2017-01-09 22:02] lasley commented on #346
sale_automatic_workflow - #391

[2017-01-13 08:44] ghost opened #392 "[10.0] sale_packaging_price import error"
When running Odoo with sale_workflow addons there is an error:
` ImportError: No module named decimal_precision`

The module remain not installable on branch 10.0, so I don't know if this is a real issue for now.

[2017-01-20 07:36] #392 closed, assigned to nobody

[2017-01-25 09:25] jonerikceberio opened #397 "sale_sourced_by_line picks incorrect partner_to_invoice"
Version 8.0
When sale_sourced_by_line inherits _get_partner_to_invoice (model/stock.py), it searches the sale order lines related to the procurement group of the picking. It is correct, but it does not check if there is a procurement group (the user can create the picking manually). In that case, it searches for all the lines without a procurement group.

[2017-01-26 17:30] Mitconsulting opened #398 "sale_properties_easy_creation"
Salve,
ho installato il modulo " sale_properties_easy_creation" sulla versione 8 di odoo ma mi sono accorto di un bug.
Premessa: ho un listino di vendita con in prezzo di vendita che cambia in base alle quantità.
Dopo aver installato il modulo e settato nella configurazione il parametro " Properties on lines",nell'inserimento delle righe all'interno di un ordine di vendita non viene più calcolato

[2017-02-14 10:42] mourad-ehm opened #408 "Split module sale_exception in 2 modules"
## **Context :**

Module sale_exception is very useful to make configurable the blocking rules on sale order.
This feature is also useful on other objects. We can for example block shipping (or invoice, ...) if some condition are fulfilled.

**Solution proposed :**
We propose to split the module sale_exception on two modules.
1) base_exception :
    this module contains the basic objects and metho

[2017-02-15 10:18] mourad-ehm opened #410 "[10.0] merge sale_payment_method and sale_quick_payment in one module"
@florian-dacosta  proposed to merge  sale_payment_method and sale_quick_payment in one module in v 9.0 (see #403 ).
I propose to make to same for v 10.0.
The views of the contributors to this module are welcome:
@sebastienbeau
@guewen
@bguillot
@lepistone
@gurneyalex
@damdam-s
@JosDeGraeve

[2017-02-16 09:08] bealdav commented on #408
Thanks @mourad-ehm

- after porting we could improve sale_exception by add state field to determine from which sale.order state we could evaluate exceptions: to make it more generic (since v9 a confirmed sale can be modified and rules must be evaluate again, and may be to different step).
- if we plan to do the item above, we could rename `base.exception` to `base.rule`, more generic way to deal w

[2017-02-16 11:39] jgrandguillaume commented on #408
Hi,

I like this idea !

:+1: for going in this direction.

[2017-02-16 20:41] lepistone commented on #410
Hi! I don't work on this anymore. I support the positions of the other contributors.Thanks!

[2017-02-17 09:50] bguillot commented on #408
Seems a good idea to me as well :+1:

[2017-02-17 13:34] yvaucher commented on #408
:+1: definitely the way to go if you need to reuse the exception base somewhere else

`base_exception` or `base_rule` module should probably go in `server-tools` repository as `date_range`

[2017-02-17 17:39] rvalyi commented on #408
cc @renatonlima I think you will be happy to use that for your invoice_exception module with the Brazilian version too.

[2017-02-23 16:37] LoisRForgeFlow opened #420 "[9.0] Runbot warning due to 'must_have_dates', 'type', 'uom_id' constrain"
In this pull request https://github.com/OCA/sale-workflow/pull/353 this fields <code>'must_have_dates', 'type', 'uom_id'</code> are added in <a href="https://github.com/akretion/sale-workflow/blob/e544824e533ef3cc67c31f7695758666a36d5f9d/sale_rental/models/product.py#L23">a constrain</a> but they are readonly in their creation (see <a href="https://github.com/OCA/sale-workflow/blob/10.0/sale_start

[2017-02-23 16:39] pedrobaeza commented on #420
Can you please make a PR removing then from the constraint decorator?

[2017-03-15 09:09] jcdrubay opened #428 "[10.0] sale_product_set: should it be split in 2 modules? product_set and sale_product_set"
@leemannd

For a future project, I would probably need to use the concept of `product_set`, but I need a different implementation on the sale order.

I think we could split the module into 2 modules:
 - product_set
 - sale_product_set

Could it be added in the Roadmap?

[2017-03-18 17:05] technicomp opened #430 "Add Set when not in edit mode"
It is possible to Add a set while Quotation / SO is not in edit mode. It is also saved automatically since there is no "Save" Button. I think changes to a SO should only be possible when in Edit mode.

[2017-03-18 17:13] pedrobaeza commented on #430
That's not the way standard Odoo framework works, so the answer is no.

[2017-03-18 17:13] #430 closed, assigned to nobody

[2017-03-18 18:09] technicomp commented on #430
This was not a question, this was a bug report - right now it is possible to add a set even when the SO is not in edit mode - this should not be possible!

[2017-03-18 18:11] pedrobaeza commented on #430
That's exactly the intended behavior as stated.

[2017-03-18 18:19] technicomp commented on #430
Ok, thanks for clarifying so we seem to have the same understanding of what I mean. I guess then the problem must be on my side and I don't understand the concept of edit / save buttons in odoo. May I ask what the intention behind this behavior is?

[2017-03-18 18:22] pedrobaeza commented on #430
When pressing a button, there's an automatic save operation before the execution of the button, so it's a nonsense to be on edit mode when in reality, you have already saved pressing the button. Adding a set is not undoable operation that you can discard pressing the corresponding button.

[2017-03-18 18:32] technicomp commented on #430
Ok, I get you. I was looking at it more from a users point of view when opening an existing SO -I would not expect being able to make changes to the sales order without previously pressing the "edit" button. What I would have expected from the users point of view is that the button simply doesn't show up as long as I am not in edit mode. But I am quite new to Odoo and some thing seem to be a littl

[2017-03-21 07:46] pedrobaeza commented on #408
Closed to track the rest of the discussion in #775

[2017-03-21 07:46] #408 closed, assigned to nobody

[2017-03-21 07:46] pedrobaeza commented on #420
The PR is done, so I close.

[2017-03-21 07:46] #420 closed, assigned to nobody

[2017-03-21 07:47] pedrobaeza commented on #428
Yes, it's a good idea. Please make a PR with this roadmap.

[2017-03-21 07:47] pedrobaeza commented on #410
Can you tell about the arguments for the join?

[2017-03-21 07:48] pedrobaeza commented on #398
I close as this is an international forum and messages should be posted in English.

[2017-03-21 07:48] #398 closed, assigned to nobody

[2017-03-21 07:49] pedrobaeza commented on #397
Can you please make the PR amending this?

[2017-03-21 07:50] pedrobaeza commented on #383
Fixed in #421

[2017-03-21 07:50] #383 closed, assigned to nobody

[2017-03-21 07:50] pedrobaeza commented on #367
@alexis-via can you help?

[2017-03-21 07:51] pedrobaeza commented on #363
I'm removing it then.

[2017-03-21 07:51] #363 closed, assigned to nobody

[2017-03-21 07:52] pedrobaeza commented on #356
Closing as there's not enough information.

[2017-03-21 07:52] #356 closed, assigned to nobody

[2017-03-21 07:52] pedrobaeza commented on #344
Answered, so I close.

[2017-03-21 07:52] #344 closed, assigned to nobody

[2017-03-21 07:55] pedrobaeza commented on #330
@hugosantosred can you help with this issue?

[2017-03-21 07:57] pedrobaeza commented on #318
Use last version.

[2017-03-21 07:57] #318 closed, assigned to nobody

[2017-03-21 07:57] pedrobaeza commented on #296
Answered, so I close.

[2017-03-21 07:57] #296 closed, assigned to nobody

[2017-03-21 07:58] pedrobaeza commented on #267
Fixed, so I close.

[2017-03-21 07:58] #267 closed, assigned to nobody

[2017-03-21 07:59] pedrobaeza commented on #255
@atchuthan is this fixed?

[2017-03-21 07:59] pedrobaeza commented on #220
No answer, so I close.

[2017-03-21 07:59] #220 closed, assigned to nobody

[2017-03-21 07:59] pedrobaeza commented on #238
@oihane can you check this issue?

[2017-03-21 08:00] pedrobaeza commented on #215
@oihane, can you check this again?

[2017-03-21 09:51] florian-dacosta commented on #410
The module sale_payment_method from v8 implement a few features we do not require in v9 and +.

First, the payment_method model is replaced by the account_payment_mode model from https://github.com/OCA/bank-payment repository. Before, we had 2 models for the same thing...

Second, The sale_payment_module was implementing a way to add payment for a sale order, in order to be re-used in sale_quick_p

[2017-03-21 15:15] hugosantosred commented on #330
@bunhin I couldn't reproduce the bug.

I've tried with a template with 4 variants, some of them has a pricelist item defined, when I select that template and add units of the variants with the "Add Variants" button in the sale order, the prices are the same that are defined in the pricelist.

Do you have instaled any module to change the behaviour of prices on variants? The customer pricelist has

[2017-03-21 15:18] pedrobaeza commented on #330
Closing then until further notice.

[2017-03-21 15:18] #330 closed, assigned to nobody

[2017-03-23 01:15] lasley opened #435 "[RFC] sale_tax_us: Avalara Tax Connector"
This module will provide tax calculations via the [Avalara Tax Rates API](http://taxratesapi.avalara.com/docs). Odoo Enterprise currently supports this, but Community was left to fend for themselves. Luckily, that's where OCA comes in!

It will hide the existing Avalara tax option in the Odoo UI, and add an identical checkbox - but for the community version. When checked, a field will be provided

[2017-03-23 02:45] fhe-odoo commented on #435
Regarding your first paragraph:
1. Odoo Enterprise does not support Avatax (are you confused with Taxcloud?).
2. Odoo Community (v7, v8, and v9) supports Avatax, see https://www.odoo.com/apps/modules/browse?search=avatax

So it doesn't seem like Odoo Community is left to fend for itself.

[2017-03-23 04:54] lasley commented on #435
Thanks for the response @fhe-odoo. Interesting so yeah in my head the two solutions, Taxcloud & Avatax, were one in the same. I saw that the Avatax one was by Odoo SA, but I didn't see it in the community code, so I immediately correlated it to the existing EE feature.

Would you have any reservations to me bringing your connector to OCA for v10?

[2017-03-23 05:13] fhe-odoo commented on #435
@lasley You can do anything you'd like that respects the LGPL3 license of this module. I don't think you can transform LGPL code into AGPL (especially considering the virality level of AGPL), and OCA only accepts AGPL-licensed code if I'm not mistaken (to check).

[2017-03-23 05:17] lasley commented on #435
@fhe-odoo - yeah I know I can do anything in regards to the license, I was just more wondering where you'd like to keep the code. I'm assuming because it's in your repo, you wrote it? Figured if you wanted to keep it there, I would just upgrade it there.

OCA accepts any GNU license, so LGPL is not a problem. It's actually my preferred to be honest.

[2017-03-23 05:26] fhe-odoo commented on #435
@lasley  Up to you, you can copy and upgrade to v10 in an OCA repo if that helps (but not sure you can keep the v10 under the same module umbrella than v9 on Odoo Apps since repos are owned by different people).

[2017-03-23 05:30] lasley commented on #435
@fhe-odoo - We can definitely keep it under the same umbrella. We've had this happen accidentally  - which kind of sucks, but it's quite cool when we coordinate it correctly. Basically migrating it into OCA would be us taking over maintenance of it going forward. When on the Apps store, the author & repo just dynamically updates as you change versions.

So sounds like a plan then, my team will mig

[2017-03-23 07:27] pedrobaeza commented on #435
@lasley This should be hosted in OCA/l10n-usa, not here.

[2017-03-27 12:34] leemannd commented on #428
@jcdrubay If it makes sense for you to have a different implementation, you're welcome. Just a question, what are you trying to achieve?

[2017-03-27 12:41] jcdrubay commented on #428
@leemannd I wish to add a product (set) as the product in my sale order line. Then upon confirmation of the sale order, I will create child objects which will then use the "set lines".

I guess it is similar to using the bom with type phantom but without having to depend on MRP and all its dependencies.

[2017-03-27 14:39] pedrobaeza commented on #428
@jcdrubay, for that, you have to see https://github.com/OCA/product-attribute/pull/180, but it's still WIP (we have abandoned for now the project), but the idea is to have full support of procurements and so on.

[2017-03-28 08:00] ch-aurich opened #438 "sale_order_revision not working for copied sale order"
Today I found a bug in sale_order_revision. Here is what we are experiencing:
- copy an existing sale order (our sales department does this quite regularly to avoid to add all positions to a sale order if it is similar than an existing one): original: SO25613 / copy: SO25699
- change the sale order to the new order we received (SO25699)
- confirm the new sale order (SO25699)
- abort the sale order

[2017-03-28 08:02] ch-aurich commented on #438
I am not too familiar with odoo programming, but I suspect that function copy in sale_order_revision/model/sale_order.py needs an additional branch that sets the "unrevisioned_name" field in case it is a simple copy and not a "self.env.context.get('new_sale_revision')" copy...

[2017-03-29 19:44] bistaray commented on #435
@lasley - are you still planning on doing this - we just had a prospect ask if AvaTax was supported at v10 and it would be great if we could pass on accurate information about plans for a port (or not, as the case may be).

[2017-03-29 19:54] lasley commented on #435
@bistaray - We are. I performed some migration steps during my scoping in [this branch](https://github.com/LasLabs/l10n-usa/tree/release/10.0/avatax_connector), and the rest of the work is scheduled two sprints from now.

[2017-04-02 14:19] technicomp opened #441 "Sale Product Set does not log changes in chatter"
module: sale_product_set
version: 10.0

**Steps to reproduce**
- Create a quotation and add a set.
- Save

**Current behavior**
- quotation is automatically saved (which by the way is a bit annoying, but as I undersand, there is no way to change this behaviour) and set is added.
- No entry in chatter about the changes done to the quotation

**Expected behavior**
- one of the strenghts of odoo´s ch

[2017-04-03 17:12] aek opened #442 "Sale Team Security Rule for res.partner"
I have done this rule to restrict res.partner in v9 based on the sale.team and I get some issues in some specific actions like user preference and the opportunities menu and I get it solved by adding permission to the partner of the current user in the domain of the rule. I think that the same could be happening on the module:
https://github.com/OCA/sale-workflow/tree/8.0/sales_team_security
My ru

[2017-04-03 17:13] pedrobaeza commented on #442
Please try on runbot to confirm and if so, make a PR solving it.

[2017-04-03 18:32] aek commented on #442
It's working ok for v8, my issue was with v9

[2017-04-03 18:32] #442 closed, assigned to nobody

[2017-04-03 18:52] pedrobaeza commented on #442
But isn't the module also in v9?

[2017-04-03 18:54] aek commented on #442
No, it doesn't

[2017-04-03 19:05] pedrobaeza commented on #442
Ok

[2017-04-05 08:56] LoisRForgeFlow commented on #223
Migration of <code>partner_prepayment</code> might be not needed as the feature provided is covered in https://github.com/OCA/sale-workflow/pull/434. What do you think?

[2017-04-10 08:14] sebastienbeau opened #444 "RFC - Global discount on sale order and invoice"
# Aim
- having the possibility to add manually a global discount on the sale order or invoice (percentage or amount)
- being a based module for a cart discount rule module. A cart discount rule can be cumulative or not and will add one or more global discount on the sale order / invoice

# Implementation

[code]

When adding a discount line on a sale order. We automatically add one or more hidden

[2017-04-10 08:46] pedrobaeza commented on #444
You should also treat the transfer to invoice and the accounting treatment.

[2017-04-10 09:20] sebastienbeau commented on #444
Yes, this is why we add sale order line so there are already transfert to the invoice and process in accounting

[2017-04-10 09:59] sebastienbeau commented on #444
@pedrobaeza I have updated the description

[2017-04-10 10:20] bealdav commented on #444
:+1:

[2017-04-10 11:42] lfreeke commented on #444
:+1:

[2017-04-10 15:11] fclementic2c commented on #444
@sebastienbeau Yes are right about the VAT. Invoicing will follow even if multiple invoices. Ok on the principle.

[2017-04-10 22:35] elicoidal commented on #444
:+1:

[2017-04-11 07:34] zakiuu commented on #444
👍

[2017-04-11 13:59] LoisRForgeFlow commented on #223
<code>sale_validity</code> is in https://github.com/OCA/sale-workflow/pull/447

[2017-04-12 04:48] kittiu opened #448 "Asking to submit new addon - Split Quotation and Sales Order (as separate document)"
Hi,
I would like to submit our frequently used module, sale_split_quote2order.
Are there similar module already exists, and/or will this module be useful enough to be in OCA?
Here the link, now is for v8.
https://github.com/pabi2/pb2_generic/blob/master/sale_split_quote2order

**Short Description:**
This module separate quotation and sales order by adding type (quotation, sale_order) in sale.order

[2017-04-12 07:18] pedrobaeza commented on #448
I don't think so. Just follow guidelines and make the PR. Maybe the name should be changed, as quote2order implies a transformation. Maybe sale_isolated_quotation?

[2017-04-12 09:02] kittiu commented on #448
@pedrobaeza , ok, the "sale_isolated_quotation" is fine. We will start working on it, and will do the PR once we finish.

Thanks!

[2017-04-14 21:21] lasley opened #452 "[RFC] sale_calendar_resource: Selling Calendar Event Resources"
This module will provide the ability to sell resource allocations, which can be used for purposes such as medical appointment scheduling.

[product_service_duration](https://github.com/OCA/product-attribute/pull/251) will be a dependency, which adds a relation to `resource.resource` on `product.template`.

A `calendar_event_id` field will be added to `sale.order.line` to relate a line to a specifi

[2017-04-14 21:22] lasley commented on #452
@jbeficent - this was another piece of the `medical_appointment` upgrade/billing

@dreispt - you might be interested too

[2017-04-15 11:29] jcdrubay commented on #428
In my case it is a bundle of service products which much more simple than this OCA/product-attribute#180 because there is no stock involved, but later with a different complexity because I will plug it to the project management.

For instance I put the product "ERP Project" in my sale order, upon sale order confirmation I will generate several project tasks:
 - Analysis
 - Implementation
 - Tests

[2017-04-15 12:17] pedrobaeza commented on #428
For that task see sale_service_project module. It's exactly that need.

[2017-04-17 09:22] dreispt commented on #452
I have no direct interest in this feature but, since its being abstracted away form medical appointments, it's relevant to identify other possible use cases, to be taken in account.
I can think of: sell tickets from specific places (cinema, event room chairs); sell numbered places in transportations (trains, buses, ...).

[2017-04-17 16:34] lasley commented on #452
In the instances of selling tickets to specific or numbered places - would each "place" (bus seat, stadium seat, etc) be considered a resource of its own?

[2017-04-18 11:02] dreispt commented on #452
Yes. It may sound an overkill in case the "seat" numbers are lenar, but in many cases they aren't:
think about resort hotels, for example.

[2017-04-18 16:45] lasley commented on #452
Sweet that makes perfect sense. Even in the case of linear, there could be instances in which a resource is not available but the other ones are - Maybe the chair broke or something.

[2017-04-19 07:20] dreispt commented on #452
Yes, good point.

[2017-04-24 03:13] yostashiro opened #453 "[10.0] Inconsistent domain application for lot_id in sale_order_lot_selection"
sale_order_lot_selection prevents you from selecting a lot/serial with no quantity on hand when you create an SO line with this method https://github.com/OCA/sale-workflow/blob/78c3c0ac7040dd3555a889f14ee5bb475cd521b5/sale_order_lot_selection/model/sale.py#L16-L31

[code]

However, as the logic is triggered with onchange, the logic is not applied to already saved records.  In my opinion, this meth

[2017-04-24 21:13] max3903 commented on #435
:+1: To move it to https://github.com/OCA/l10n-usa

[2017-05-02 10:53] kittiu commented on #448
The module is ready for review. Thank you!
https://github.com/OCA/sale-workflow/pull/457

[2017-05-03 12:17] abdallamhafeez opened #458 "[8.0] sale_rental issue in Return Stock Move"
Hello
I have issue in rental when view status i cannot find "Return Stock Move". I trace issue and found that field name "procurement_id" is false in "stock.move" for incoming. As commit in odoo
https://github.com/odoo/odoo/commit/fe15829c1664c00bc64874af4f504eaffbe1c12f
They add 'procurement_id': False" in "_prepare_push_apply" function so when system create push rule and create new line, New sto

[2017-05-04 14:14] angedras commented on #346
migrating sale_order_line_variant_description from 8.0 to 10.0

[2017-05-10 09:20] aignermi opened #466 "Sales Order not delivered although all Procurement Orders are done"
We are using the MTO/MTS module on our Odoo/Magento setup, to automatically create PO's when a ordered product is not on stock. We are experiencing on some orders the problem that although all Procurement Orders are done (eg all PO lines are received), the Sales Order is still not delivered (shipped=FALSE).

I checked the code in sale-workflow-8.0/sale_procurement_group_by_line/model/sale.py and i

[2017-05-12 07:08] colmed opened #467 "Sale Lot Selection"
sale lot selection module not working properly with existing database, it will through the error when click on **confirm sale** and error is **TypeError: _prepare_procurement_from_move() takes exactly 2 arguments (1 given)**
can any buddy help me resolve this problem

[2017-05-12 07:11] yostashiro commented on #467
Haven't got the time to further follow up, but I made a PR for this issue: https://github.com/OCA/sale-workflow/pull/460

[2017-05-12 16:25] lmignon commented on #346
sale_automatic_workflow_payment_mode #471

[2017-05-12 23:03] rogerv95 opened #472 "[10.0] Module sales_rental creating Procurement Exceptions"
I've been trying to set up the rental module for odoo community version 10.0 but I can't get it to work. I've been able to use it in older versions (v7, v8) but not in v10. I follow all the instructions for the new version and I know the workflow from the older versions but in this one the rental never works.

The creation of the product variation for rental works fine but when I create a sales or

[2017-05-15 09:30] dvdhinesh commented on #472
@rogerv95 I suggest you to take a look at this [video...](https://youtu.be/7T8nmOYncjw)
You should enable the **Properties on lines** access rights for the users. Without this access, user has no way to enter the **Rental Quantity.**

@alexis-via Will it be considered as a bug? This is the same for V9 also.

[2017-05-15 10:22] alexis-via commented on #472
@dvdhinesh This is well documented in the README of sale_rental so I don't we can consider it as a bug. But, what we should do, is automatically add all users in the "Properties on lines" group when installing the sale_rental module via a post_install script or something like that....

[2017-05-15 12:22] rogerv95 commented on #472
Thanks @alexis-via  and @dvdhinesh for the video! I can't understand how I missed that at the end of the readme file.
Now is working completeley fine and I'm able to create orders but something weird happens. In your video I see that if you order 1 macs for 3 days and the delivery order shows 1 mac to deliver. Well, I've tried in my server with my normal install and a clean install and when I add

[2017-05-15 19:23] StefanRijnhart commented on #303
@andhit-r came across this bug only today. I believe it to be fixed with #473. On that PR's runbot, it is possible again to copy sale orders again.

[2017-05-17 06:24] Razgort opened #474 "Issue On confirm sale : sale workflow exception"
Hi,

I'm integrated Odoo connector prestashop in my Odoo 9 OCB version.
The connector is installed. But when i want to make a sale on odoo, i get this error iin the screen bellow
![screen shot 05-17-17 at 08 23 am](https://cloud.githubusercontent.com/assets/9212658/26141068/4459d638-3ada-11e7-9305-03c26087538d.PNG)

So i have a quotation that i want to turn into a complete sale and i get the error

[2017-05-18 15:43] kittiu commented on #346
sale_cancel_reason #477

[2017-05-24 13:56] alexis-via commented on #472
@rogerv95 the bug on the qty has been fixed several a few weeks ago (although the merge in OCA is recent). Please update your code.

[2017-05-30 08:14] #303 closed, assigned to nobody

[2017-05-31 19:18] alexis-via commented on #472
@rogerv95 Could you approve the PR I made for you ? Here it is: https://github.com/OCA/sale-workflow/pull/484

[2017-06-05 04:59] kittiu opened #490 "Question: Should we mark addon from Unported section, given it will is no longer relevant for an Oodo version?"
If some modules are no longer relevant from v8 to v10 version of Odoo, especially when there are big changes in the data structure. Should we notify the project maintainer and/or should be marked or removed from this table?
https://github.com/OCA/sale-workflow#unported-addons

[2017-06-05 06:29] pedrobaeza commented on #490
If there are modules that no longer be needed on a new version, just make a PR removing them, and they will be also auto-removed from the table next time the update script will auto-run.

[2017-06-05 06:29] #490 closed, assigned to nobody

[2017-06-05 12:35] rafaelbn commented on #490
This cases are mainly modules that in new versions are included in Odoo core. @kittiu Which modules do you mean ? Thanks 😄

[2017-06-05 13:05] kittiu commented on #490
@rafaelbn for example, I came across, https://github.com/OCA/hr/tree/10.0/hr_expense_invoice
This one, (I think), is used to via expense to supplier. But since, the v10 already have feature to pay expense to supplier, plus expense model now is completely revamped, so to me it is not required to upgrade.
Sorry, my example is not in sale-workflow.
What @pedrobaeza is well understood and I will do th

[2017-06-06 11:34] rafaelbn commented on #53
this is already solved

[2017-06-06 11:34] #53 closed, assigned to nobody

[2017-06-11 12:34] blutecsolutions commented on #346
Can we have a migration for:
sale_order_price_recalculation

?

[2017-06-12 07:27] pedrobaeza commented on #346
Do you want to make the migration or are you asking if someone is going to migrate the module?

[2017-06-15 18:06] bistaray commented on #435
I agree to move this.

@lasley - any update on the completion status?

[2017-06-15 18:09] lasley commented on #435
@bistaray - there was a lot of functionality in the module that did not work + a lot of missing tests, so progress is slow going. We are working on it [here](https://github.com/LasLabs/l10n-usa/tree/release/10.0/avatax_connector), but priority is low.

cc @obulkin

[2017-07-10 10:29] Daniel-CA commented on #215
This bug is fixed, can be closed.

[2017-07-10 10:30] #215 closed, assigned to nobody

[2017-07-13 10:33] JuaniFreedoo opened #508 "Sale Order Revision - Lines not canceled"
When doing an order review, order is cancelled and also  lines should be,  but instead,  when generating order lines information  they are still listed.

[2017-07-23 02:59] seancallahan88 opened #511 "[10.0] sale_automatic_workflow - shipping policy setting"
If a workflow is set on a sale with shipping setting "Ship products when some are available, and allow back orders" (setting applied in either Sales-Settings or Workflow Automation Configuration) and "Confirm and Transfer Picking" then the "Confirm and Transfer Picking" does  not perform as expected.

Expected behavior: One validated picking for available products, One backorder created and in wai

[2017-07-23 03:10] seancallahan88 commented on #511
Just wanted to add that if you change the default picking domain to include 'partially_available' you get this error:

2017-07-23 03:09:09,973 3915 ERROR test odoo.addons.sale_automatic_workflow.models.automatic_workflow_job: Error during an automatic workflow action.
Traceback (most recent call last):
  File "/var/lib/odoo/custom_addons/sale_automatic_workflow/models/automatic_workflow_job.py", l

[2017-08-10 03:24] berpweb commented on #346
@darshan-serpent Hi, do we have an update regarding the module `sale_sourced_by_line` that you guys are working on?

[2017-08-22 11:05] msadiq1411 commented on #346
Is anyone migrating: v8. `sale_line_quantity_properties_based`  to v10.0?

[2017-08-22 11:08] pedrobaeza commented on #346
It doesn't seem so, but properties are removed in v10, so I don't think it can be migrated.

[2017-08-22 11:32] msadiq1411 commented on #346
Ok is there anything similar out there, in the app market ?

[2017-08-22 11:38] pedrobaeza commented on #346
Check it out yourself. I'm not aware of anything outside OCA.

[2017-08-31 16:21] JordiBForgeFlow opened #521 "[RFC][sale_line_discount_fixed_amount]"
This is an RFC proposing an approach to handing fixed amount discounts in sales orders. See https://github.com/OCA/account-invoicing/issues/310 for fixed amount discounts in invoices.

Sale Line Discount Fixed Amount
=========================
* Introduces a 'Discount (Fixed amount)'
* A user cannot enter both a 'Discount (%)'  and 'Discount (Fixed amount)'  (constraint).
* The total sales amount i

[2017-09-23 21:54] JordiBForgeFlow opened #529 "[sale_sourced_by_line] To be discontinued?"
I have recently been quite embarrassed by a Tweet from Fabien questioning the purpose of this module https://twitter.com/fpodoo/status/911511134817193984.

And he's right. Technically you can create a Route, applicable on sales order lines, that will create a separate picking, to be sourced from a separate warehouse.

![image](https://user-images.githubusercontent.com/7683926/30777332-802bdff0-a0b

[2017-09-25 07:34] SimoRubi commented on #346
Hi,
I'm working on the migration of module [sale_order_line_description](https://github.com/OCA/sale-workflow/tree/8.0/sale_order_line_description)

[2017-09-25 07:41] pedrobaeza commented on #346
OK, noted

[2017-09-25 14:47] yvaucher commented on #529
@jbeficent This is a dependency for the modules #oca/vertical-ngo/logistic_order (dependency on sale_sourced_by_line_sale_transport_multi_address) and #oca/vertical-ngo/logistic_requisition

In this context of NGO we transformed the sale order into a logistic order. On the logistic order it was required to be able to set by hand a specific warehouse. And we needed the traceability in a context of

[2017-09-26 09:28] dvdhinesh commented on #529
AFAICT we can do that by Pull rule but like @pedrobaeza mentioned on that tweet this module eases the complexity and it is pretty straightforward for the end user on the UI. :1st_place_medal:

We are using this module for a company that let the user place order on their Magento site as well as employees on the backend. User/Employee can choose the preferred warehouse per line while placing the ord

[2017-09-26 13:33] ThijsvOers commented on #529
Hi,
I have read this thread on choosing the warehouse on order line level and i want to add some extra info that may be useful if you want to extend the functionality.

I have worked for a software company with a deep vertical solution for the retail business (furniture). We had companies that had different stores in different cities. All these stores were in one database, and used the same produc

[2017-10-03 14:58] pedrobaeza opened #538 "Migration to version 11.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0

# Modules to migrate

- [ ] account_invoice_reorder_lines
- [ ] mail_quotation
- [ ] partner_prepayment
- [x] partner_prospect - By @oihane - #550
- [ ] pricelist_share_companies
- [ ] product_customer_code_sale
- [ ] product_special_type - By @HirenDangar - #902
- [ ] product_special_type_invoice
- [ ] product_special

[2017-10-10 21:50] BusinessTec opened #545 "Product quantity in the invoice is always the same as the original sale order"
module: sale_partial_invoicing
version: 8.0

**Steps to reproduce**
- create sale order
- create invocie, select lines of sale order
- select any line in sale order and modify qty to make it lower then that of SO
- view invoice draft

**Current behavior**
Product quantity in the invoice line is the same as in the sale order
**Expected behavior**
Product quantity in the invoice line is the same as

[2017-10-11 18:03] wangsamas opened #546 "Odoo 10 installation fail"
Hi, I get this error

Traceback (most recent call last):
  File "/opt/bitnami/apps/odoo/lib/odoo-10.0.post20170915-py2.7.egg/odoo/http.py", line 640, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/bitnami/apps/odoo/lib/odoo-10.0.post20170915-py2.7.egg/odoo/http.py", line 677, in dispatch
    result = self._call_function(**self.params)
  File "/op

[2017-10-25 15:57] oihane commented on #538
partner_prospect https://github.com/OCA/sale-workflow/pull/550

[2017-11-01 07:32] JordiBForgeFlow opened #557 "[10.0][sale_order_revision] Order Reference and revision must be unique per Company."
Hi,

The error 'Order Reference and revision must be unique per Company.' constantly appears in runbot, and totally prevents a user from confirming new orders.

Not sure yet why this happens, but it is very annoying in this repo.

[2017-11-08 09:39] dvdhinesh commented on #511
@seancallahan88
I hope this bug was related to this PR #531
Once it was merged in V9, i will make a PR to V10.
Meanwhile test the patch and make a review.

[2017-11-08 10:34] seancallahan88 commented on #511
I ended up making my own changes which is exactly what you have :

 for picking in pickings:
            with savepoint(self.env.cr):
                picking.validate_picking()

and it works fine

except commit vs savepoint...unsure about this because savepoint is used in all the v10 workflow functions....I am unclear on the reason why this was changed?

[2017-11-09 04:34] dvdhinesh commented on #511
@seancallahan88 Take a look at this commit: f58b31aea46695d1f7112e1dc9076c627c3e73f5
It was `commit` till V9 and upgraded to `savepoint` from V10

[2017-11-16 16:19] lasley commented on #435
We've decided to entirely scrap the Avatax module, and Avatax in general. The provider we have now chosen is TaxJar, and a PR is available https://github.com/LasLabs/odoo-connector-taxjar/pull/1 for an initial version. Closing this

[2017-11-16 16:19] #435 closed, assigned to nobody

[2017-11-24 18:12] LoisRForgeFlow commented on #557
Just found the same issue while reviewing https://github.com/OCA/sale-workflow/pull/572#issuecomment-346877482

[2017-11-28 11:46] simahawk commented on #538
sale_product_set @simahawk #574

[2017-11-28 16:02] simahawk commented on #538
sale_exception @simahawk #576

[2017-12-06 10:55] Mitconsulting opened #578 "Italian translation bug in Calendar menu (odoo 9.0)"
I found a bug in the Italian translation. Every time I edit an appointment in the calendar I get the following error. In English it works without problems.

Odoo Server Error

Traceback (most recent call last):
  File "C:\Program Files\Odoo 9.0-20160115\server\.\openerp\http.py", line 643, in _handle_exception
  File "C:\Program Files\Odoo 9.0-20160115\server\.\openerp\http.py", line 680, in dispa

[2017-12-20 13:14] eLBati commented on #578
@Mitconsulting which module do you think it's involved?

[2017-12-20 13:25] Mitconsulting commented on #578
I solved. I have updated the version of odoo.9

[2017-12-20 13:37] #578 closed, assigned to nobody

[2018-01-01 15:22] #210 closed, assigned to nobody

[2018-01-18 14:30] SimoRubi commented on #346
Hi,
I've migrated the module [sale_quotation_number](https://github.com/OCA/sale-workflow/tree/8.0/sale_quotation_number) in #591, please close old PR #518.
Thanks

[2018-01-18 15:20] Cedric-Pigeon opened #592 "[10.0] New feature: blanket sales order management"
One of my customers needs to manage blanket sales orders. I cannot find any thing fitting my needs neither in core neither in OCA. So I am planning to implement a new simple module.

My idea is to create a new object "Blanket Order" with these attributes:

- Customer
- Pricelist
- Payment terms
- Validity date
- State (Draft, Opened, Expired)
- List of products with proposed quantity and price

Th

[2018-01-19 12:56] sbidoul commented on #592
This reminds me of this thread.

https://odoo-community.org/groups/contributors-15/contributors-60794

[2018-01-19 13:07] Cedric-Pigeon commented on #592
Indeed there are similarities except for the recurring part.
On a blanket Order, the customer decides to order/consum whenever he wants.

[2018-01-27 07:30] gentooza opened #598 "[8.0] sale_rental installation error and fix"
Hi!

we couldn't install sale_rental in our odoo 8.0 with an import rental.py error.

so we noticed it had in it' s __init__.py:
`from . import rental`
when it should be:
`import rental`
as rental appears to be in the root folder of the module.

for us now it's working
cheers!

[2018-01-29 13:04] vinclar opened #599 "[Odoo 10.0] Incompatibility between sale_order_margin_percent and sale_order_revision"
Odoo 10.0 CE
Affected modules: sale_order_margin_percent and sale_order_revision
When you try to create a sale order revision with margin percent installed, it throws this error.
After uninstall sale_order_margin_percent it disappears
Traceback (most recent call last):
  File "/odoo/odoo-server/odoo/http.py", line 640, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exce

[2018-01-29 13:12] rousseldenis commented on #599
@vinclar No, the error is located only in sale_order_margin_percent.

@rafaelbn The compute method is multi by default.

[2018-01-30 10:43] OpenCode commented on #538
sale_order_line_date https://github.com/OCA/sale-workflow/pull/600

[2018-01-30 15:01] vinclar commented on #599
Do I need to change the title to make it mor visible to the developers?
There is also an incompatibility between sale_isolated_quotation and sale_order_revision

[2018-02-02 22:17] rsullivan2704 opened #601 "[10.0] [BUG] [sale_isolated_quotation] Doesn't follow sale.quotation sequence if sale.view_order_form has "name" field set to readonly="0""
module: sale_isolated_quotation
version: 10.0

### Steps to Reproduce:

1. Install the sale_isolated_quotation module in a new database
1. Activate debug mode
1. Navigate to **Sales** > **Quotations** and click **Create** to show the form view
1. Edit the view (sale.view_order_form) and change `<field name="name" readonly="1"/>` to
 `<field name="name" readonly="0"/>` (on or near line 25)
1. Refre

[2018-02-07 15:35] JayVora-SerpentCS commented on #538
sale_commercial_partner #606

[2018-02-09 13:50] hugosantosred commented on #538
sale_automatic_workflow_payment_mode #608

[2018-02-22 07:39] benwillig opened #612 "Project/Tasks created from a SO"
**Version: 11.0**

A project can be created during the sale confirmation if the order lines contains a service product with the proper configuration. Sometimes, even if the SO has not been officially confirmed, some work is done and you want to track your employee's timesheets. But you can't do that because you have to confirm the SO. The idea would be to allow users to create the project/tasks re

[2018-02-22 07:39] benwillig commented on #612
cc @sbidoul @phschmidt

[2018-02-27 09:45] sbidoul commented on #612
:+1: This is useful in situations when work on project must be done in anticipation of the order confirmation.

I think we should not add additional constraints of this kind (unless the data becomes corrupted as inconsistent as a result of changing it).

Basically, this module should more or less do the same behaviour as confirm/reset to draft/confirm wrt project and task creation.

[2018-03-29 07:47] AMhadhbi commented on #223
@pedrobaeza  what about module sale_quick_payment. it should be migrate or it is already merged with other module? thanks

[2018-03-29 07:50] pedrobaeza commented on #223
@AMhadhbi modules that weren't present in the repository when the 9.0 branch was created are not populated automatically in this list, but if it deserves to be migrated, we can add it.

[2018-03-29 08:02] florian-dacosta commented on #223
@AMhadhbi you can check this : https://github.com/OCA/sale-workflow/pull/403

[2018-03-29 08:18] AMhadhbi commented on #223
@florian-dacosta Thank you. I check it, you are right sale_quick_payment depend on sale_payment_method. also  **sale_payment_method** not already migrated.
@pedrobaeza  should migrate sale_payment_method? then migrate sale_quick_payment. and we will migrate to version 10 and v11. or we will work on this pull request  #403 and merge them with sale_payment. what do you suggest?

[2018-03-29 08:20] pedrobaeza commented on #223
Well, I don't know both, but it seems that #403 is in good shape, and accounting has changed a lot in v9, so probably go for this PR is a better option.

[2018-03-29 08:27] florian-dacosta commented on #223
sale_payment was meant to replace sale_quick_payment + sale_payment_method.
I should have notified that here actually, my mistake.

@AMhadhbi sale_payment_method should not be migrated, because the sale.payment model has been replaced by account.payment.mode, which is implemented here : https://github.com/OCA/bank-payment/tree/9.0/account_payment_mode

[2018-03-29 08:42] AMhadhbi commented on #223
@florian-dacosta very good.  you already answer my question how to replace object payment.method thank you very much.
sure your PR is a good way. sale_quick_payment will be replaced with sale_payment and sale_payment_method already migrated with account_payment_mode. Perfect !

[2018-04-02 17:29] bealdav opened #622 "sale_rental 'must_have_dates' field trigger warning"
Impacted versions: v10

### Steps to reproduce:
Trigger test on sale_rental: `-u sale_rental --test-enable`

### Current behavior:
` WARNING db odoo.models: method sale.order.line._check_sale_line_rental: @constrains parameter 'must_have_dates' is not writeable`

see https://runbot2.odoo-community.org/runbot/static/build/3321760-516-828b35/logs/job_20_test_all.txt

https://github.com/OCA/sale-work

[2018-04-05 15:18] pedrobaeza commented on #546
This seems to be something related to the deployment, as the module is installed in runbot without problems. Please try to reproduce the problem in runbot:

https://runbot.odoo-community.org/runbot/167/10.0

and report back.

Meanwhile, I close this.

[2018-04-05 15:18] #546 closed, assigned to nobody

[2018-04-05 15:19] pedrobaeza commented on #545
That's not the official OCA addon, so it can be because of that. Closing this.

[2018-04-05 15:19] #545 closed, assigned to nobody

[2018-04-05 15:19] pedrobaeza commented on #557
Is this still happening?

[2018-04-05 15:21] pedrobaeza commented on #592
Closing as there is now an opened PR.

[2018-04-05 15:21] #592 closed, assigned to nobody

[2018-04-05 15:21] pedrobaeza commented on #598
No, that's called a relative import, and it's correct. The problem is in your deployment method and PYTHONPATH you are using.

[2018-04-05 15:21] #598 closed, assigned to nobody

[2018-04-05 15:22] pedrobaeza commented on #367
Closing this for triaging it.

[2018-04-05 15:22] #367 closed, assigned to nobody

[2018-04-05 20:49] #622 closed, assigned to nobody

[2018-04-06 13:16] LoisRForgeFlow commented on #557
I guess not, but I got a different one while checking on the runbot:

[code]
The error raises when trying to save a sales order. I think it is related to `sale_generator`

[2018-04-06 14:02] pedrobaeza commented on #557
Yeah, it can be...

Closing this issue. Feel free to open another for the other problem.

[2018-04-06 14:02] #557 closed, assigned to nobody

[2018-04-07 08:59] apesquero opened #629 "Module sale_triple_discount: 1 failures, 0 errors in test Travis-ci"
Hello, testing my module, I'm seeing that in "travis" I see an error related to sale_triple_discount, which has no relation to my module.
https://travis-ci.org/OCA/sale-workflow/jobs/363434923

On the other hand,

I have also verified that within runbot there are problems in putting products in the line items related to the error:

Unknown field is_template in domain [["is_template", "=", true]]

[2018-04-07 12:08] apesquero commented on #629
Making a few simple changes and reversing those changes, to leave it as it was, now does not give problems the test sale_triple_discount.
https://travis-ci.org/OCA/sale-workflow/jobs/363471961

What could be the reason why it did not work the first time?

Thank you.

[2018-04-07 12:09] pedrobaeza commented on #629
Closing as no real problem.

[2018-04-07 12:09] #629 closed, assigned to nobody

[2018-04-11 08:18] AaronHForgeFlow opened #630 "[10.0][sale_generator] Unable to create sale order lines"
Cannot create sale order lines on any sale-workflow runbot v10. There's some problem with the sale view. The error message:

![image](https://user-images.githubusercontent.com/19620251/38604334-4e3d7080-3d70-11e8-8038-01ac04436347.png)

The module that introduces that domain to the sale views is sale_generator. After first installed the module no issues were found. However, after uninstalling the

[2018-04-14 18:09] vinclar commented on #599
Seems solved
Tested right now, and works flawlessly

[2018-04-14 18:18] vinclar opened #634 "Incompatibility between sale_isolated_quotation and sale_order_revision Odoo 10.0"
Steps to reproduce:
- Create a quotation and select "Convert to Order"
It returns validation error "Order Reference and revision must be unique per Company."

[2018-04-16 08:19] pedrobaeza commented on #634
Yeah, by their nature, they will probably collapse together. If you have a patch for solving the incompatibility, please provide a PR.

[2018-04-26 23:33] rafaelbn commented on #599
AS @vinclar said solved then closing

[2018-04-26 23:33] #599 closed, assigned to nobody

[2018-04-30 21:37] awa-si opened #641 "#11 Menu 'sale_exception' path: 'sale_exception/views/sale_view.xml'"
CURRENT:
========
       <menuitem
                id="menu_sale_exception_parent"
                parent="sales_team.menu_sale_config"
                sequence="20"
                name="Exceptions"
        />

SHOULD BE:
========
        <menuitem
                id="menu_sale_exception_parent"
                parent="sale.menu_sale_config"
                sequence="20"
                name="Exc

[2018-05-01 10:54] pedrobaeza commented on #641
Why this change?

[2018-05-01 18:44] awa-si commented on #641
Module 'sale_exception' inherits 'sale' and menu entry 'menu_sale_config' is its property.

[2018-05-07 14:56] rousseldenis opened #644 "[10.0][sale_generator] : Form error"
When trying to add a line on a sale order, got this stack trace :

[code]

@EBII @sebastienbeau As you had migrated this module, could you look at this ? Maybe this is due to form priority (not tested).

[2018-05-07 15:00] rousseldenis commented on #644
Duplicate of #630, closing

[2018-05-07 15:00] #644 closed, assigned to nobody

[2018-05-07 15:13] bealdav commented on #630
Ok, I have to fix it

[2018-05-10 23:44] RoelAdriaans commented on #538
sale_fiscal_position_update - Not needed since https://github.com/odoo/odoo/blob/6c6c4b89a077d2345425771c854ac608ff4f136d/addons/sale/models/sale.py#L107-L113

[2018-05-14 08:11] LoisRForgeFlow commented on #630
@bealdav This keeps happening and is very annoying, could you please have a look?

[2018-05-14 09:03] bealdav commented on #630
Yes I searched, but I can't to reproduce the problem, in my workstation for now

[2018-05-14 14:49] bealdav commented on #630
OK, strange weird unpredictible behavior. But now convinced that unpredectiblable behavior not caused by other module in branch.

I'll focus now on sale_generator.

[2018-05-14 17:12] bealdav commented on #630
@lreficent please could you rebuild the branch because impossible to reproduce this bug elsewhere.

Thanks

[2018-05-16 00:08] rafaelbn commented on #630
@aheficent it looks this is solved as I have tried and it works. Take a look in: http://3325894-10-0-0674d6.runbot2.odoo-community.org/web#id=12&view_type=form&model=sale.order&menu_id=210&action=282

[2018-05-16 00:33] rafaelbn commented on #630
Hi @bealdav ! Here you are: http://3326177-10-0-0674d6.runbot1.odoo-community.org/web?debug

`Error: Unknown field is_template in domain [["is_template","=",true]]`

[code]

[2018-05-16 00:37] rafaelbn commented on #630
Hi again @bealdav it looks like `sale_generator` is the problem.  because after uninstalling It I can add line to SO

[2018-05-17 11:10] EBII commented on #630
hello it is just a workaround to find residual domain after uninstall sale_generator

use sql query to find id
select name,domain,id from ir_act_window where domain like '%is_template%';
it looks like that
db=# select name,domain,id from ir_act_window where domain like '%is_template%' ;
    name    |                     domain                     | id
------------+---------------------------------

[2018-06-05 09:19] rousseldenis commented on #630
@bealdav @rafaelbn @EBII I think I've already had this kind of problem. Due to priority on inherited form.

[2018-06-05 09:53] bealdav commented on #630
OK. May be we might put a priority to test. Thanks

[2018-06-05 09:57] rousseldenis commented on #630
@bealdav what I wanted to say that there is a priority on https://github.com/OCA/sale-workflow/blob/f2e9fb70592d214c5cc55530cfbc2bade8c4848a/sale_generator/views/sale_view.xml#L6

Sometimes, removing it solves the problem.

[2018-06-13 22:36] marianoadangelo opened #659 "[sale_order_variant_mgmt] order variants by sequence"
It should order variants by sequence and not by id

[2018-06-16 11:01] thomaspaulb opened #660 "RFC: Multiple sale orders for one quotation"
Our client has the following use case: he quotes his customer a total of 10 items, then when sold, wishes to continue with each of the 10 as an isolated sale order, because these sales typically take a long time and also have other logic attached to it which makes it better to handle separately.

So he wishes, on confirmation of a quotation, to be able to split the quotation into separate sale ord

[2018-06-16 12:53] elicoidal commented on #660
LGTM mostly with the wizard with partial splitoffs.
We have the same requirement but to create PO from the SOL (typical in the trading business) so a potential spinoff module could be to add a checkbox to create a PO instead of SO (maybe to come in the coming months)

[2018-06-18 07:00] hbrunn commented on #660
1. make the suffix/prefix for a dependent order a sequence, then the user can configure this as she likes
2. is the wizard really necessary? If we can assume every order line should be its own order, then we could just do this when advancing the parent order's state
3. I think the parent's state should be `pending` until the children are done, then the order is done itself. Without this, I think y

[2018-06-18 14:57] thomaspaulb commented on #660
@elicoidal Thanks
@hbrunn 1. Good idea, but is it technically possible to have a sequence with two variables in it and not advance the first one? SO**XXXXX**-P**YY**
2. We cannot assume that, I think splitting needs vary from case to case and it's not always 1 full line
3. That is not true in this case, the original quotation is accepted but then completely replaced by the suborders. It's not nece

[2018-06-18 15:04] hbrunn commented on #660
1. no, but you can use some sequence to generate the PYY part, that's what i meant. But then this wont help so much I guess

[2018-06-19 00:40] elicoidal commented on #660
At least it makes it configurable (eg: I prefer SOXXXXX-YY)

[2018-06-21 15:07] marianoadangelo commented on #659
I could order lines passed to the widget by modifying the line 42 and 43 in sale_order_variant_mgmt

[code]

When the widget is initialize the row has the correct order by sequence pass it from the  'sale.manage.variant' model, but when I think in the get_x_axis_values / get_y_axis_values the row order is ordered by id. Any idea how to modify this?
[code]

[2018-07-03 22:47] JuaniFreedoo commented on #538
sale_order_revision #664

[2018-07-04 11:18] murtuzasaleh commented on #538
sale_quotation_number https://github.com/OCA/sale-workflow/pull/665

[2018-07-06 10:41] murtuzasaleh commented on #538
sale_validity https://github.com/OCA/sale-workflow/pull/666

[2018-07-06 14:07] murtuzasaleh commented on #538
sale_triple_discount https://github.com/OCA/sale-workflow/pull/667

[2018-07-10 13:30] murtuzasaleh commented on #538
sale_start_end_dates https://github.com/OCA/sale-workflow/pull/669

[2018-07-13 14:47] #634 closed, assigned to nobody

[2018-07-24 08:04] murtuzasaleh commented on #538
sale_procurement_group_by_line https://github.com/OCA/sale-workflow/pull/673

[2018-08-01 19:01] rafaelbn commented on #630
Hi @rousseldenis @aheficent @bealdav we have in runbot still this issue as I said in https://github.com/OCA/sale-workflow/issues/630#issuecomment-389357396 and this makes a headache eveytime anyone need to test a single PR... please who could solve it? Please! :smile:

[2018-08-02 10:52] MiquelRForgeFlow commented on #630
@rafaelbn This issue was solved  😉

[2018-08-02 10:53] pedrobaeza commented on #630
Where? Can we close it then?

[2018-08-03 09:43] AaronHForgeFlow commented on #630
I could not reproduce the issue here: https://github.com/OCA/sale-workflow/pull/668 So I guess this was fixed. I'm closing this, feel free to reopen if this is not really fixed.

[2018-08-03 09:43] #630 closed, assigned to bealdav

[2018-08-08 14:38] VRodrigo commented on #538
sale_order_add_variants #678

[2018-08-10 14:18] devang-dreambits commented on #538
Hello all,

I'm migrating sale_order_revision module to v11 with PR #679

[2018-08-20 15:25] HaraldPanten opened #682 "[10.0] [sale_order_type] billing journal account not set in invoices from sales"
module: sale_order_type
version: 10.0

**Steps to reproduce**

1- Create a sale order type --> example 1

2- In example 2, set a billing journal.

3- For the journal in step 2, configure a random account for sales. Imagine: 700001

4- Create a sales order select sale order type --> example 1, and add any product to the sales order lines.

5- Confirm the sales order and create the invocie.

6- The

[2018-08-20 15:31] pedrobaeza commented on #682
On normal flow (creating manually the invoice and changing the journal), that account is changed?

[2018-08-20 17:18] HaraldPanten commented on #682
Hi @pedrobaeza , thanks for your prompt reply.

If I create a new invoice and I change the billing journal, it works as follows:

1- I select a customer, journal, etc.

2- I create a new invoice line --> the line is empty except for the account, it's showing (imagine) 700001.

3- If I add a product, the account changes automatically to 700000.

So... Does it really make sense?

OK, I agree that th

[2018-08-21 12:38] pedrobaeza commented on #682
Sorry, but I don't think that should be the flow, and it's not implemented right now. If you want to contribute it, I think it should be opt-in, as not everyone wants that behavior.

[2018-08-21 12:38] #682 closed, assigned to nobody

[2018-09-03 14:59] ShuP1 commented on #538
Is sale_rental ready for v11 ? or migration planed ? @alexis-via

[2018-09-05 23:03] ray-odoo commented on #538
Tried to install **sale_order_line_sequence** on a new v11 odoo.sh database today, without any changes from the v10 version.

Passed all automated odoo.sh tests.

Functionally it worked when I switched the sequence of lines on an existing SO with two lines and created a new SO and switched the lines before saving.

Turning over to my User for UAT.

UPDATE:  9/8/18. Fatal error when trying to print

[2018-09-14 09:46] Cedric-Pigeon opened #694 "[RFC] sale_order_display_discount"
Hi Folks,

Odoo allows to add a discount in percentage on lines but it directly computes the subtotal with it.
I need a way to have the discount value on each line as well as globally on the sale order.

We will work on a new addon adding the fields discount_total and discount_subtotal on sale.order.line and sale.order.

What do you think ?

[2018-09-14 09:46] Cedric-Pigeon commented on #694
@sebastienbeau

[2018-09-14 10:17] lmignon commented on #694
@Cedric-Pigeon you mean the price total without discount and the total discount amount.
Therefore IMO the field names are ambiguous. Why not:  total_without_discount, discount_amount

[2018-09-14 10:19] Cedric-Pigeon commented on #694
@lmignon indeed

[2018-09-14 12:27] sebastienbeau commented on #694
Let's do it ! :+1:

[2018-09-27 00:14] OCA-git-bot opened #700 "Migration to version 12.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0

# Modules to migrate

- [x] partner_contact_sale_info_propagation - By @ernestotejeda - #974
- [x] partner_prospect - By @sudhir-erpharbor - #756
- [x] portal_sale_personal_data_only - By @chienandalu - #880
- [x] product_supplierinfo_for_customer_sale ~~By @murtuzasaleh #841~~ - By @MiquelRForgeFlow - #976
- [x] sale_

[2018-10-01 11:45] mpanarin commented on #700
picking up sale_order_line_date, sale_order_line_input
sale_order_line_date: https://github.com/OCA/sale-workflow/pull/703
sale_order_line_input: https://github.com/OCA/sale-workflow/pull/706

[2018-10-01 12:02] Siraparn commented on #700
Working on sale_start_end_dates #705

[2018-10-01 12:10] pedrobaeza commented on #700
Noted

[2018-10-01 12:14] nikul-serpentcs commented on #700
@Siraparn Add PR number also

[2018-10-01 16:04] Siraparn commented on #700
@nikul-serpentcs
It's #705

[2018-10-02 08:39] ghost commented on #700
grabbing `sale_automatic_workflow` - https://github.com/OCA/sale-workflow/pull/707

[2018-10-16 12:31] SimoRubi opened #717 "[10.0] base branch fails sale_mrp_link tests"
First occurrence of the fail: https://travis-ci.org/OCA/sale-workflow/jobs/436183007#L1789

[2018-10-16 13:11] tafaRU commented on #717
@SimoRubi, thanks for reporting the issue.
The fail is due to the installation of `sale_procurement_group_by_line`as explained in https://github.com/OCA/sale-workflow/pull/661#discussion_r214031110

It is necessary to also exclude `sale_delivery_split_date`. I'll give a try in the next days.

[2018-10-16 15:01] rafaelbn commented on #717
Solved in https://github.com/OCA/sale-workflow/pull/718

[2018-10-16 15:01] #717 closed, assigned to tafaRU

[2018-10-16 15:42] tafaRU commented on #717
@rafaelbn, wouldn't be better to close the issue once the linked PR will be merged?

[2018-11-05 13:20] sbejaoui commented on #700
Working on sale_product_set, PR #728

[2018-11-16 16:00] rafaelbn opened #737 "[product_supplierinfo_for_customer_sale] Change functionality from v8 to v10 to v11"
Hello,

The functionality of the module has change in the migration from v8 to v10 and from v10 to v11 and this impacts to all the customers using this module after a migrations from version to another.

The actual functionality in v11 IMHO is not valid as **in the sale order backend I don't see at all the internal name or the internal code**. I think this is an error that must be fixed.

The **be

[2018-11-21 16:22] moylop260 commented on #737
Hi Rafa,
I'm a little lost here.

Could we just planning 11.0?

I mean, What modules should we split and what functionality each one?

[2018-11-22 19:14] moylop260 commented on #737
@rafaelbn
The original odoo module for supplierinfo is working like following cases (After saving purchase show):
 - purchase.product_id <- `[product_id.code] product_id.name`
 - purchase.description <- `[product_id.supplierinfo_code.code] product_id.supplierinfo_code.name`

The similar module but for sale process in version 11.0 show the same functionality:
 - sale.product_id <- `[product_id.code

[2018-11-24 06:08] Swapnesh-SerpentCS commented on #700
Added https://github.com/OCA/sale-workflow/pull/743 for sale_commercial_partner

[2018-11-24 06:27] nikul-serpentcs commented on #700
sale_order_line_sequence -> #744

[2018-11-24 07:17] Swapnesh-SerpentCS commented on #700
Added https://github.com/OCA/sale-workflow/pull/745 for sale_last_price_info

[2018-11-24 09:32] GSLabIt opened #746 "[11.0][Bug] sale_order_secondary_unit, when selecting secondary uom with no product."
Hi there,

got an error while selecting secondary uom with no product in line. It seems related to product_secondary_unit on:

https://github.com/OCA/product-attribute/blob/1e45bd982442e12f39f082af961b6ace8929f864/product_secondary_unit/models/product_second_unit.py#L40
on args value passed.

That would affect purchase_order_secondary_unit as well.

Quick fix, have secondary qty and id readonly if

[2018-11-29 06:48] alexey-pelykh commented on #700
@pedrobaeza there's a https://github.com/OCA/sale-workflow/tree/10.0/sale_order_line_description which modifies only `sale.order.line` (in 12.0 it will be using `get_sale_order_line_multiline_description_sale`) yet in 12 it would be more correct to override `product.get_product_multiline_description_sale` thus there would be a module named `product_description_sale`. Should I add only new one, or

[2018-11-29 09:25] pedrobaeza commented on #700
It depends on the technical dependencies. Can you point me in Odoo code where is the method you are talking about?

[2018-11-29 09:31] alexey-pelykh commented on #700
@pedrobaeza sure!
https://github.com/odoo/odoo/blob/fb460f8800f4999c8b526f2b1931deb05416f455/addons/sale/models/sale.py#L1587
https://github.com/odoo/odoo/blob/fb460f8800f4999c8b526f2b1931deb05416f455/addons/product/models/product.py#L590
https://github.com/odoo/odoo/blob/fb460f8800f4999c8b526f2b1931deb05416f455/addons/sale_management/models/sale_order.py#L157

Also, there's another code worth men

[2018-11-29 10:22] pedrobaeza commented on #700
OK, thanks for the insights! Indeed, there's a inconsistency in account module, as it should use that method instead of doing manually, so you can propose a PR to Odoo 12.0 changing that.

About the module, technically indeed now only depends on `product`, so it might be renamed to `product_description_sale` and moved to OCA/product-attribute, but I'm wondering if we should keep it here and with t

[2018-11-29 10:54] alexey-pelykh commented on #700
Re: PR to Odoo 12.0 - ok!
Re: `sale_order_line_description` - I think it should be migrated as a stub with no code and single dependency, since none of it's code can be used in `product_description_sale`

[2018-11-29 11:13] SimoRubi commented on #700
Thanks @alexey-pelykh for noticing this.
I think we can do the following:

1. move the code to override `product.get_product_multiline_description_sale` (and depend only on `product`);
2. (optional) move the module (keeping the same name) to https://github.com/OCA/product-attribute

The inconsistency is in the `product` module itself, starting from creating the field `description_sale` when `sale`

[2018-11-29 11:49] alexey-pelykh commented on #700
@SimoRubi what are pro's of keeping name while moving to other repository?

[2018-11-29 12:59] SimoRubi commented on #700
@alexey-pelykh easier migrations for whoever has that module installed.
Otherwise after migration the module would figure as _not installable_ and we have to look at its history in the repository, find this conversation, find out it changed name, uninstall the old one, reinstall the new one.
Not to mention about other modules depending on it!

[2018-11-30 06:58] alexey-pelykh commented on #700
@SimoRubi you're 100% correct _if_ the case is a migration, except for moving to different repository will likely break dependencies as well due to need of `oca_dependencies.txt` tweaking. In this particular case I'm not sure how this may be treated as migration - no code left from v10, the approach is different - it's not a sale order tweak, it's a product tweak, and it's a coincidence that that

[2018-11-30 15:50] tafaRU commented on #700
@alexey-pelykh, good catch!
I'd prefer not change its name for the same reasons highlighted just above by @SimoRubi .
Thank you.

[2018-11-30 19:08] alexey-pelykh commented on #700
@tafaRU as I’ve mentioned, I see no reason to consider this a migration. In order it to be a migration it has to affect sale order model and not product, and to ignore that method of a product completely

[2018-12-03 08:53] eversatis opened #753 "sale_order_price_recalculation do not work with cost when Display margins on quotations and sales orders is enabled"
sale_order_price_recalculation do not work with cost when Display margins on quotations and sales orders is enabled. I am using odoo 10.

[2018-12-03 08:55] pedrobaeza commented on #753
Can you be more specific? Do you mean that the cost is not updated or what?

[2018-12-03 09:04] eversatis commented on #753
Yes, steps to reproduce.
1. Enable 'Display margins on quotations and sales orders' under Sales-Configuration-Settings-Margin.
2. For created quotation, if you click recalculated price, the cost in order lines would be still 0.
3. For new created quotation, if you change pricelist to different currency, the sale price will change but the cost will stay the same and cause the Margin a wrong value.

[2018-12-03 09:08] pedrobaeza commented on #753
And that's the expected behavior, as the module only recalculates sales prices. What you ask is a new feature for a new module: `sale_order_margin_recalculation`.

Closing as no issue with current module, but new module to be developed.

[2018-12-03 09:08] #753 closed, assigned to nobody

[2018-12-04 16:44] bodedra commented on #641
IMO these issue has been taken care at https://github.com/OCA/sale-workflow/blob/11.0/sale_exception/views/sale_view.xml#L17 So we are good to close it.

PR reference https://github.com/OCA/sale-workflow/pull/719

[2018-12-04 16:47] #641 closed, assigned to nobody

[2018-12-04 16:50] bodedra commented on #508
@FreeDoo2018 IMO you should provide more details on your issues like which version of Odoo are you using ? Are you able to reproduce it on runbot ? That will help us to review it.

[2018-12-04 17:08] bodedra commented on #438
IMO these issue will be resolve by https://github.com/OCA/sale-workflow/commit/4313542c29e33a6e5e21e8ba78219fec067ffb57 OR https://github.com/OCA/sale-workflow/commit/102be6883f7373ab4a7ba142016405c93cad6663#diff-4b32658304249c7a43f23232de5e9f6a

[2018-12-04 23:15] pedrobaeza commented on #438
It seems so. Closing.

[2018-12-04 23:15] #438 closed, assigned to nobody

[2018-12-06 10:41] ch-aurich commented on #438
Yes, I can confirm that it works now. Thanks for the hint.

[2018-12-06 11:23] scaldewi commented on #630
Hi, seems issues were fixed, but still module is installable: False in 10.0 branch.
And no attempt to migration for 11.0.
Can u help me understand reason for this? Would be interested in migrating to 11.0

[2018-12-06 11:44] bealdav commented on #630
I was unable to reproduce error on my side.

I think, you can port to v11.

Integration made by installation of different set of modules can lead to different result in v11.

If you get additionnal information on this topic, we could fix v10 branch

Thanks

[2018-12-13 08:18] bodedra commented on #508
We can close these issues due to lack of information.

[2018-12-13 08:19] #508 closed, assigned to nobody

[2018-12-13 08:30] bodedra commented on #362
We can close these issue as cron job will take some time at next interval time to execute logic.

@augustosamame Feel free to submit PR to execute logic at sale confirmation.

[2018-12-13 08:32] #362 closed, assigned to nobody

[2018-12-19 12:38] rven commented on #700
Working on upgrade of sale_order_revision https://github.com/OCA/sale-workflow/pull/766

[2018-12-20 08:22] ghost opened #769 "[11.0][Bug] Issue on commission analysis: Can not open it"
Hi guys,

I got this error when trying to open menu Invoicing > Reporting > Management > Commission Analysis.
![screenshot from 2018-12-20 15-13-45](https://user-images.githubusercontent.com/10511982/50272569-cb938d00-046a-11e9-8cb5-563f5396201c.png)

Field `amount` is defined in Abstract model `sale.commission.line.mixin` but it is not re-defined the logic by inherited models `account.invoice.lin

[2018-12-20 08:26] pedrobaeza commented on #769
Odoo version? Do you have latest code?

[2018-12-20 08:29] ghost commented on #769
Version 11.0, I just updated the version to issue's title.I am using the latest source code

[2018-12-20 08:36] bodedra commented on #769
@pedrobaeza Seems right place for these issue at https://github.com/OCA/commission module: sale_commission

I can able to reproduce it at runbot.

http://3350927-11-0-9f64c4.runbot1.odoo-community.org/web?debug=1#view_type=list&model=account.invoice&menu_id=136&action=217

[2018-12-20 08:47] ghost commented on #769
Ah, My mistake. I already created the new one https://github.com/OCA/commission/issues/194. I will close this one

[2018-12-20 08:47] #769 closed, assigned to nobody

[2018-12-22 07:04] nikul-serpentcs commented on #700
sale_merge_draft_invoice --> #771

[2018-12-24 11:17] rven commented on #700
Working on upgrade of sale_order_general_discount https://github.com/OCA/sale-workflow/pull/772

[2018-12-24 12:44] rven commented on #700
Working on upgrade of sale_order_price_recalculation https://github.com/OCA/sale-workflow/pull/773

[2018-12-24 13:46] rven commented on #700
Working on upgrade of sale_invoice_group_method https://github.com/OCA/sale-workflow/pull/775

[2018-12-24 13:54] rven commented on #700
Working on upgrade of sale_order_action_invoice_create_hook https://github.com/OCA/sale-workflow/pull/774

[2018-12-29 02:08] emagdalenaC2i commented on #700
Please, check sale_order_archive - By @astirpe - #754 because it is already merged

There is a PR for the migration of sale_order_type - By  @angelmoya - #751

[2018-12-29 02:44] emagdalenaC2i commented on #538
@pedrobaeza Please, check partner_prospect - By @oihane - #550 because it is already merged

sale_force_invoiced - By @andreasdsp - #649 is merged in #688

Please, add to the list sale_invoice_group_method - By @rgarnau - #568 that is already migrated and merged

Please check sale_last_price_info - By @Swapnesh-SerpentCS - #603 because it is already merged

Please, add to the list sale_merge_draft

[2019-01-06 22:35] emagdalenaC2i commented on #538
@pedrobaeza Please uncheck sale_stock_picking_blocking_proc_group_by_line - By @mreficent - #736
My fault, it wasn't merged:

[2019-01-17 17:10] labaggio opened #783 "[10.0][BUG] sale-product-set-layout Error during installation"
When I try to install with pip the module sale-product-set-layout following this instructions (https://pypi.org/project/odoo10-addon-sale-product-set-layout/) I get the following error

[code]

[2019-01-17 17:18] pedrobaeza commented on #783
You don't have odoo installed by pip, so that's the problem.

[2019-01-17 17:18] #783 closed, assigned to nobody

[2019-01-17 17:37] labaggio commented on #783
I'm sorry  '-_-

[2019-01-18 03:59] #448 closed, assigned to nobody

[2019-01-23 17:44] odaybari opened #788 "Request backporting for module sales team security to V9.0"
Hi,

I kindly request the community for a backport of the the module sales_team_security to odoo v 9.0. this available to most releases except v9.

I can only thank you for you time and make a donation to the comunity as my skills regarding odoo are limited to implementation.

Best regards

[2019-01-24 22:26] flotho opened #789 "[10.0] Sale_Exception issue when updating a module"
Hi,

I'm running OCB and made some recent pull from git either on OCB and sale-workflow.
When running Oodo he tried to update the sale_exception module by running the pre migration script.
Yet this database has been running on Odoo v10.0 from start, why pre migration scripts are used for this update ?
Could this one be the cause : https://github.com/OCA/sale-workflow/commit/3199182a35d9318934d7352

[2019-01-28 10:39] Vassy opened #791 "[11.0] [sale_quotation_number] Sale Order number not genersted if tick Lock Confirmed Orders"
If in Sales -> Configurations -> Settings tick Lock Confirmed Orders and untick Use Same Enumeration, Sale order numder not generate. SQ001 - quotation, Confirm Sale - sale order is again SQ001. Espected - SO001.
Tested on Runbot - http://3355835-11-0-056f56.runbot2.odoo-community.org

[2019-02-07 17:34] bunhin commented on #737
Hi, @rafaelbn and @moylop260 ,  i believe the correct behavior should be like v11, for customer code, We search or entry customer code (customer code and name in search windows) because customer will order using their code for example, when the item is selected and saved it should convert to our internal code for product filed, therefore we can understand what internal item code our customer order

[2019-02-15 08:07] dcorio opened #798 "[11.0] sale_order_revision not working anymore"
It looks like this module stopped working.
the value of "name" gets ignored by Odoo while copying the sale.order.

[2019-02-15 08:13] #798 closed, assigned to nobody

[2019-02-17 21:53] Vassy commented on #791
Any suggestion?

[2019-03-10 02:12] ghost commented on #791
Im in the same situation. It is fixed yet?

[2019-03-11 01:07] kittiu opened #809 "[12.0][ADD] Sales Invoice Plan"
Hi, we have created and pass all the test for this module - Sales Invoice Plan

By standard feature, user can gradually create partial invoices, one by one. This module add ability to create invoices based on the predefined invoice plan into the future (month/day/year interval or manual), either all at once, or one by one. The plan support both advance invoice and installment invoices.

![00440](h

[2019-03-11 01:08] kittiu commented on #809
Can this be merged? Anything else needed?

[2019-03-11 01:09] pedrobaeza commented on #809
Please don't create new issues. You have a PR, so the conversation should be done there.

[2019-03-11 01:09] #809 closed, assigned to nobody

[2019-03-11 10:19] RobbeM1991 opened #810 "[sale_partial_invoicing] V8 installation freezes during install"
Hello,

When I try to install module sale_partial_invoicing on an existing Odoo V8 DB, the installation is stuck at:
[code]

I believe the installer is computing those fields fully_invoiced, invoiced_qty for all existing sale orders?
Is there any way to fix this? I think these fields don't have to be computed for all existing sale orders?

[2019-03-11 10:22] pedrobaeza commented on #810
No, you have to wait. It should be compute for all the existing sales orders.

[2019-03-11 10:22] #810 closed, assigned to nobody

[2019-03-25 11:48] lmignon opened #817 "[10.0] sale_triple_discount: broken by https://github.com/OCA/account-invoicing/pull/500 (at least travis is red)"
https://github.com/OCA/account-invoicing/pull/500
https://travis-ci.org/OCA/sale-workflow/builds/501135521
If I revert the changes introduced into https://github.com/OCA/account-invoicing/pull/500 the tests no more fails on `sale_triple_discount`

[2019-03-25 13:09] SimoRubi commented on #817
I'm looking into it, this is one of those funny errors that disappear when you are debugging them.. :imp:

[2019-03-25 15:26] lmignon commented on #817
@SimoRubi This error makes all PR :red_circle: :unamused:

[2019-03-25 15:33] SimoRubi commented on #817
@lmignon I found out that there is an easy fix: you can use `self.so_line2.discount = 50.0` instead of `self.so_line2.discount3 = 50.0` in the failing test, then everything should be :heavy_check_mark: back again.

Anyway that wouldn't help at all with the root cause, that is what I'm trying to find.

If there is any hurry to have the tests working, that solution is the fastest.

[2019-03-26 13:31] lmignon commented on #817
@SimoRubi I don't use `sale_triple_discount`.  This addon is broken by your changes.  The problem is that all the PR are now :red_circle: on the sale-workflow and therefore nor mergeable. Can you provide the right fix. I don't want and have no budget to dig into an addon I didn't use.

[2019-03-28 14:17] SimoRubi commented on #817
@lmignon please check if https://github.com/OCA/account-invoicing/pull/517 fixes this issue, thanks

[2019-03-29 05:00] ghost commented on #538
sale_rental [#819](https://github.com/OCA/sale-workflow/pull/819)

[2019-03-30 07:12] ghost commented on #700
The PR [#819](https://github.com/OCA/sale-workflow/pull/819) of sale_rental is for version 11.0 not 12.0
Please help to correct it

[2019-03-30 12:16] pedrobaeza commented on #700
Fixed

[2019-04-03 06:54] rafaelbn commented on #737
Hello @HaraldPanten what do you think?

[2019-05-06 09:25] murtuzasaleh commented on #700
sale_order_line_price_history #839

[2019-05-06 15:11] hugho-ad commented on #791
Hello folks!

fixed at https://github.com/OCA/sale-workflow/pull/838, could you test it, please

regards!

[2019-05-08 11:36] ghost opened #840 "Create an Invoice Filter problem on cancelling invoice"
Automatic workflow create invoice filter, build invoices after cancelling again
My domain filter is
["invoice_status","=","to invoice"]]
invoice_status doesnt include cancelled invoice for reverse eg:
["invoice_status","!=","cancelled"]]
sale.order have invoice_count field but also icant find this field on workflow...
. what can i do ?  pls help all time creating invoice again ...

[2019-05-08 12:24] murtuzasaleh commented on #700
product_supplierinfo_for_customer_sale #841

[2019-05-19 15:34] altoch opened #846 "[12.0] sale_stock_picking_blocking [Can't create address on contact(res.partner) neither link contact to a contact company]"
### Impacted versions:
12.0

### Steps to reproduce:
Install sale_stock_picking_blocking
Create an address or link a contact to an existing contact, and save it

### Current behavior:
Create an address or link a contact to an existing contact
Throws error on save.

### Expected behavior:

Crate the address or link the contact on save.
After remove the module, it works as expected

Video/Screenshot

[2019-05-19 17:39] KaungMAung opened #847 "Audit Log"
module: sale_order_price_recalculation
version: 12.0

**Steps to reproduce**
- ...

**Current behavior**
 When Total Amount is updated, there is no log. (Even though amount.toal field is Track = always)
**Expected behavior**
When Total Amount is updated, there is  log.

[2019-05-19 17:47] pedrobaeza commented on #847
This is not something that this module is culprit of.

[2019-05-19 17:47] #847 closed, assigned to nobody

[2019-05-19 18:12] KaungMAung opened #848 "sale_order_price_recalculation does not log about total price changed"
module: sale_order_price_recalculation
version: 12.0

**Steps to reproduce**
- ...

**Current behavior**
sale_order_price_recalculation does not log about total price changed
**Expected behavior**
sale_order_price_recalculation  if total price changed, need to log

[2019-05-19 18:21] #848 closed, assigned to nobody

[2019-05-19 18:22] pedrobaeza commented on #848
Try again now

[2019-05-19 18:45] EasyPeasyKMA commented on #848
Thanks a lot for fast response. But it is still not logging yet.
![image](https://user-images.githubusercontent.com/15133712/57986590-4b209900-7aa9-11e9-95de-e7fd15382771.png)

[2019-05-19 18:56] KaungMAung commented on #848
Dear Pedro,

Thank you so much for super fast response. But Behaviour is still the same. This is what i did:
Odoo 12 EE version:
1. Create Sales order with 4% discount Price List. And save.
2. Edit Sales Order with 20% Pricelist. And Recalculate Price.
3. Line price and Total price is updated. But It never log into Logging.

![recal](https://user-images.githubusercontent.com/15133712/57986668-82dc

[2019-05-19 19:27] pedrobaeza commented on #848
The module is doing its job, but that side effect is something not covered, so you shouldn't rely on that. I'll add this to the known issues.

[2019-05-20 07:25] KaungMAung commented on #848
Dear Pedro,

I fully understand your point. And Thank you so much to you guys for this module. I'm just reporting what we encountered when using this.

Cheers,
Kaung

[2019-05-26 15:56] karlggest opened #851 "[11.0][Bug] sale_stock_secondary_unit can't install because no state element in parent view"
Hi.

I try the sale_stock_secondary_unit in my odoo 11.0 system and I obtain an error:
[code]

[2019-05-29 08:58] Montxu commented on #700
sales_team_security #859

[2019-05-29 10:22] Montxu commented on #700
sale_disable_inventory_check #861

[2019-05-30 09:12] Montxu commented on #700
sale_elaboration #863

[2019-06-01 21:41] emagdalenaC2i commented on #538
sale_cancel_reason - By @sudhir-serpentcs - #559 is closed

sale_order_digitized_signature - By @cubells - #828 is closed and superseed in #854

sale_order_margin_percent - By OmniaGit - #692 is closed

[2019-06-01 21:57] emagdalenaC2i commented on #700
There is a PR for the migration of sale_disable_inventory_check - By @Montxu - #861

There is a PR for the migration of sales_team_security - By @Montxu - #859

There is a PR for the migration of product_supplierinfo_for_customer_sale - By @murtuzasaleh - #841

In sale_discount_amount_display - By @Abranes - #821 the module name is sale_discount_display_amount

[2019-06-11 11:09] agent-z28 opened #869 "We have a module where we calculate the totals by section in the sale order"
You can have a monthly section -> monthly total
and so on! Is there already anything like this?

[2019-06-11 11:24] pedrobaeza commented on #869
https://github.com/OCA/sale-reporting/tree/11.0/sale_layout_category_hide_detail includes subtotals in reports as side effect.

[2019-06-11 11:28] agent-z28 commented on #869
![Bildschirmfoto vom 2019-06-11 13-28-07](https://user-images.githubusercontent.com/7473428/59268340-cb6f8f80-8c4c-11e9-9f91-b9548742e5cd.png)

Thats what we have.
On Top we can give total discount by category.

[2019-06-11 11:31] pedrobaeza commented on #869
Seems interesting, but each feature in one module.

[2019-06-11 13:19] jwaes opened #870 "[120.0] Sale product set not showing up in apps"
I put the addon in my addons folder, restarted the service, turned on developermode, updated apps list, but no new app shows up in my applist.

Any ideas ?

[2019-06-11 13:43] pedrobaeza commented on #870
Sorry, but this is not a problem of the module itself, but your deployment. Check permissions on your folders, and proper addons path.

[2019-06-11 13:43] #870 closed, assigned to nobody

[2019-06-11 13:55] jwaes opened #871 "addon not installed in runbot"
I wanted to try the add on via the runbot link on this page:
https://github.com/OCA/sale-workflow/tree/12.0/sale_product_set

but the referred add on is not installed in that environment

[2019-06-11 14:00] pedrobaeza commented on #871
Why are you opening more issues? This issue tracker is not for helping you in the deployment. For that, use forums or mailing lists.

[2019-06-11 14:00] #871 closed, assigned to nobody

[2019-06-11 14:41] jwaes commented on #871
This is a bug ... this is an error in your documentation.

So if you don't like it. remove the link on https://github.com/OCA/sale-workflow/blob/12.0/sale_product_set/README.rst

[2019-06-11 14:42] pedrobaeza commented on #871
Which error in documentation?

[2019-06-11 14:44] jwaes commented on #871
The last icon on the first line of that referenced file has a link to a runbot instance to demo the addon. but the addon is not installed there. if you do not want to maintain the runbot instance, which is an option, then remove the link. But if you keep the link, then make sure that the addon in question is actually available in the runbot instance.

[2019-06-11 14:51] pedrobaeza commented on #871
The module is there, so no error:

![Peek 11-06-2019 16-50](https://user-images.githubusercontent.com/7165771/59282382-1f886d00-8c69-11e9-9bca-f890bbeffaca.gif)

[2019-06-11 14:55] jwaes commented on #871
Ok my mistake, i thought it was an app, while it is a module

[2019-06-12 23:25] iia opened #874 "[10.0] [sale_exception]: Exception detection broken?"
Hi,

While confirming sale orders I'm getting the following exception:

It seems like this is caused by this [commit](https://github.com/OCA/sale-workflow/commit/f669d2607164dfb38639c5604b73b0157789f1b0).

To be more precise, in the file **sale.py** the following changes seem to be causing this.

[code]

The line, `all_exceptions += lines.detect_exceptions()` is calling sale order line exception d

[2019-06-16 00:39] pedrobaeza commented on #851
Is this reproducible in runbot?

[2019-06-26 19:08] BusinessAgilityMasters commented on #846
We are having the same issue, when this module is installed you are not able to create any "Contact & Addresses" under a customer.

[2019-06-27 05:53] mohamedhagag commented on #700
what about sale_product_set_layout ?
why it's not in the list ?

[2019-07-10 06:51] kittiu commented on #700
sale_stock_picking_blocking seem to be done

[2019-07-10 07:16] ruter-lyu commented on #700
sale_blanket_order #888 migrated.

[2019-07-10 11:24] mohamedhagag commented on #700
sale_order_line_description #894 migrated and tested.

[2019-07-14 11:28] tahitahi opened #898 "duplicate key value violates unique constraint ir_model_data_pkey"
Hello,

I get the following error message when install :

odoo duplicate key value violates unique constraint ir_model_data_pkey DETAIL: Key (id)=(11063) already exists.

Thank you for helping and kind regards

[2019-07-15 07:31] pedrobaeza commented on #898
You have messed up somehow your DB sequence for that model (ir_model_data), putting a nextval for `id` that is already present on your table.

This has nothing to do with any module (whatever it is, as you don't even include the name).

Closing as no issue with the module.

[2019-07-15 07:31] #898 closed, assigned to nobody

[2019-07-15 14:13] max3903 opened #900 "[ADD] brand"
This module allows the Sales Manager to manage brands.

# Usage
* Go to Brand
* Add a brand by entering a name, uploading a logo and setting the header

# Technical Specifications

- [ ] Create an object (brand) with:
  * a char field "Name" (name)
  * an image field "Logo" (logo)
  * a many2one field "Header" (header_view_id) to ir.ui.view
  * a many2one field "Company"(company_id) to res.company

[2019-07-15 14:18] max3903 opened #901 "[ADD] sale_brand"
This module allows you to set the brand on the sales order and print the quotation/sales order PDF report with the name, logo and header from the brand.

# Configuration

* Check the documentation of the brand module (https://github.com/OCA/sale-workflow/issues/900)

# Usage

* Go to Sales > Quotations
* Create or select a quotation
* Set the brand
* Print the Quotation report
* Confirm the quotat

[2019-07-17 11:08] nikul-serpentcs commented on #538
product_special_type -> #902

[2019-07-29 12:36] daramousk commented on #874
Hello Ishraq and thank you for taking time to write this,

When you have an error of any kind, please do share the whole stack trace so that we can help more easily and reproduce the error. That way we can be sure and not speculate.

Now, from what I see the `detect_exceptions` returns an array with ids of the rules that where broken (ie. records of `exception.rule`) so I cannot see how this can t

[2019-07-30 11:09] FFernandez-PlanetaTIC commented on #346
product_margin_classification #909

[2019-08-09 08:25] rgl1234 opened #914 "[11.0][sale_order_line_date] Question about usage"
Hello
I have a question related to sale_order_line_date module.

I understand how to add specific dates on every SO-line. Then when I validate the SO, the nearest date is set as sceduled-date on the "stock.picking". The dates of the SO-line are available on the "stock.move".

My problem now is, that on the picking it is not obvious, that not all products should be shipped at the same time, because

[2019-08-12 11:04] LoisRForgeFlow commented on #914
You would need this module in v11: https://github.com/OCA/sale-workflow/pull/668

[2019-08-12 12:23] rgl1234 commented on #914
@lreficent
Thanks for this information. It seems that this would solve my problem. But do you now why this functionality is not already by default implemented in sale_order_line_date ? I cannot find an answer why it helps to have different dates on every SO-line when then I cannot ship it at the requested date.
Am I maybe missing something here? What is the sence to have seperate dates on every SO

[2019-08-12 13:51] #901 closed, assigned to max3903

[2019-08-20 10:34] patel1008b opened #921 "[12.0] Element '<xpath expr="//input[@type='text'][hasclass('quantity')]">' cannot be located in parent view"
**Getting this Error while installation sale_automatic_workflow module.**

Element "<xpath expr="//input[@type='text'][hasclass('quantity')]">" cannot be located in parent view

Error context:
View `Shopping Cart Lines`
[view_id: 1297, xml_id: n/a, model: n/a, parent_id: 945]
None" while parsing None:10, near

[2019-08-20 10:35] pedrobaeza commented on #921
You have modified your Odoo so that the module fails to install. Try on a fresh database or fix your current DB.

[2019-08-20 10:35] #921 closed, assigned to nobody

[2019-08-20 10:51] patel1008b commented on #921
@pedrobaeza Yes, tried new fresh DB, it's only working if you have installed sale_stock module without mention this module in addons path then mention this in addons path and install it.

But if simply make a new fresh DB, the first module install to be install **sale_automatic_workflow**
it breaks again.

[2019-08-20 10:59] pedrobaeza commented on #921
`sale_stock` module is put as dependency in the module:

https://github.com/OCA/sale-workflow/blob/659837a97a6abe9c34c6c56954753054c5660606/sale_automatic_workflow/__manifest__.py#L17

so that can't be the reason.

[2019-08-27 09:08] NachoAlesLopez commented on #700
sale_mrp_link is being migrated in #925.

[2019-09-03 10:08] rafaelbn opened #928 "[11.0][12.0][13.0] Show untaxed amount in all the sale.order views (quotation and sale orders)"
Hi all @OCA/crm-sales-marketing-maintainers ,

Odoo is used mainly by Companies who care the amount untaxed of the sale and not Total (including taxes). As Taxes are... taxes.

So it would be very nice to have untaxed amount

![untaxed](https://user-images.githubusercontent.com/8736623/64164268-2e835380-ce43-11e9-831e-6def0c8e30d6.png)

Please @fgi-odoo take care on this in v13! I have check it an

[2019-09-04 09:27] yajo commented on #928
Fix for v13: https://github.com/odoo/odoo/pull/36366

[2019-09-04 10:11] rafaelbn commented on #928
Closing as fixed in Odoo master :tada:

[2019-09-04 10:11] #928 closed, assigned to nobody

[2019-09-04 23:57] rafaelbn commented on #737
And the migration to v12 is https://github.com/OCA/product-attribute/pull/446

[2019-09-22 17:15] rafaelbn commented on #817
Hi this is fixed https://github.com/OCA/sale-workflow/pull/927

[2019-09-22 17:16] rafaelbn commented on #817
Please if you consider solved, close it :smile:

[2019-09-23 14:34] dreispt opened #938 "[RFC] Sale General Terms"
### Specification

This Module should allow to create sales terms ("General Selling Consitions") for different countries and languages.

- It should allow to work on drafts version of the existing terms.
- Suggest matching sales terms based on Customer's country and language
- The matching sales terms should be selected and shown as the last page(s) of the Quotation and Sale Order.

[2019-09-23 14:36] pedrobaeza commented on #938
Isn't this what `agreement_sale` does? cc @max3903

[2019-09-23 14:51] dreispt commented on #938
Thank for commenting Pedro.
AFAICS Agreements are contract specific conditions, thus tied o a particular customer.
My requirement is for general sale conditions texts, per country/region and language.

[2019-09-23 14:56] pedrobaeza commented on #938
Maybe expanding `agreement` for being tied to country, region or global through fields in that agreements?

[2019-09-23 15:02] dreispt commented on #938
I can surely consider that option.

Do you think it conceptually fits in the "Agreement" concept? I'm concerned this might be a long stretch and can confuse users.

Do you see clear benefits in tying together both features? From an implementation PoV I have the feeling that it would complicate both.

[2019-09-23 15:04] pedrobaeza commented on #938
I can't say as I haven't dug too much in that modules, but only being early reminder in case of starting divergence approaches. That's why I have pong @max3903 for having his opinion.

[2019-09-24 07:32] SimoRubi commented on #817
@rafaelbn in the PR you tagged, travis is still failing some builds:
![image](https://user-images.githubusercontent.com/32064796/65490747-fdc89400-dead-11e9-97d7-46c13ed53fd3.png)
This will be solved when travis is green

[2019-09-24 07:45] rousseldenis commented on #817
@rafaelbn At least when a maintainer merges failing PR, is to ensure that action are made to restablish main branch to green. Do you have open an issue for that ?

[2019-09-24 07:52] pedrobaeza commented on #817
The mentioned PR (#927) is correct, but not enough. Without it, there isn't the possibility of knowing what is the problem. The same problem would arise if we have done the PG version patch through a bot. Then, it's the duty of the module maintainers/authors to fix the broken tests IMO.

[2019-09-24 08:10] SimoRubi commented on #817
There are a couple of open PRs that would fix this issue: https://github.com/OCA/account-invoicing/pull/517 and https://github.com/OCA/account-invoicing/pull/525.
Each of them has its own reasons to be merged/not merged

[2019-09-29 21:46] OCA-git-bot opened #942 "Migration to version 13.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0

# Modules to migrate

- [x] partner_contact_sale_info_propagation - By @victoralmau - #1728
- [ ] partner_prospect - By @sudhir-erpharbor - #952
- [x] partner_sale_pivot - By @sergio-teruel - #1064
- [x] portal_sale_personal_data_only - By @HaraldPanten - #1135
- [x] product_supplierinfo_for_customer_sale - ~~By @Pablo

[2019-10-01 07:38] ecosoft-odoo commented on #942
Work on sale_invoice_plan

[2019-10-01 08:46] espo-tony commented on #942
sale_cancel_reason #945

[2019-10-01 09:44] espo-tony commented on #942
sale_disable_inventory_check

Don't know if this is the right place, but it seems to me there is no need to migrate this module. That's because Odoo itself removed the warning message altogether.

[2019-10-01 09:50] pedrobaeza commented on #942
Then we need the opposite one? :stuck_out_tongue_closed_eyes:

Maybe that's configurable now per product/category/...

[2019-10-01 12:47] rafaelbn commented on #817
Please @mreficent could you give us you point of view about this issue with travis in sale-workflow and the 2 PRs proposed to be fixed? We need to have this branch green :cry:  Thank you!

[2019-10-01 13:37] espo-tony commented on #942
sale_order_archive #946

[2019-10-01 13:54] eLBati commented on #817
It seems everyone agrees on the fact that both https://github.com/OCA/account-invoicing/pull/525 and https://github.com/OCA/account-invoicing/pull/517 are workarounds and we should investigate the real odoo bug.

Meanwhile, we should merge one of them.

I would go with https://github.com/OCA/account-invoicing/pull/525 since it has more approvals.

[2019-10-03 21:46] dreispt commented on #938
I've learned more about Agreements now.
This is about the generic contract "small letters" you copy at the end of every SO, not specific sale/contract conditions.
So I believe that it is a distinct feature.

[2019-10-03 23:32] pedrobaeza commented on #938
Ok, great

[2019-10-04 10:55] sudhir-erpharbor commented on #942
Working on partner_prospect #952

[2019-10-05 06:45] sudhir-erpharbor commented on #942
Working on sale_stock_picking_blocking #956

[2019-10-08 11:09] VrajaTechnologies opened #958 "[Bug] sale_order_revision : Issue getting while open the revision in sale order"
Hi,

While generating the revision and open the sale order revision tree view, Getting the JS issue.

Please find attachment.

Thanks In Advance.

![SO003 03   Odoo](https://user-images.githubusercontent.com/46369354/66391223-30b07300-e9ea-11e9-93c2-687e8383f733.png)
![SO003 03   Odoo(1)](https://user-images.githubusercontent.com/46369354/66391225-30b07300-e9ea-11e9-84e6-7314d709e42c.png)

[2019-10-09 09:39] jvpascual commented on #942
working on sale_force_invoiced. #959

[2019-10-09 14:24] gbaumgartner-callino opened #960 "[11.0][sale_blanket_order] supplier_taxes_id"
Hello,
I was just trying out sale_blanket_order and I don't quite understand why sale.blanket.order.line would use supplier_taxes_id instead of taxes_id.

It creates sale.order.line records which use taxes_id after all.

Can someone explain the reasoning behind this, or is this a legit oversight?

Thanks!

[2019-10-09 20:27] jvpascual commented on #942
working on sale_order_action_invoice_create_hook.

[2019-10-21 09:39] Laurent-Corron commented on #942
working on sale_discount_display_amount #968

[2019-10-21 13:56] dreispt opened #972 "12.0 build failing"
Last successful build was from Oct14.
The next build, on Oct17, did no changes to code and failed.
The cause might be upstream.
Build [fails](https://travis-ci.org/OCA/sale-workflow/jobs/598798477#L1438) on `odoo.addons.sale_exception.tests.test_multi_records` tests.

[2019-10-23 09:05] dreispt commented on #972
I seems that Runbot build are also broken - you can login the first time, but later logins will present you no menu option available.

[2019-10-24 20:29] pedrobaeza commented on #972
I have disable the test for now, as it's blocking a lot of PRs, in b553fe09e2ae3ec66283d9687abb7aebd627ea1b, but I reopen again as it's not solved at all.

[2019-10-24 20:30] pedrobaeza commented on #972
@ivantodorovich do you know what's happening?

[2019-10-25 08:32] ivantodorovich commented on #972
There is a bug, and I could track it to that commit: https://github.com/OCA/server-tools/commit/43def640a93cbdcb9275feaf9cd4efa6dbbd026a

The exceptions are being triggered, but exception_ids appears to be empty. That's why tests are failing.

![image](https://user-images.githubusercontent.com/1914185/67553944-a6b51980-f70e-11e9-976a-a8d2d4c72627.png)

![image](https://user-images.githubuserconten

[2019-10-26 19:09] ghost commented on #942
Anyone can migrate sale_automatic_workflow_payment_mode, sale_automatic_workflow and sale_exception to 13 ?

[2019-10-26 19:21] pedrobaeza commented on #942
You can fund any of its contributors to do it. If not, this is a voluntary effort that will happen in an uncertain moment.

[2019-10-31 12:15] astirpe commented on #942
New PR for sale_order_archive #980

[2019-11-02 13:16] sudhir-erpharbor commented on #942
Working on  sale_order_general_discount #981

[2019-11-05 15:31] rousseldenis opened #985 "[RFC] New repository: sale_discount"
As mentionned by @lmignon in #729, and in order to decrease sale-workflow repository module numbers, we should try to identify some groups of modules that cover the same functional area.

For a start, why not creating a repository 'sale_discount' ?

@rafaelbn @pedrobaeza @lmignon @Cedric-Pigeon @OCA/crm-sales-marketing-maintainers

[2019-11-05 16:05] pedrobaeza commented on #985
Which are the candidates for this repo?

[2019-11-06 11:47] rousseldenis commented on #985
All sale_promotion_rule* (see v10), sale_discount_display_amount, sale_fixed_discount, ... and other I haven't found yet

[2019-11-06 11:48] pedrobaeza commented on #985
Then I would call it `sale-price` or similar.

[2019-11-06 11:49] rousseldenis commented on #985
Yes, that could be

[2019-11-06 11:50] rousseldenis commented on #985
You want me to call for that new repo on contributors mailing list ?

[2019-11-06 11:52] rousseldenis commented on #985
After discussion with colleagues, it was more oriented 'promotion', to restrict the scope. So sale-promotion is better

[2019-11-06 12:16] lmignon commented on #985
I'm in favor of `sale-promotion`

[2019-11-06 12:46] pedrobaeza commented on #985
OK about the name. You have to write to contribute at odoo-community dot org for asking for the repository.

[2019-11-06 14:17] pedrobaeza commented on #985
@rousseldenis have you written to `contributors` instead of `contribute`?

[2019-11-06 14:19] rousseldenis commented on #985
Yes, but never heard for contribute...

https://odoo-community.org/groups

[2019-11-06 14:27] pedrobaeza commented on #985
That's not a mailing list, but the alias of a project in OCA instance for creating the task for doing it, and it's the place to do the request (but not sure where is that documented inside OCA website).

[2019-11-06 14:29] rousseldenis commented on #985
:smile: Ok, that's two different things. Will do it

[2019-11-08 09:56] #2 closed, assigned to nobody

[2019-11-08 09:58] dreispt opened #988 "[RFC] On Sale Order creation, warn/inform about open Invoices"
Implement a mechanism similar to the Sale Warnings, but doing the open invoice check when the Customer is being selected, and presenting the information on the open invoices.

There are two ways we could show the open invoice information:
 - Show a message box upon Customer selection (like Sale Warning), and/or
- Show a Smart Button, at the top right, with the number and amount of open invoices, c

[2019-11-08 20:30] 3DOeste opened #989 "Question - Can't enable sale_merge_draft_invoice"
Hi, I can't enable the merge invoice function after installing the module, the checkbox is greyout. Do I need something else?

Odoo 12, Ubuntu 18.04.

[2019-11-11 04:55] bodedra commented on #989
I hope, you have activated `Merge new invoices with existing draft ones` from `Sales > Configuration > Settings` after install module.

[2019-11-11 05:10] 3DOeste commented on #989
Hi, I tried but the setting is grey out and can’t be enabled. Does it need another configuration?

[2019-11-11 07:06] bodedra commented on #989
@3DOeste : I have fixed issue at #991 so you can test it here for now http://3395659-991-105138.runbot1-2.odoo-community.org/web?#id=&action=420&model=res.config.settings&view_type=form&menu_id=253

once it approve, you can take a pull of sale_merge_draft_invoice module and try it on your database.

[2019-11-12 04:10] 3DOeste commented on #989
Thanks, I modified the files as the PR and it’s working now!

[2019-11-12 06:10] bodedra commented on #989
@3DOeste That's great. You can approve that PR, it will help to merge fast.

[2019-11-12 12:02] pedrobaeza commented on #989
Fixed in #991

[2019-11-12 12:02] #989 closed, assigned to nobody

[2019-11-13 19:41] max3903 opened #993 "[RFC] sale_product_returnable"
Depends on sale_stock

This module allows you to set some product as returnable and create a reception when the sales order is confirmed.

An example is for beverage distributors where their customer order beverage in bottles and the empty bottle should be returned.

# Configuration

* Go to Inventory > Master Data > Products
* Create or select a product (like Bottle of Water)
* Go to the Inventor

[2019-11-14 12:33] rousseldenis commented on #993
@max3903 Does that flow could lead to many pending pickings and have some of them unused if customer never comes back.

Wouldn't it be better to create picking from sale on the flight at the returning moment ?

[2019-11-14 16:08] max3903 commented on #993
@rousseldenis We are implementing Odoo for a water distributor. Their rule is to deliver the same quantity of full bottles than the quantity of empty ones the customer return. The return and delivery happens at the same time and will both be available to the driver on the field service order.

So to answer yours questions, there would not be unused pickings and there is no reason to create the ret

[2019-11-15 10:55] rousseldenis commented on #993
Ok, IMHO that should be an option to check. To allow both behaviours. In most of retails I know, you buy bottles and then you bring them back or not to the same supplier. That was I had in mind when I write my remark.

[2019-11-15 10:56] rousseldenis commented on #993
That introduces also the 'consignee' (for bottles, ...) management concept. But maybe this is out of scope of this.

[2019-11-20 09:54] simahawk opened #996 "RFC Get rid of sale_product_set_variant"
This module https://github.com/OCA/sale-workflow/tree/12.0/sale_product_set_variant adds too much complexity for little value.
Apparently the goal was to be able to add more than one variant per line from a template.
To do this it adds some extra logic that is not required for the goal.
IMO we should trash it and improve `sale_product_set` as follows:

* add product_tmpl_id to line
* add onchange

[2019-11-21 18:57] emmanueldominguez commented on #529
So is it worth the work to migrate this module to 11 and then to 12?

[2019-11-22 10:36] LoisRForgeFlow commented on #529
I would say is not, did you find a case in which standard Odoo does not suffice?

[2019-11-22 11:15] tafaRU commented on #700
I'm working on migration of the module `sale_triple_discount`: https://github.com/OCA/sale-workflow/pull/1000.

[2019-11-26 10:58] tafaRU commented on #700
I'm starting to work on migration of the module `sale_sourced_by_line`.

[2019-11-26 11:10] AaronHForgeFlow commented on #700
@tafaRU did you see https://github.com/OCA/sale-workflow/issues/529?

[2019-11-26 14:00] tafaRU commented on #700
No @aheficent I didn't see it, thanks for pointing this out.

[2019-12-10 15:05] tfossoul commented on #942
@bumblebeey & @pedrobaeza Working on sale_automatic_workflow. PR is coming in few days ;)

[2019-12-10 17:21] ghost commented on #942
Don’t try your luck with me :-)
I am not code master like u:-)
Thank u for pr lets wait sale_exception and sale_automatic_workflow_payment_mode

[2019-12-11 09:36] #397 closed, assigned to nobody

[2019-12-13 07:28] Khalid-SerpentCS commented on #942
sale_last_price_info #1015

[2019-12-13 07:35] Khalid-SerpentCS commented on #942
sale_last_price_info #1015

[2019-12-16 08:31] SimoRubi commented on #817
@OCA/accounting-maintainers any news about PRs https://github.com/OCA/account-invoicing/pull/517 or https://github.com/OCA/account-invoicing/pull/525?

[2019-12-16 08:36] pedrobaeza commented on #817
Merging is on the way, so closing

[2019-12-16 08:36] #817 closed, assigned to MiquelRForgeFlow, SimoRubi

[2019-12-18 09:28] jeroen7s commented on #942
sale_order_revision

[2019-12-18 09:28] jeroenev commented on #942
sale_order_revision #1021

[2019-12-19 03:54] kongrattapong commented on #942
sale_commercial_partner https://github.com/OCA/sale-workflow/pull/1023

[2019-12-19 04:51] kongrattapong commented on #942
sale_order_line_description https://github.com/OCA/sale-workflow/pull/1024

[2019-12-19 07:49] kongrattapong commented on #942
sale_order_type https://github.com/OCA/sale-workflow/pull/1025

[2019-12-19 08:15] kongrattapong commented on #942
sale_order_line_sequence https://github.com/OCA/sale-workflow/pull/1026

[2019-12-31 10:24] NachoAlesLopez commented on #538
sale_mrp_link: #1031

[2019-12-31 15:17] #993 closed, assigned to max3903

[2020-01-02 11:42] bealdav opened #1033 "MIGR v12 sale_isolated_quotation feature, RFC about what are the most generic features"
Hi all,

I need to migrate sale_quotation_number but with a small change.
sale_quotation_number populate `origin` field with name of the quote.

Instead, I would like use a m2o for that like in sale_isolated_quotation
https://github.com/OCA/sale-workflow/blob/11.0/sale_isolated_quotation/models/sale.py#L16

If I do that, I suppose than sale_isolated_quotation migration could be easier and reduce t

[2020-01-03 07:09] kittiu commented on #1033
@bealdav I have some question.
The sale_quotation_number is just to keep the old quote name on origin text field, right?
* How can it use m2o, I don't quite get...
* How will it affect sale_isolated_quotation, both are quite unrelated isn't it?

[2020-01-03 09:14] bealdav commented on #1033
Sorry you're right, I've not reading the code carefully

On my side I just need to keep_isolated_quotation, thanks for this module for sure. But I think some features could be separated to have less complexity:

- no more `substate2` , this field isn't updated automatically according workflow (mail sent) AFAIK => easier UI
- no more `action_convert_to_order`(): all managed in `action_confirm`() =>

[2020-01-06 02:14] kittiu commented on #1033
@bealdav I do agree with you if anything will make it less complicated. I also don't like the fact about is_order or state2.
But I still not clear what you plan to do. You mean,

1. Make a simpler module as sale_quotation_number
2. Then the sale_isolated_quotation on top of it?

Sorry for my not understanding but what will the final product looks like exactly?

[2020-01-06 12:25] bealdav commented on #1033
Ok then according to your answer, the easier seems to be to port sale_isolated_quotation but removing is_order and state2 fields.
Do you want than I do it ?

Thanks

[2020-01-06 12:42] kittiu commented on #1033
Ok, so you think it can be removed without reducing the feature, right?
Please go ahead and I will help review it. :)
Thanks!

[2020-01-06 17:56] bealdav commented on #1033
Finally (after migration process) your module match more with my customer use cases than I thought.

More additions (than i had in my head) could break things. Thanks

Just minor things after migration process https://github.com/OCA/sale-workflow/pull/1034

[2020-01-07 08:57] #1033 closed, assigned to nobody

[2020-01-09 09:27] bealdav commented on #1033
@kittiu finally I think it could be better to rename, `is_order` as `order_sequence` because it's the real sense of this.

When is_order is True, you are by default in quotation state and when you click on convert_to_order() you're also in quotation state. That's confusing with is_order=True semantic, doesn't it

Then `order_sequence` is a more explicit name.

What do you think ?

[2020-01-09 09:48] simahawk commented on #942
quick note regarding `sale_order_action_invoice_create_hook` and other modules that might use it: `action_invoice_create` has been renamed here https://github.com/odoo/odoo/commit/f808f36f3843875f0b87ab191277970564201429

[2020-01-09 09:49] pedrobaeza commented on #942
And I think it's not needed now as there are some hooks provided, isn't it?

[2020-01-09 09:55] simahawk commented on #942
@pedrobaeza skimming through the code I think is still needed. I don't see new hooks in there (eg: grouping key override, or get draft invoices, etc)

[2020-01-09 09:57] pedrobaeza commented on #942
You don't need it. Check my module already migrated ;)

https://github.com/OCA/account-invoicing/tree/13.0/sale_order_invoicing_grouping_criteria

[2020-01-09 10:09] simahawk commented on #942
Good to know. But then I guess we have an issue w/ sale_automatic_workflow which is probably not tested properly https://github.com/OCA/sale-workflow/pull/1013#pullrequestreview-340410496

[2020-01-09 10:11] pedrobaeza commented on #942
Well, yes, in that case it's a clear case of dangling method that is not covered by tests

[2020-01-09 14:46] kittiu commented on #1033
I am ok, it is one improvement. Imigration script is needed for this, may be?

[2020-01-09 15:35] bealdav commented on #1033
yes for migration script.

[2020-01-15 13:55] ThomasBinsfeld commented on #942
Migration of sale_order_secondary_unit : https://github.com/OCA/sale-workflow/pull/1046

[2020-01-15 15:55] bjornbillen commented on #942
Migration of sale_order_price_recalculation #1047

[2020-01-16 11:35] jeffgrietens commented on #942
~~Migration of sale_order_revision #1048~~

EDIT: already here https://github.com/OCA/sale-workflow/pull/1021

[2020-02-04 14:29] flotho opened #1058 "[10.0][MIG]rule_group is updated yet not available in the model"
Hi,

I'm running an upgrade from v9 to v10 with connectors and have this message :
[code]
In this line https://github.com/OCA/sale-workflow/blob/10.0/sale_exception/migrations/10.0.2.0.0/pre-migration.py#L11 the query should be after the model name changing IMHO .

Moreover the field supposed to be changed is not available here : https://github.com/OCA/sale-workflow/blob/9.0/sale_exception/models/

[2020-02-04 14:43] flotho commented on #1058
Hummm,

Finally, I think that https://github.com/OCA/server-tools/blob/10.0/base_exception/migrations/10.0.2.0.0/pre-migration.py is doing part of the job and this should prevent https://github.com/OCA/sale-workflow/blob/10.0/sale_exception/migrations/10.0.2.0.0/pre-migration.py#L17
and also this should be a post-migration instead of pre-migration

[2020-02-04 15:25] flotho commented on #1058
Damned ! the field has disappeared from https://github.com/OCA/server-tools/blob/10.0/base_exception/models/base_exception.py

[2020-02-04 15:30] flotho commented on #1058
This has been deleted from the file here : https://github.com/OCA/server-tools/commit/00202b47c19a4e2ba0e96288e456bcf2b0e63253#diff-c7fd995df65e10a635951020066e82a6L94

[2020-02-05 09:06] jimhoefnagels commented on #942
working on sale_partner_incoterm #1060

[2020-02-06 10:18] dreispt opened #1061 "Q: Sales Exception usage?"
Hello, I'm curious about the sale_exception module.
From the current Readme, I can't find my way to walk through the module's features.

Would the people familiar with it be kind enough to share more details on how to use it?

Thank you.

[2020-02-06 10:40] pedrobaeza commented on #1061
- Define an exception rule with a condition based on a formula.
- If the sales order meets that condition, it can't be confirmed and gets the exception state.

[2020-02-06 14:17] ph-obs commented on #942
Hello. Is sale_blanket_order missing in "Modules to migrate" list - or is it not necessary anymore? Thanks

[2020-02-16 19:47] mahmoudmk1 opened #1067 "could not load any templates on studio-->reports"
module: sale_order_secondary_unit
version: 12.0.1.1.0

**Current behavior**
I couldn't load all template from Studio -> reports,
I always got this error
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/tools/cache.py", line 88, in lookup
    r = d[key]
  File "/usr/lib/python3/dist-packages/odoo/tools/func.py", line 69, in wrapper
    return

[2020-02-16 23:38] pedrobaeza commented on #1067
Sorry, but this has nothing to do with the module, but with your specific customization. If you try in a clean DB, there shouldn't be any problem.

Closing due this.

[2020-02-16 23:38] #1067 closed, assigned to nobody

[2020-02-21 10:06] DinamicheAziendali opened #1069 "Error in installation of product_form_sale_link"
The error is:
Element <button name="action_view_sales">' cannot be located in parent view

Error context:
View `product.template.form (in product_form_sale_link)`
[view_id: 3744, xml_id: n/a, model: product.template, parent_id: 747]
None" while parsing /odoo12/oca/sale-workflow/product_form_sale_link/views/product_template.xml:7, near
[code]

[2020-02-21 10:07] #1069 closed, assigned to nobody

[2020-02-21 10:09] jado95 opened #1070 "12.0 Error in installation of product_form_sale_link"
The error is:
Element `<button name="action_view_sales">` cannot be located in parent view

Error context:
View product.template.form (in product_form_sale_link)
[view_id: 3744, xml_id: n/a, model: product.template, parent_id: 747]
None" while parsing /odoo12/oca/sale-workflow/product_form_sale_link/views/product_template.xml:7, near

[code]

I check the view of sale_stock module in Odoo addons an

[2020-02-21 10:10] legalsylvain commented on #1070
what is the version(s) with the bug ?

[2020-02-21 10:11] jado95 commented on #1070
12.0 - I update the name of issue

[2020-02-21 13:57] jado95 commented on #1070
I open a PR #1072

[2020-02-21 16:04] jado95 commented on #1070
@legalsylvain
If change the inherit view and in inherit set product.product_template_form_view? The position of new button could become before the toggle_active?

[2020-02-25 05:52] sudhir-erpharbor commented on #942
Working on product_form_sale_link #1074

[2020-02-25 07:14] simahawk commented on #942
@rousseldenis @andreparames do you have any feedback?

[2020-02-25 11:39] igallart opened #1075 "[12.0] sale_triple_discount bad result"
In a sale order, when there are two or more lines, if are created joins, the result is different.

Try:

Price unit -> 1,300
Same product

Line1
Discount 1 -> 10
Discount 2 -> 20
Discount 3 -> 30

Line2
Discount 1 -> 10
Discount 2 -> 20
Discount 3 -> 30

Save

Total1 -> 655.20
Total2 -> 1170.0

[2020-02-27 09:34] mayjo79 opened #1078 "[12.0] new module pricelist_by_category_qty"
This module was originally developed in v7.0 by the company Julius : https://github.com/julius-network-solutions/julius-openobject-addons/tree/master/pricelist_by_category_qty
It has just been migrated to version 12 : https://github.com/mayjo79/odoo-addons/tree/12.0/pricelist_by_category_qty
I would like to deliver this module to OCA.
I had the agreement of Mathieu Vatel of the Julius company.
In

[2020-02-27 10:08] bealdav commented on #1078
cc @rousseldenis

[2020-02-27 11:56] sbidoul commented on #1078
@mayjo79 I confirm there is an Enterprise CLA for Julius Network Solutions.
So go ahead and open a PR. Just pay attention to preserve de commit history of the original module.
You can then ask @mathieuvatel to approve the PR.

[2020-02-27 12:48] mayjo79 commented on #1078
Can you explain to me how to keep only the history of this original module when it is part with other modules of the repository: https://github.com/julius-network-solutions/julius-openobject-addons
Thanks

[2020-02-27 14:00] sbidoul commented on #1078
I think you can apply a variant of a [standard module migration procedure](https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0) by pointing to the julius-network-solutions repo:

```git format-patch --keep-subject --stdout origin/12.0..julius-network-solutions/7.0 -- <module path> | git am -3 --keep```

[2020-02-28 10:04] mayjo79 commented on #1078
Sorry but I'm not comfortable with git format-patch
When I execute :

I have the error :

Could you help me ?
Thanks

[2020-02-28 16:22] bealdav commented on #1078
If you want an easier procedure, you may copy/paste original julius code in sale-workflow fork and make `git commit -m "ADD this module" --author "Author <author@company.fr>` and apply your modification with meld and commit again with you as author.

[2020-02-29 13:07] sudhir-erpharbor commented on #942
Working on sale_order_line_price_history #1082

[2020-03-02 08:42] rousseldenis commented on #1078
You need to add the remotes and fetch them before launching git format-patch command.

https://help.github.com/en/github/using-git/adding-a-remote

[2020-03-02 09:27] mayjo79 commented on #1078
@bealdav I hope I followed what you told me. Before creating the PR, can you tell me if it's good ?
https://github.com/mayjo79/sale-workflow

@rousseldenis Sorry, I saw your message too late.

[2020-03-02 09:45] bealdav commented on #1078
I think it's correct from my point of view, at least it's one of your first contribution then this simplify procedure could be sufficient. Thanks a lot.

Please make a PR now, there are some typo to fix after the review

[2020-03-02 09:53] mayjo79 commented on #1078
I just created the PR https://github.com/OCA/sale-workflow/pull/1083

[2020-03-02 13:49] #1078 closed, assigned to nobody

[2020-03-02 15:50] igallart commented on #1075
I close the problem because although there are cases that fail, I have not found the problem, sometimes it works and sometimes it does not.

[2020-03-02 15:50] #1075 closed, assigned to nobody

[2020-03-05 04:55] jchanme opened #1084 "[12.0] sale_isolated_quotation has error during uninstall"
This module is installed on new Odoo 12 installation with CRM, Sales installed and then there is this error when I tried to uninstall it, below is the debug log. Anyone has ideas?

  File "/opt/odoo/odoo-12/odoo/modules/registry.py", line 86, in new
    odoo.modules.load_modules(registry._db, force_demo, status, update_module)
  File "/opt/odoo/odoo-12/odoo/modules/loading.py", line 484, in load_m

[2020-03-05 06:13] batona opened #1085 "[12.0] sale_mrp_link not shows the button if Multi-step routes is on"
Is this a bug or feature?

[2020-03-09 11:18] newtratip commented on #942
I'm working on `sales_team_security` https://github.com/OCA/sale-workflow/pull/1086

[2020-03-09 22:43] yrismawan commented on #1084
I Have same issue ...

[2020-03-12 01:32] w18g opened #1087 "[12.0] Sales Double Validation broken"
Sales person can "confirm" order without approval process.

It is only set to approve if a quotation is saved but can skip if confirmed right away.

Also there is not a disapproval flow.

[2020-03-12 07:52] pedrobaeza commented on #1087
Odoo version?

[2020-03-12 09:11] w18g commented on #1087
Sorry odoo 12.0

[2020-03-12 13:16] qzmxs opened #1088 "[12.0]sale_blanket_order with sale_isolated_quotation Quantity record error"
module: sale_blanket_order
version: 12.0

**Steps to reproduce**
- ...
After installing the sale_isolated_quotation module, sale_blanket_order incorrectly calculated the completed quantity error, sales quotation + sales order = completed quantity
**Current behavior**

**Expected behavior**

[2020-03-12 13:21] qzmxs commented on #1088
Because the creation of sale_blanket_order can only start from the quotation, and cannot choose to create a sales order, so the sales quotation + sales order = sale_blanket_order completed quantity

[2020-03-13 03:56] yrismawan commented on #1084
I don't know why after upgrading the core, I can uninstall the module and install again

[2020-03-14 18:38] jonatasartur commented on #1070
I have this same problem, but the PR [#1072](https://github.com/OCA/sale-workflow/pull/1072) doesnt work for me.

Element `<xpath expr="//form/sheet/div[@hasclass='oe_button_box']">` cannot be located in parent view

[code]

[2020-03-20 10:02] #1084 closed, assigned to nobody

[2020-03-23 07:15] newtratip commented on #942
Working on `sale_isolated_quotation` https://github.com/OCA/sale-workflow/pull/1099

[2020-03-25 10:34] rafamarpe opened #1103 "[12.0] sale_triple_discount import sale order error"
Hi!
When we import an order with its lines, the subtotals are not being calculated correctly. It is only correct in the first line, in the following ones the 2 and 3 discount are ignored.
It has been tested in the runbot.
Sales order SO029.
The error is always reproduced when imported.
Excel attachment
[import.xlsx](https://github.com/OCA/sale-workflow/files/4380297/import.xlsx)

[2020-03-25 17:58] rousseldenis commented on #1103
@SimoRubi @tafaRU Could you help with this ?

[2020-03-26 08:03] SimoRubi commented on #1103
Hi, yes I can look into it it when I have some spare time

[2020-03-27 11:02] mahmoudmk1 opened #1106 "suggestion to integrate "sale_discount_display_amount" & "sale_fixed_discount""
module: sale_discount_display_amount & sale_fixed_discount
version: 12.0
Hello Sir
I’d like to suggest to integrate these two modules sale_discount_display_amount & sale_fixed_discount
**Current behavior**
sale_discount_display_amount shows **only** the summation of percentage discount on lines
**Expected behavior**
sale_discount_display_amount shows also "sale_fixed_discount" or "Odoo default per

[2020-03-30 06:53] jimhoefnagels commented on #942
migrating sale_blanket_order  #1108

[2020-03-31 01:27] traviswaelbro commented on #942
Migration of sale_mrp_link #1109. Module is not shown in the issue's module list.

[2020-04-02 12:01] ice0072 opened #1110 "sale_merge_draft_invoice"

[2020-04-02 12:03] ice0072 commented on #942
Migration of sale_merge_draft_invoice #1110

[2020-04-06 07:41] jimhoefnagels commented on #942
I created an additional PR #1111 on sale_partner_incoterm to fix the customer search which did not return a partner.

[2020-04-08 14:59] Vignesh000 opened #1116 "Installation error when i try to install this module."
I already install sale_isolated_quotation for the sequence numbers. then I install this module for revisions sequence it can't install.

[2020-04-08 15:02] bodedra commented on #1116
For which version? :smile:

[2020-04-09 07:33] Vignesh000 commented on #1116
odoo12 :(

[2020-04-09 07:44] bodedra commented on #1116
I have re-read your question and cannot able to understand. Can you update your question and provide clear information? And what do you mean by "this module"?

[2020-04-09 07:59] Vignesh000 commented on #1116
sorry, "this module(sale_order_revisions)".
**odoo server error**
 "duplicate key value violates unique constraint "sale_order_revision_unique"
DETAIL: Key (unrevisioned_name, revision_number, company_id)=(TTPL/QUO/075, 0, 1) already exists." this error came when i installed sale_order_revisions module.

[2020-04-15 13:39] atchuthan opened #1118 "[13.0][Question] sale_automatic_workflow_payment_mode"
In one of our customer customization, we added a few informations to be sent via Register payment button, but the sale_automatic_workflow_payment_mode created the payment directly using a predefined values in https://github.com/OCA/sale-workflow/blob/12.0/sale_automatic_workflow_payment_mode/models/automatic_workflow_job.py#L43-L52

So, when migrating it to v13, we are planning to use the Register

[2020-04-16 08:02] jado95 commented on #1070
@jonatasartur check now #1072 . Now it works

[2020-04-25 10:53] deantheiceman opened #1126 "[12.0] sale_blanket_order showing when no permission"
My user doesn't have permissions to sales module but it shows up because of sale_blanket_order

[2020-04-27 18:35] Zephyria77 opened #1127 "Sale order line price history + Invoice"
Good morning, using this module I have think will be useful to add search history price also in the invoice line. Various company need to review price on sale order based on quantity effectively invoiced.
Thanks to all

[2020-04-27 18:38] rousseldenis commented on #1127
@ernestotejeda @murtuzasaleh What do you think of this ?

[2020-04-27 18:47] pedrobaeza commented on #1127
Well, that would be another different module and of course it can be interesting, but no funds nor customer requirement for now for that.

[2020-05-05 09:36] newtratip commented on #942
This is done, Can someone review this ? `sale_isolated_quotation` https://github.com/OCA/sale-workflow/pull/1099 `sales_team_security` https://github.com/OCA/sale-workflow/pull/1086

[2020-05-06 12:35] atchuthan commented on #1118
@lmignon @hugosantosred @florian-dacosta

[2020-05-07 07:16] rousseldenis commented on #1118
@atchuthan Some flows have been modified as Odoo base code is more reliable for payments. We rely on acquirer now to bind sale and workflow as you can see there : https://github.com/OCA/sale-workflow/pull/1016

Does this fullfill your requirements ?

[2020-05-07 15:13] HaraldPanten commented on #942
working on portal_sale_personal_data_only https://github.com/OCA/sale-workflow/pull/1135

[2020-05-19 07:11] rousseldenis opened #1146 "[12.0] Main branch is red on travis (sale_elaboration + sale_stock_secondary_unit)."
https://travis-ci.org/github/OCA/sale-workflow/jobs/687769282#L2337

Sale order in tests is created without company_id (not required), so the invoice creation raises as it takes the one on sale order (and is required).

Last good build on 24th of April, first raise on 13th of May.

https://github.com/OCA/sale-workflow/blob/12.0/sale_elaboration/tests/test_sale_elaboration.py#L125

Didn't find any

[2020-05-19 08:11] rousseldenis commented on #1146
Sale elaboration test is fixed with #1147

@pedrobaeza Could you fix sale_stock_secondary_unit as the last commit (direct on 12.0 branch without PR) is yours ? https://github.com/OCA/sale-workflow/commit/f36fe4e11f5fa6cd0a2b7392454ee13fa1f26ebc

[2020-05-19 08:15] pedrobaeza commented on #1146
Yes, I'm checking today and letting it green. If you want, I can switch also `sale_elaboration` to a better approach with `tests.Form` class.

[2020-05-19 08:16] rousseldenis commented on #1146
Ok, if you want.

[2020-05-25 13:59] sergio-teruel commented on #942
Working on sale_tier_validation https://github.com/OCA/sale-workflow/pull/1152

[2020-05-25 15:40] pedrobaeza commented on #1146
Fixed in 596aed2

[2020-05-25 15:40] #1146 closed, assigned to nobody

[2020-06-04 04:59] anviz-github opened #1158 "[13.0]Request of quotation CONFIRM ORDER validate"
<img width="1440" alt="Screen Shot 2020-06-04 at 12 55 32 PM" src="https://user-images.githubusercontent.com/54052406/83716637-07bcac80-a663-11ea-8e64-a6277315efd0.png">
When install sale_tier_validate,confirm the request of quotation want to validate.
Thank you!

[2020-06-04 07:00] pedrobaeza commented on #1158
`sale_tier_validation` is for sales, not for purchases.

[2020-06-04 07:00] #1158 closed, assigned to nobody

[2020-06-09 16:02] ramon-flashtec opened #1161 "sale_order_line_sequence should not count notes and sections"
notes and sections are counted as normal product lines but should be ignored > maybe can be controlled via the display type

[2020-06-15 09:13] bealdav opened #1166 "Sale_order_lot_selection, constraints on lot"
Hi @eLBati @PCatinean,

I have a question about this module
There is a constraint which prevent to have 2 `stock.move.line` sharing the same lot and linked to a `sale.order`.

https://github.com/OCA/sale-workflow/blob/12.0/sale_order_lot_selection/models/sale.py#L39-L53

I would like to know the reason for which you introduced this constraint and if you really yet need in 12.0 (or only in old vers

[2020-06-24 15:38] eLBati commented on #1166
Hi @bealdav , sorry, I don't remember. I am not using this module at the moment, and never used in v12.
So I suggest to proceed in the way you think is best

[2020-06-25 09:58] bwilmus opened #1175 "Only products of type "product" appear in the invoice"
I am using the sale-workflow to automate invoice creation in Odoo 11
It seems that when a sale order contains service products, those products do not appear on invoice.

Invoicing Policy is "Invoice what is delivered" but this doesn't seem to be linked to the problem.

Thanks for feedbacks

[2020-06-25 10:28] bwilmus commented on #1175
Sorry for this, "Invoice what is delivered" was set on shipping products.
It seems to work now.

[2020-06-25 10:28] #1175 closed, assigned to nobody

[2020-06-26 13:04] PCatinean commented on #1166
Hi @bealdav, I checked and even used the blame feature but I can't remember/see any specific reason at this time on why that restriction was added (I just ported the module to the next version like this). I will ask some customers and collaborators to see if there's something I'm missing but as far as I know we don't require it specifically.

[2020-06-26 13:38] bealdav commented on #1166
@eLBati @PCatinean  Thanks for your replies.

We also noticed than sale_order_lot_selection prevent to confirm sale.order when there is no available stock with this lot. Odoo used alone doesn't prevent to confirm sale when there is no stock. It only alerts where you try to deliver with no stock.

I propose to remove the constraints preventing to confirm sale when lot is not available but to keep t

[2020-06-27 15:11] bealdav commented on #1166
FYI @bodedra, I've seen you ported the module to 13.0. Are you ok for these changes ?

[2020-07-08 08:22] kittiu opened #1185 "Enhance sale_order_type to better support mult-company scenario"
As types will be by company, but currently the system do not constrain only type of the company selected in the document.
Now, user select company A can use types of company B. This can lead to user error.
I propose to have followings,

Add @api.constraints('company_id'), to ensure that "type" selected is of that company (or any company), otherwise show warning.
Add domain in field "type", to filt

[2020-07-15 13:08] victoralmau opened #1195 "[12.0] Is there an addon that limits the payment_mode_id with respect to the payment_term_id in the sale_order?"
We have a small addon that adds a many2many field payment_mode_id in the payment_term_id
The objective of this is to limit the payment_term that can be selected from the sale_orders.

Before creating a PR to add this addon, I would like to know if it exists, and if it does not exist, what name do you suggest for this addon.

Thank you very much.

[2020-07-15 16:51] pedrobaeza commented on #1195
I don't know any, but it should be planned as a base module with a mixin for being added to sale.order, account.invoice, purchase.order... so that you don't need to re-add the same logic/fields for each one (only little glue modules inheriting that mixin). It can go to OCA/bank-payment.

Anyway, not sure this is a common use case.

[2020-07-15 22:53] HaraldPanten commented on #1195
IMO you could think about a more standard and generic module improving this one that you have, making it more powerful and covering more use cases. The idea is not bad. For example:

1- Imagine something like "payment_term_rule" module.
2- This module allows users to set different limit/restrictions to payment terms. Some examples could be:

- limit a payment term depending on a partner: Imagine t

[2020-07-16 05:39] victoralmau commented on #1195
Ok, thank you very much for your opinion.
I fully understand what you are saying and that the addon that is proposed as such does not make sense as it is so specific, but as you indicate something very general based on rules that could affect both sales and invoices (if configured), etc. prove useful.

I write it down as the correct solution (create this new rules-based addon) although due to the

[2020-07-16 16:06] victoralmau commented on #1195
On the other hand I respect the question that was posed I think it would not be a bad idea to add payment_term_ids (many2many) in the model: account.payment and add it in the account_payment_mode addon (https://github.com/OCA/bank-payment) and add a domain to filter on invoices and sale_orders through the addon: account_payment_sale.

Do you think that this little suggested improvement to existing

[2020-07-16 17:05] HaraldPanten commented on #1195
I don't need it at the moment, but it might be interesting for other users

[2020-07-17 07:00] ns-landoo commented on #942
module: sale_order_lot_selection
version: 13.0

Hi all,

I would like to share with us the incidence that occurs to me when creating an order with the 'lot_id' was empty using ... and when odoo creating the 'delivery' it does not assign 'lot_id' but the quantity is correct, I think that by default odoo should choose the oldest. Is it right?
On the other hand, if the 'lot_id' is defined from the or

[2020-07-20 15:57] nithwith commented on #914
Same needs, thanks for the module @LoisRForgeFlow

[2020-07-23 06:59] victoralmau opened #1199 "[12.0] Auto send mails with sale_automatic_workflow?"
Hello,

I think the **sale_automatic_workflow** addon is very useful but I'm not sure if you can configure a mail process, that is, for each sale_automatic_workflow define a process like:

- Mail A> Filters for the custom sale_order (A)
- Mail A1> If Mail A has been sent and X is satisfied
- Mail A2> If Mail A has been sent and Y is satisfied
- Mail B> Custom sale_order filters (A)

Emails should

[2020-07-23 07:01] pedrobaeza commented on #1199
You can do it with `base_automation` defining an automated action when the sales order changes the state, but it can be also OK to add that feature in this module.

[2020-07-23 13:20] victoralmau commented on #1199
Ok, thank you very much, I think it serves what I am looking for although you should always keep in mind to update some field of the existing ones so that the same email is not sent (for example) constantly.

[2020-08-05 20:46] alxolivares commented on #942
Hi all,
Is there a particular reason why **product_supplierinfo_for_customer_sale** module doesn't appear in the migration list?

Regards

[2020-08-06 06:47] rousseldenis commented on #942
This is generated once usually when Odoo publishes its new version. The list here is based on 12.0 branch modules at that time.

[2020-08-06 06:51] pedrobaeza commented on #942
@alxolivares There's a link at the end of the list explaining it. Why don't you read it?

[2020-08-06 13:48] alxolivares commented on #942
@rousseldenis
Thank's

@pedrobaeza
I read the explanation, it just seemed strange to me that no one had added it to the list until now, that was the sense of my question, maybe I did not express it correctly.

[2020-08-11 16:36] nicomacr commented on #1185
I would also add that if you try to create an invoice in company B having only one type of sale in company A. When trying to create you get a permissions error because it tries to load the unique type of sale that is from the other company.
Same case for sales.

The cause of this problem is [here](https://github.com/OCA/sale-workflow/blob/13.0/sale_order_type/models/account_move.py#L23), this not

[2020-08-13 16:03] SimoRubi commented on #1103
@rafamarpe I have imported your file in latest runbot v12 and seems to me that discounts are correct for all products:
![image](https://user-images.githubusercontent.com/32064796/90158326-2b9d1c80-dd8f-11ea-9d39-5577fa8218f3.png)
Can you confirm that the issue does no longer exist?

[2020-08-21 21:29] max3903 opened #1216 "[RFC] sale_expense_receipt"
This module allows you to attach all the receipts of the expenses when invoicing a sale order and send them with the invoice.

# Usage

* Go to Expenses
* Create an expense with a product that is re-invoiced (Re-invoicing policy: At cost)
* Select a sale order and attach the receipt
* Submit, approve and post the journal entries
* Go to Sales > Sales Orders
* Open the sale orders selected on the e

[2020-08-31 08:09] rgl1234 opened #1223 "[13.0] sale_order_type: Entrysequence wrong when duplicatin existing sale-orders"
Hi
We have created some different sale-order-types with different sequences. When creating a new SO, the correct sequence for the type is used according to the type-setup. But when we duplicate existing sale-orders, that have already chosen a specific type, another sequence coming from another type is chosen event thought the sequence on the SO is set correctly. So the result is, that we have an S

[2020-08-31 08:58] rousseldenis commented on #1223
@pedrobaeza @grindtildeath As you worked recently on it

[2020-08-31 09:04] pedrobaeza commented on #1223
@rgl1234 is this reproducible on runbot?

[2020-08-31 09:08] rgl1234 commented on #1223
How can I connect to OCA-modules on runbot?

[2020-08-31 09:10] pedrobaeza commented on #1223
Just click on the "Try me on runbot" badge on the top of the README. admin/admin

[2020-08-31 09:43] rgl1234 commented on #1223
thanks...
I tried to reproduce it on runbot. Until now I was not able to do so....But what I can see is, that on runbot by default when I create a new SO the SO-type is filled in by default also when the type-field on the partner is empty. On our test-db when I create a new SO I have to choose the type-field manually, if it is not set on the partner.....
Where can I set the default-value for new S

[2020-08-31 09:46] pedrobaeza commented on #1223
I think you are not using latest code version, but an outdated one. Closing this meanwhile you figure out that.

[2020-08-31 09:46] #1223 closed, assigned to nobody

[2020-08-31 09:50] rgl1234 commented on #1223
ok...you are right, I will first have to update to the latest code....I will test it again then....

[2020-09-04 08:45] HaraldPanten commented on #942
Could you add sale_quotation_number, please?

It's being merged to V12 and we'll take care of the [MIG] to V13

THX!

[2020-09-07 12:21] Vartkat opened #1230 "[12.0] Revision : new revision stays linked to old client"
Imagine I have a sale order which is quite the same as an old one but for a new client. This old has already a new version so it's canceled as I can't make new version of a draft sale order, only canceled sale order show the 'new version' button.

So I have :
- Sale order number 123456 Partner A (canceled)
- Sale order number 123456-01 Partner A (invoiced)
and I want to use the first one as templa

[2020-09-08 13:45] HaraldPanten opened #1233 "[RFC] product categories more accessible from sales module."
IMHO, it doesn't make sense limiting product categories menu access, only from purchases or inventory modules. Users are often using sales + CRM + invoicing but not inventory or purchases.

Since product category menu is not accessible from sales module, wouldn't that make sense to create a module to make it more "accessible" from there? I know that it would be a "micro-module"...

Do you think th

[2020-09-08 14:18] rousseldenis commented on #1233
Indeed, that makes sense to have that menu point on Sale level.

Either, you can do a PR on odoo itself. If it is taken into account, it won't be merged in a stable version (only in master). So, for missing ones, you can do a PR on OCA/sale-workflow for that purpose.

[2020-09-08 15:18] HaraldPanten commented on #1233
Thanks for your comments, Denis.

We'll create this [ADD] soon 👍

[2020-09-09 07:29] ns-landoo opened #1235 "[13.0] sale_order_lot_selection: Problem with 'lot_id' value when in order is empty."
Hello,

I have a problem when I use this module in version 13.0, since in version 12.0 the behavior is as expected.

The problem is when creating an order with the 'lot_id' is empty. When odoo creating the 'delivery' it does not assign 'lot_id' but the quantity is correct, I think that by default odoo should choose the oldest value. Is it right?

On the other hand, if the 'lot_id' is defined from

[2020-09-13 07:42] RicardoNar opened #1243 "[12.0] sale_order_line_price_history"
When I press the button "Set Price (Establecer Precio)" doesnt set the discount. Only set price without discount.
is it correct?

[2020-09-14 15:15] HaraldPanten commented on #1233
Closing, as PRs have been done for V12 and V13

[2020-09-14 15:15] #1233 closed, assigned to nobody

[2020-09-17 07:07] rousseldenis commented on #1243
Hi @RicardoNar . I think you are mixing two modules. sale_order_line_price_history does not have a Set Price button...

[2020-09-17 11:10] RicardoNar commented on #1243
Hi @rousseldenis , yes, this module has it in Odoo 12.

https://odoo-community.org/shop/product/sale-order-line-price-history-4704?search=sale_order_line_price_history

"5. You can also set the price of one of the price history lines in the sale order line. To do that, you have to open the price history line desired and click the smart button named Set price."

[2020-09-21 15:34] SimoRubi commented on #1103
@rousseldenis OP hasn't answered in a month and issue does not seem to be happening anymore, can this be closed?

[2020-09-25 07:55] rgl1234 commented on #1223
@pedrobaeza
I just look into this issue with newest code and still have problems duplicating SO also on runbot. Now when I duplicat an SO of Type "A", the type on duplicated order is set back to "Normal Order" and the name of the SO is eet to "/". See screenshot.....I think there is realy something wrong here.....
![image](https://user-images.githubusercontent.com/11720329/94241630-2a761800-ff15-1

[2020-09-28 07:26] rgl1234 opened #1260 "[13.0] sale_order_type: sale_type_id empty on invoices"
Is it by design that the field "sale_type_id" stays empty after creating an invoice?
![image](https://user-images.githubusercontent.com/11720329/94402677-a1f1b480-016c-11eb-885a-98f1f20d82ca.png)

[2020-09-28 10:02] pedrobaeza commented on #1260
Complete steps to reproduce the "problem"?

[2020-09-28 13:20] rgl1234 commented on #1260
1) create SO with "Type = A"
2) deliver products
3) create invoice
4) "Type = empty" on invoice created from SO, expected would be "Type = A" also on invoice.....

[2020-10-01 05:35] nikul-serpentcs commented on #942
sale_stock_sourcing_address #1268

[2020-10-01 19:04] newtratip commented on #942
Please review/merge this https://github.com/OCA/sale-workflow/pull/1099

[2020-10-03 14:15] StefanRijnhart commented on #223
Can I just ask how  you all like the convergence between the old `payment.method` from sale_payment method and `account.payment.mode` as per this edition's migration? We are running a multi-company Magento site migrating away from version 8.0. For us, the `payment.method` is just a label determined in Magento by the payment provider that we can use in Odoo to apply the ecommerce `import_rule`, `wo

[2020-10-04 10:34] OCA-git-bot opened #1274 "Migration to version 14.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0

# Modules to migrate

- [x] portal_sale_personal_data_only - By @victoralmau - #1721
- [ ] product_form_sale_link - #1722
- [x] product_supplierinfo_for_customer_elaboration - By @CarlosRoca13 - #2205
- [x] product_supplierinfo_for_customer_sale - By @LoisRForgeFlow - #1680
- [x] sale_automatic_workflow - By @phuctrane

[2020-10-05 15:34] SodexisTeam commented on #223
Hello Heather!

I am going to create a helpdesk ticket for this. For future reference, you can send this types of issues to "issues@sodexis.com" and the system will create a help desk ticket for you.

I will review and get back with you.

Thank you,
Jamie

[twitter] [https://twitter.com/sodexis]
[linkedin] [https://www.linkedin.com/company/sodexis]
Jamie Funk
Business Analyst at Sodexis
1-833-763-

[2020-10-05 15:35] SodexisTeam commented on #223
disregard previous email.

[twitter] [https://twitter.com/sodexis]
[linkedin] [https://www.linkedin.com/company/sodexis]
Jamie Funk
Business Analyst at Sodexis
1-833-763-3947 ext. 703
jfunk@sodexis.com [mailto:jfunk@sodexis.com]
www.sodexis.com [https://www.sodexis.com/]
"We help manufacturing and distribution companies improve operations by implementing the Odoo ERP solution with the highest poss

[2020-10-06 06:06] nikul-serpentcs commented on #1260
@rgl1234 Yes, You are right.

@pedrobaeza I think here we add a condition, please check https://github.com/OCA/sale-workflow/blob/13.0/sale_order_type/models/account_move.py#L25

when we added a customer that time not set sale type then we manage like that.
`if not record.partner_id` -> `if not record.partner_id and not record.partner_id.sale_type`

When it's  approved, I will create PR for that

[2020-10-06 07:17] pedrobaeza commented on #1260
Well, according to that, the first type record will be selected, not empty.

[2020-10-07 16:43] atchuthan commented on #1118
yes, this could be an alternative.

[2020-10-07 16:43] #1118 closed, assigned to nobody

[2020-10-09 13:43] ThomasBinsfeld commented on #942
sale_automatic_workflow_payment_mode #1283

[2020-10-12 13:22] dreispt opened #1290 "Forward port [11.0] sale_blanket_order: fix the following use case scenario"
Forward port fix #982 to:

- [ ] 12.0
- [ ] 13.0

Thank you.

[2020-10-13 07:28] gdgellatly commented on #52
I am fairly sure this issue is decided. If not, it never will be.

[2020-10-13 07:28] #52 closed, assigned to nobody

[2020-10-13 07:30] gdgellatly commented on #96
Fixed

[2020-10-13 07:30] #96 closed, assigned to nobody

[2020-10-13 13:27] chafique-delli commented on #1274
sale_discount_display_amount here https://github.com/OCA/sale-workflow/pull/1288

[2020-10-15 08:55] jcdrubay commented on #1087
It does not support either this workflow:

 - Create the Quotation below the limit + Save
- Edit and change the total price above the limit

The user can then still confirm the order.

[2020-10-15 08:57] jcdrubay commented on #1087
The Duplicate is not supported either:

Create the order above the limit => user needs to get an approval
User duplicates the order => user does not need to get an approval for the duplicated order

[2020-10-15 09:38] rousseldenis commented on #1087
@pedrobaeza There is something weird for me in the create() method. I put a comment there https://github.com/OCA/sale-workflow/commit/0f96f1468ad793fb58de855bf9b8a44b7fa2ddb1#r43264003

[2020-10-16 08:14] danimv5 opened #1294 "[13.0] sale_order_type: the type of sale is wrongly duplicated and it isn't modified"
Hello,

For the sale_order_type module, I have found two errors:

1- When a sales order is duplicated, the sequence of new order is not correct.

Steps:
- Save a sales order with a sales type.
- Duplicate the sales order.

2- The type of sale that is indicated both in the sales order and in the invoice, is the one that is put in the contact card. Although you want to modify it, when it is saved, t

[2020-10-22 14:01] joao-p-marques commented on #942
Hi. I will migrate sale_stock_picking_note

[2020-10-23 17:48] #1199 closed, assigned to nobody

[2020-10-23 17:50] #1195 closed, assigned to nobody

[2020-10-26 18:27] pedrobaeza commented on #1087
OK, I was doing just the initial issue classification.

[2020-10-28 08:10] joao-p-marques opened #1304 "Builds failing on sale_sourced_by_line tests"
Builds are failing when testing `sale_sourced_by_line`.

I am migrating another module and getting the error: https://travis-ci.com/github/OCA/sale-workflow/jobs/407124245#L1525

I have also seen that builds are failing for the same reason on different branches: https://travis-ci.com/github/OCA/sale-workflow/jobs/407234444#L1494

ping @acsonefho @saxomanu @MiquelRForgeFlow

TT25948

[2020-10-28 18:17] rousseldenis commented on #1304
I think this is due to https://github.com/odoo/odoo/commit/51b7960f7e30aab471bb846cb890efd95c7b2dcc#diff-7d271dc8cd91058e14e1677a1c6e17d155106fa88ccd0dce46ec8c345a38b91d

I'll check

[2020-10-28 20:36] rousseldenis commented on #1304
This one would fix it : https://github.com/OCA/sale-workflow/pull/1305

[2020-10-28 20:53] #1304 closed, assigned to nobody

[2020-10-31 19:14] alan196 commented on #942
New PR for sale_cancel_reason https://github.com/OCA/sale-workflow/pull/1306

[2020-11-02 17:52] newtratip commented on #1274
`sale_commercial_partner` https://github.com/OCA/sale-workflow/pull/1309

[2020-11-02 18:42] newtratip commented on #1274
`sale_product_category_menu` https://github.com/OCA/sale-workflow/pull/1310

[2020-11-03 03:21] newtratip commented on #1274
`sale_last_price_info` https://github.com/OCA/sale-workflow/pull/1311

[2020-11-03 12:28] newtratip commented on #1274
`sale_validity` https://github.com/OCA/sale-workflow/pull/1314

[2020-11-04 10:36] BT-jmontero opened #1315 "sale_type_id is not defined in sale.order"
https://github.com/OCA/sale-workflow/blob/23caf26e3951b2abac172954854c24cfef356a82/sale_order_type/models/sale.py#L28

Shouldn't it be

`
record.**type_id** = self.env["sale.order.type"].search([], limit=1)
`
?

[2020-11-05 10:07] quentinDupont opened #1317 "Discussion about sale_order_price_recalculation"
Hello,

We use `sale_order_price_recalculation` module in my company, thanks for the work :)
I have an idea to suggest : would it be nice if the two buttons `recalculate_prices` and `recalculate_names` appears only when changes are made (in prices, discount, description, ?
I find it a bit confusing for user that the two buttons are present in sale order at start even if nothing has changed

![imag

[2020-11-07 09:24] yostashiro opened #1320 "[RFC] Default sales incoterm place per partner"
We have this module https://github.com/OCA/sale-workflow/tree/12.0/sale_order_incoterm_place now, and we'd like to have the place (together with the code) proposed based on the partner.

A question - which of the following would be a better option?
Option 1. Have the place field covered in https://github.com/OCA/sale-workflow/tree/12.0/sale_partner_incoterm
Option 2. Create a new module to only ha

[2020-11-07 15:17] rousseldenis commented on #1315
@pedrobaeza Could you fix this as you did the modifications there: https://github.com/OCA/sale-workflow/commit/8e40947084d9224a3ef7dd27a4fce0f2a9f26d0f#diff-3fd48516bef3a42070c960c3e63c5b5efa264e438f6f53a1fc669614483c8079R22

and add a test :smiley:

[2020-11-09 01:53] #1315 closed, assigned to nobody

[2020-11-09 01:53] pedrobaeza commented on #1315
Thanks for noting. Fixed in 10aecb4

[2020-11-09 01:54] pedrobaeza commented on #1315
s/nothing/noting

hehe bad typo...

[2020-11-10 06:36] phuctranfxvn commented on #942
`sale_manual_delivery` migrated in https://github.com/OCA/sale-workflow/pull/1319

[2020-11-10 10:42] SimoRubi commented on #1103
@OCA/crm-sales-marketing-maintainers can this be closed?

[2020-11-10 20:39] dreispt commented on #1320
What would be the extra dependency?

[2020-11-11 00:34] yostashiro commented on #1320
@dreispt https://github.com/OCA/sale-workflow/tree/12.0/sale_order_incoterm_place

https://github.com/OCA/sale-workflow/tree/12.0/sale_partner_incoterm currently depends on just sale_stock. Option 1 assumes that sale_order_incoterm_place is added to the dependency list.

[2020-11-13 17:05] iggups opened #1333 "[13.0] Error when printing quotation with sale_fixed_discount"
Reproduce:
- Install module `sale_fixed_discount`
- Activate Discounts in Settings->Sales
- Set a fixed discount on an order line
- Try to print a quotation/order

[code]

![sale_fixed_discount](https://user-images.githubusercontent.com/55084396/99099346-96eaca80-25da-11eb-8b5d-7e3c732b4d9f.png)

[2020-11-14 04:18] newtratip commented on #1274
`sale_product_multi_add` https://github.com/OCA/sale-workflow/pull/1334

[2020-11-18 06:15] newtratip opened #1340 "xxx"
xxx

[2020-11-18 06:15] #1340 closed, assigned to nobody

[2020-11-18 16:50] JSeguiN97 commented on #1274
sale_elaboration #1341

[2020-11-18 20:38] julianram commented on #1075
Hi @igallart .

We have the same problem, something is wrong with the caches, did you find a solution?

[2020-11-20 17:34] igallart commented on #1075
@JulianaPoudou , if I remember correctly, what we did was use the module as it was before, without the latest refactorings.

[2020-11-21 16:01] skeller1 commented on #1317
Hi, we also use this addon in our company. :+1:

My thoughts about your feature request:

AFAIU Recalculate prices or resetting the sale order line descriptions is not for sale order line history tracking. It should be used if you notice wrong descriptions in your product variants, wrong pricelist rules/costs or wrong master data.

One example:
Your company is using different pricelists for each p

[2020-11-23 09:39] quentinDupont commented on #1317
Ok thanks for your clear and efficient answer ! It's clearer for me now and I like the "Keep it simple and stupid" point of view :ok_hand:

[2020-11-23 09:39] #1317 closed, assigned to nobody

[2020-11-25 10:58] Vanneri commented on #1274
sale_quotation_number #1350

[2020-11-25 17:54] ivantodorovich commented on #1274
`sales_team_security`: https://github.com/OCA/sale-workflow/pull/1352

[2020-12-03 14:41] BT-mfasola opened #1361 "[13.0] sale_order_lot_selection: Doesn't Work for Multi-Step Delivery Route"
Scenario:
- Warehouse configured for multi-step delivery (Pick & Ship or Pick, Pack & Ship)
- Product tracked by lots, enough lots are available in stock
- Lot for which qty is in stock is selected on the sales order line
- Order is confirmed

Expected result:
- 2 (or 3) pickings are created;
- PICK picking is ready and has chosen lot selected;
- (PACK) & SHIP are waiting for other operation witho

[2020-12-03 16:01] florian-dacosta commented on #1274
sale_order_lot_selection https://github.com/OCA/sale-workflow/pull/1360

[2020-12-04 07:41] kittiu commented on #1274
Hi, I would like to make migration to `sale_order_revision` but in the way that split it to,

1. base_revision (server-ux ??)
2. sale_order_revision (here, as extension).

I need similar capability used in other module, DRY.

Is this doable, WDYT? @rafaelbn @pedrobaeza @rousseldenis
cc @newtratip

[2020-12-04 07:43] pedrobaeza commented on #1274
Do you think there's is too much logic to share? I don't see it, as most is dependent on the name of the fields and UI stuff that can't be shared (but I don't remember in detail).

[2020-12-04 08:15] kittiu commented on #1274
I think it is much enough.
https://github.com/OCA/sale-workflow/blob/13.0/sale_order_revision/models/sale_order.py I think almost all the code can be on base_revision.
As we plan to do the same for many models, I think it is good amount of code. In our case, sale, purchase, budget plan, contract, agreement...

But I worry about migration from 13 to 14, not sure how to deal with migration script.

[2020-12-04 08:20] pedrobaeza commented on #1274
OK, go ahead with OCA/server-ux. There's no need of migration scripts, as the new dependency will add to the "to install" list automatically.

[2020-12-07 22:12] #1333 closed, assigned to nobody

[2020-12-10 11:25] kittiu commented on #1274
I am working on sale_order_revision (WIP) https://github.com/OCA/sale-workflow/pull/1369

[2020-12-11 07:34] TimLai125 opened #1371 "[12.0] sale_tier_validation: Sale order cannot be processed when there are followers"
Steps to reproduce:
1. Create a "Tier Validation" record for the sale order.
![image](https://user-images.githubusercontent.com/27185427/101875435-96d3ef80-3bc5-11eb-894c-544ad25fe3a7.png)
2. Create a SO with Admin user and assign Demo user as the Salesperson.
![image](https://user-images.githubusercontent.com/27185427/101875882-617bd180-3bc6-11eb-9c53-4577f9d5c759.png)
3. Press "Request Validatio

[2020-12-11 07:43] TimLai125 commented on #1371
To resolve this situation, I figured out that we need to remove the followers from the record (Only the user who presses the "Request Validation" can be the follower, when there are other followers, the order is "stuck").

The cause of this issue seems to be the `portal` module is trying to update the `access_token` of the record when "Request Validation" is being pressed.

@mgosai  Do you have an

[2020-12-16 08:48] #972 closed, assigned to nobody

[2020-12-16 16:14] mohamedhagag commented on #1274
sale_order_type #1383

[2020-12-21 09:27] jaferrer opened #1387 "Secondary unit wrong calculation in sale order"
module: sale_order_secondary_unit
version: 12.0

**Steps to reproduce**

- 1 Create a product with secondary unit (bag-100)

![image](https://user-images.githubusercontent.com/16543165/102758698-6b929280-4373-11eb-82f2-dda9c0017ffd.png)

- 2 Place a new Sale Order Quaotation and create a new order line using "Configure a Product" and set to (i.e.) 6 units to order

![image](https://user-images.git

[2020-12-21 12:23] pedrobaeza commented on #1387
There's no support for the product configurator in this module.

[2020-12-22 07:34] jaferrer commented on #1387
Ok.

No additional info in module's  main page regarding its lack of that funcionality though.

[2020-12-22 07:35] pedrobaeza commented on #1387
No. Please add a pull request adding such information in the README.

[2020-12-22 08:29] ioans73 opened #1391 "[12.0] sale_triple_discount incorrect result"
When creating a line with 3 different discounts in a Sale Order:

Unit price: $150
Discount 1: 20%
Discount 2: 10%
Discount 3: 5%

We save and the subtotal is set to: $102.06

Now once we modify the value of Discount 2, setting it to 5% and saving the line, we can see that the field does not update, maintaining its initial value and therefore, the subtotal doesn't re-calculate either.

Testing was

[2020-12-22 09:30] rousseldenis commented on #1391
@eLBati @tafaRU @SimoRubi Could you help here ?