[2020-12-26 16:37] phuctranfxvn commented on #1274
`sale_order_line_packaging_qty` migrated in https://github.com/OCA/sale-workflow/pull/1396

[2020-12-27 06:36] phuctranfxvn commented on #1274
`sale_automatic_workflow` migrated in https://github.com/OCA/sale-workflow/pull/1397

[2020-12-27 12:32] phuctranfxvn commented on #1274
`sale_by_packaging` migrated in https://github.com/OCA/sale-workflow/pull/1398

[2020-12-28 02:40] phuctranfxvn commented on #1274
`sale_product_set` migrated in https://github.com/OCA/sale-workflow/pull/1399

[2020-12-29 16:24] phuctranfxvn commented on #1274
`sale_wishlist` migrated in https://github.com/OCA/sale-workflow/pull/1401

[2020-12-29 16:40] phuctranfxvn commented on #1274
`sale_product_set_packaging_qty` migrated in https://github.com/OCA/sale-workflow/pull/1402

[2020-12-29 17:25] phuctranfxvn commented on #1274
`sale_cutoff_time_delivery` migrated in https://github.com/OCA/sale-workflow/pull/1403

[2021-01-05 17:14] SimoRubi commented on #1391
There is some history about triple discount cache management but as far as I know, it is for v10: https://github.com/OCA/sale-workflow/issues/817.

I don't know/recall of any similar issue in v12 (until now).

[2021-01-06 03:16] sonhd91 commented on #1274
`sale_invoice_plan `migrated in [#1710 ](https://github.com/OCA/sale-workflow/pull/1710)

[2021-01-07 13:21] protontrigg3r opened #1409 "[10.01] bank-statement-reconcile dipendence"
File `oca_dependencies.txt` contains `bank-statement-reconcile` but this dependence is not present in the OCA.

[2021-01-07 13:27] pedrobaeza commented on #1409
It was renamed to account-reconcile, but both should work without problems, as GitHub keeps a redirection from previous names.

[2021-01-07 14:26] ioans73 commented on #1391
To solve the problem, at least temporarily, we've refactored some of the module's code.
Our clients haven't complained since we made these changes.
If you think it could be helpful, we can make a PR to propose the changes.

[2021-01-07 15:52] SimoRubi commented on #1391
If the module has an issue, sharing a fix is helpful for sure :) thanks!

[2021-01-07 16:41] protontrigg3r commented on #1409
Thanks. Searching for `bank-statement-reconcile` on GitHub produces no results, so it's not possible to know what to install.

[2021-01-07 16:42] ioans73 commented on #1391
PR done https://github.com/OCA/sale-workflow/pull/1410

[2021-01-07 16:43] pedrobaeza commented on #1409
Well, but this version is very old, so not being an error, doesn't qualify for a fix from usual maintainers. Though, if you want to have it fixed, please apply the corresponding PR.

[2021-01-07 16:43] #1409 closed, assigned to nobody

[2021-01-10 04:03] dzungtran89 commented on #1274
`sale_partner_delivery_window`: #1413

[2021-01-10 04:04] dzungtran89 commented on #1274
`sale_partner_cutoff_delivery_window`: #1414

[2021-01-10 12:42] mehdi-ghezal commented on #1106
It's mostly because of this line : https://github.com/OCA/sale-workflow/blob/13.0/sale_discount_display_amount/models/sale_order_line.py#L22

When we set a fixed discount, it's the discount_fixed field that hold the discount and not the discount field.

[2021-01-10 12:49] mehdi-ghezal opened #1411 "[13.0] sale_fixed_discount: price_reduce in database is wrong"
Steps to reproduce:

Create a sale order with 2 line.
* 1st line: price=10, discount=50%
* 2nd line: price=10, discount=5 (fixed)

Check in the database:
* 1st line: price_reduce=5
* 2nd line: price_reduce=10

[2021-01-20 13:13] SimoRubi commented on #1103
@OCA/crm-sales-marketing-maintainers can this be closed?

[2021-01-21 11:34] MAG-Florian-Chevalier opened #1424 "[12.0] sale_fixed_discount - Wrong tax_amount displayed on reporting"
Hello,

On sale order reports, the field tax_amount seems to be incorrect.
The tax amount is calculated on the undiscounted price.
Untaxed total and total are correct, and tax amount is only wrong on report.

Regards,

[2021-01-22 12:17] Rad0van commented on #1106
+1 here. In this combination it actually doesn't work properly.
When % discount is applied, it is correct:
![image](https://user-images.githubusercontent.com/19169467/105489207-2daac600-5cb3-11eb-9cf7-421af21bca30.png)

But when fixed discount is applied, it is wrong:
![image](https://user-images.githubusercontent.com/19169467/105489463-8d08d600-5cb3-11eb-8076-67219e86d7c8.png)

@LoisRForgeFlow, @

[2021-01-25 22:30] #1235 closed, assigned to nobody

[2021-01-28 19:18] ivantodorovich commented on #1274
`sale_order_general_discount`: https://github.com/OCA/sale-workflow/pull/1434

[2021-02-05 10:53] CarlosRoca13 opened #1446 "[12.0] sale_order_lot_selection: failing tests"
The tests on travis version 12.0 are failing by sale_order_lot_selection module, here you have a link to last travis run https://travis-ci.com/github/OCA/sale-workflow/jobs/479997013#L2198

ping @PCatinean @bealdav

[2021-02-08 17:04] chienandalu commented on #1446
It's funny this didn't fail until now :thinking:

[2021-02-10 16:06] vanderleiromera opened #1459 "[12.0] sale_fixed_discount : discounts multiplied by quantity of products"
![discount_fixed](https://user-images.githubusercontent.com/65144026/107536614-f6cc1f80-6b8f-11eb-884c-263b1d7a4051.png)

[2021-02-10 20:22] cor9003 commented on #1274
sale_order_line_date: #1460

[2021-02-11 12:08] pedrobaeza commented on #1446
Fix in #1458

[2021-02-11 12:08] #1446 closed, assigned to nobody

[2021-03-01 10:31] francesco-ooops commented on #960
This issue is also present on 12.0, tested on runbot

When a new blanket order line is added > purchase tax is used

![image](https://user-images.githubusercontent.com/55489873/109485146-9b4fcc00-7a81-11eb-90b2-f23738e44860.png)

[2021-03-04 20:45] koenloodts commented on #1274
sale_procurement_group_by_line #1498

[2021-03-10 15:10] SimoRubi commented on #1391
@ioans73 sorry to bother again, since this is now solved, can you close?

[2021-03-10 15:11] #1391 closed, assigned to nobody

[2021-03-18 11:37] dreispt opened #1516 "[14.0] Build is failing, rekated to `sale_order_lot_generator`"
Looks like problem is from sale_order_lot_generator.
https://travis-ci.com/github/OCA/sale-workflow/jobs/487066492#L1567

@florian-dacosta Any chance you can have a look at it?

[2021-03-18 12:03] florian-dacosta commented on #1516
Hi @dreispt

You can have a look here : https://github.com/OCA/stock-logistics-workflow/pull/800
The problem happens when you have a stock of product without lot but manage lot tracability for this product, which is a case that may happen in Odoo.
The linked PR should solve this.

[2021-03-22 11:57] LoisRForgeFlow commented on #1516
https://github.com/OCA/stock-logistics-workflow/pull/800 is merged now, can you check if that fixes the problem?

[2021-03-22 14:21] florian-dacosta commented on #1516
It solves the problem, but there is another one now.
This PR aims to fix it https://github.com/OCA/sale-workflow/pull/1478
(I think the problem had been solved in v12 but not ported to 14 https://github.com/OCA/sale-workflow/pull/1458/files#diff-43299f263c3599040cc383fd106e9c475084e15badbfa825c8b21acfdccfb0e1R53)

[2021-03-26 08:34] sergioeix commented on #942
I miss sale_global_discount on migration list, anyone miss it too?

[2021-03-31 07:30] rousseldenis commented on #1459
@LoisRForgeFlow @JordiBForgeFlow Could you confirm the bug ?

@vanderleiromera Maybe you can write a test that reproduce the case you have here and make a PR, then we can find a fix.

[2021-03-31 07:32] rousseldenis commented on #1424
@MAG-Florian-Chevalier Could you change description if it's related to sale_fixed_**discount**

[2021-04-05 04:38] dsolanki-initos commented on #1274
@OCA/crm-sales-marketing-maintainers
 PR #1415 and #1431 is ready to merge.

[2021-04-07 09:27] jcoux commented on #1274
`sale_stock_picking_blocking`: https://github.com/OCA/sale-workflow/pull/1544 (Just starting migration)

[2021-04-09 14:59] Moto017 opened #1549 "Sale Secondary Unit Of Measure not working with volume UOM"
Use case is to display number of containers. E.G. 55 gal drum = secondary UOM 1 drum
Calculations for **Stock Secondary Unit** accurately accounts for Secondary UOM.

1. Create product with default UOM gal
2. Create secondary UOM to gal and factor of 1.0
3. Create Sale Order for product with Secondary UOM 1.

**Expected**:
- Secondary UOM 1 gal
- Ordered Quantity 1 gal

**Result**: Defaults calcul

[2021-04-09 15:29] pedrobaeza commented on #1549
If the introduced factor is 1.0, how do you expect that something is changed?

[2021-04-09 15:35] Moto017 commented on #1549
It is the expectation that it is not suppose to change with the factor of 1.

Any factor can be introduced for secondary UOM, but is calculated incorrectly with calculations of the UOM reference factor.
In this case, Liters.

[2021-04-09 15:36] pedrobaeza commented on #1549
Uhm, I don't really get the problem. Where are you trying the modules? Maybe any extra module that is affecting?

[2021-04-09 15:42] Moto017 commented on #1549
Tested in runbot with same results.

Our use case is to display quantity of 55 gal drums in stock and in sales with product UOM as gal.
If user inputs 1 55 gal drum, Ordered quantity calculates incorrectly to 14.530 gal instead of 55 gal

**Calculations factored**  factor = self.secondary_uom_id.factor * self.product_uom.factor
Secondary UOM factor 55 gal / Product UOM Factor 3.78541 gal (Bigger t

[2021-04-09 15:48] pedrobaeza commented on #1549
Sorry, but I still don't see it, as you write everything together and I don't know exactly what are the data. You put "user inputs 1 55 gal drum". What is 1? What is 55? Put some screenshots if not.

[2021-04-09 15:52] Moto017 commented on #1549
Added Screenshots

**Secondary UOM Factor 55gal**
![image](https://user-images.githubusercontent.com/35890331/114206860-5f7e1100-9921-11eb-81b6-2d3d58cbf54d.png)

**Sale Order Line**
![image](https://user-images.githubusercontent.com/35890331/114207020-8b00fb80-9921-11eb-8f78-06b1a4d38138.png)

[2021-04-09 15:55] pedrobaeza commented on #1549
Why are you using 2 times `gal(s)` UoM both for main and secondary? That's the problem.

[2021-04-09 16:10] Moto017 commented on #1549
Thanks for the suggestion.  Tested with any Secondary UOM, but does not affect the calculations.

Calculations are always defaulted to the Reference UOM Factor given self.secondary_uom_id.factor * self.product_uom.factor.
Works as expected in all test cases with Unit(s) as the Reference UOM Factor is 1.0.

I believe secondary UOM uom_id will need to be included to calculations in this case to achi

[2021-04-09 16:41] Moto017 commented on #1549
Hi Pedro,

The problem occurs when the Product UOM is not the UOM Category Reference.

**self.secondary_uom_id.factor * self.product_uom.factor**
This calculation is backwards and results are only correct if the product UOM Category Reference (multiplied / divisible by 1)

I believe the calculations should be.
**self.secondary_uom_id.factor / self.product_uom.factor**
The secondary_uom_id would be

[2021-04-09 16:52] pedrobaeza commented on #1549
OK, thanks for checking the internals. @sergio-teruel what do you think about this?

[2021-04-09 19:29] Moto017 commented on #1549
In the end, I got it working with the following factor calculation for our use case.  secondary_uom_id would need to be correlated to convert the uom to the requested product_uom

(self.secondary_uom_id.factor / self.secondary_uom_id.uom_id.factor) * self.product_uom.factor

It then requires UOM category restrictions as it then references the Category Reference UOM, which may defeat the purpose of

[2021-04-17 07:14] descuderosanchez opened #1560 "Workflow to cancel invoices and payments"
Hi,
Is there a module that automatically, when a paid invoice is canceled, automatically eliminates the accounting entry created by the payment?

When we cancel an invoice, we must go to the accounting entry to eliminate said entry and thus be able to make the modifications and re-record the payment, otherwise an accounting entry remains unassigned or reconciled.

[2021-04-17 09:46] pedrobaeza commented on #1560
Sorry, this is not an issue about any of the modules of this repository, but a question. You should make it on Odoo official forums (https://www.odoo.com/forum/help-1) or mailing lists (https://odoo.com/groups), but not here.

Closing this by the reason above.

[2021-04-17 09:46] #1560 closed, assigned to nobody

[2021-04-22 06:22] alex9434 opened #1567 "Dependency missing in Pypi package for 'sale_order_general_discount'"
Hi, there seems to be a dependency missing in the Pypi package. I have installed the module with PIP for odoo 12.0 (from the OCA/OCB repository).

`python3 -m pip install odoo12-addon-sale-global-discount `

However, I get the following error in the Odoo log:

`ERROR xxx odoo.modules.loading: Some modules are not loaded, some dependencies or manifest may be missing: ['sale_order_general_discount']

[2021-04-22 14:51] nglinh opened #1568 "[14.0] sale_tier_validation fail on runbot"
Hi guys

I'm trying out sale_tier_validation on odoo.sh and got error on runbot:

[code]

Any particular thing I need to do to use said module on odoo.sh? I see that the repo is using travis to run its ci, while runbot builds are currently failing for some branches. Any advice?

Appreciate any help!

[2021-04-23 13:07] scaldewi commented on #529
Seems like there is no "Propagate, cancel and split" any more. I only see "cancel next move" instead with Odoo 13.0 and 14.0.
From playing with configuration, Sale order does not split when selecting Routes accordingly in sale order.

For me it looks like there is demand for this module (again).

[2021-05-10 07:43] NICO-SOLUTIONS opened #1580 "[14.0] Sale Order/Quotation revison problem"
Hey...
i am facing the following problem:
When i use the sale_order_revision module (in combo with base_revision) and want to revise a quote, it will not add a revision number to the base number of the quotation. Instead it jumps to the next sequenced base number.

Adiitional informations:
- I use the module sale_quotation_number as well, to separate quotations from orders.
- My sequence code pref

[2021-05-10 08:16] kittiu commented on #1580
Can you describe in more detail? I.e., with replication steps or pictures or videos will help.

[2021-05-10 08:46] NICO-SOLUTIONS commented on #1580
1st: For some reasons, the setting for the enumartion was unchecked. Checking this leads now to the following behaviour...
When i revise now a quotation, it falls back to the sequence code of the orders ("SO" instead of "SQ").
No title is added to the quote, as it expects a "SQ"?
I think due to the separation of quotes and order by "sale_quotation_number".

More details later...

[2021-05-10 11:14] NICO-SOLUTIONS commented on #1580
Ok is did some further tests...
In General: prefix is always added with "/%(year)s" and the number of digits is 5. Now my observations:

**sales_quotation_number installed**
Use same enumeration checked:
- create quote, Tilte „SO/2021/00001“
- mark as send
![1](https://user-images.githubusercontent.com/74965194/117649564-f5f75980-b18f-11eb-8462-451f3be54db4.png)
- revise new quote
- No title or re

[2021-05-14 12:05] hailangvn commented on #1274
Please add sale_automatic_workflow_payment_mode to task list. Thank you.

[2021-05-15 04:55] hailangvn commented on #1274
`sale_automatic_workflow_payment_mode`: https://github.com/OCA/sale-workflow/pull/1590

[2021-05-18 20:56] NICO-SOLUTIONS commented on #1580
Hey @kittiu
hopefully i won´t put to much parameters at the same time now.
I did some further test, in addition with the "sale_isolated_quotation" module which seem to be a nice feature as well.
I just want to make sure, that i do follow the intended use of it. Please give me a note, if that´s not the case.

While checking the "sale_isolated_quotation" module, i was not able to send the quotations

[2021-05-19 02:27] kittiu commented on #1580
Thank you for the feedback.

But just to let you know that, while we will try to make things works
together, some module really can't be for some good reason. And normally,
we will have a flag in manifest that, the 2 modules shouldn't be together.

While module sale_isolated_quoation is a need for some organization, but
this is one kind of module that can't fit with others well, mainly because
it

[2021-05-19 06:27] NICO-SOLUTIONS commented on #1580
You are very welcome...

Concerning breaking the standard work flow of odoo. Thats what i thought... A change can entail a slew of changes.
beside your efforts to make things work, i will try to get into more detailed understanding of these coherences. Already on the track ;P

Thanks for your response!

[2021-05-27 12:06] fredzamoabg commented on #1274
working on **product_supplierinfo_for_customer_sale** https://github.com/OCA/sale-workflow/pull/1600

[2021-05-28 06:56] khushbu-3 commented on #1274
sale_fixed_discount : migrated #1601

[2021-06-03 11:22] stananatanaela commented on #1274
Please add sale_blanket_order module to the todo list. Thank you.

[2021-06-04 11:29] igallart opened #1606 "[12.0] sale_order_min error in merge"
Hello, in branch 12.0 sale_order_min_qty has corrupt.

View the module in branch 12, only has two files!

[2021-06-04 11:54] legalsylvain commented on #1606
indeed. could you make a PR to remove that files ?
thanks.

[2021-06-08 10:07] stananatanaela commented on #1274
sale_blanket_order: #1608

[2021-06-10 22:06] sergioeix opened #1609 "[13] sale_order_invoice_amount incorrect values"
When invoices are grouped by customer the invoiced and uninvoiced amount are not well calculated.
Steps to reproduce:
1 make 2 orders with same customer confirm and validate delivery
2 make the invoice grouping this 2 orders
3 check uninvoiced and invoiced fields on the orders, totals are taken from the same invoice and are wrong
I mean if order A is 100 and order b 200 then grouped invoice AB is

[2021-06-13 12:18] estekadigital commented on #1274
sale_order_line_packaging_qty: https://github.com/estekadigital/sale-workflow/tree/14.0-mig-sale_workflow-sale_order_line_packaging_qty

[2021-06-13 12:24] estekadigital commented on #1274
sale_order_line_packaging_qty: https://github.com/OCA/sale-workflow/pull/1611

[2021-06-14 18:46] #472 closed, assigned to nobody

[2021-06-15 09:26] karlggest opened #1614 "[11.0] payment terms in sale_order_type when invoice_address and delivery_address need differents payment terms"
Hi.

I have a little issue. Most of customers have different delivery address, and our quotations use this address to make the order. And more, I have a module to make quotations from POS, and this works great for me for different reasons (now I see a OCA module making this in odoo v12 -I try in 11 and seems to work fine-, but don't work properly when terminal is offline... ok, this is cause I kno

[2021-06-17 12:02] QuiJoQuim opened #1619 "[13.0] sale_manual_delivery - Error:odoo.exceptions.CacheMiss: ('sale.order.line(554,).qty_procured', None)"
When a public user is trying to validate a cart sometimes (only sometimes) got an
AccessError to get access to sale.order.lines:

[code]
This is caused by an error on CacheMiss: ('sale.order.line(554,).qty_procured', None).

As seen on similar errors it's caused by non initialitzation of a stored calculated field (in this case "qty:procured")

[2021-06-17 14:55] SimoRubi commented on #1103
?

[2021-06-18 07:23] #1103 closed, assigned to nobody

[2021-06-20 11:33] pedrobaeza opened #1621 "[13.0] sale_partner_delivery_window: Error on tests"
This module is provoking an error on current CI:

https://travis-ci.com/github/OCA/sale-workflow/jobs/516775218#L2177

Can you please check @simahawk @sebalix @grindtildeath ?

[2021-06-21 05:42] simahawk commented on #1621
It seems another error happens before on sale_by_packaging https://travis-ci.com/github/OCA/sale-workflow/jobs/516775218#L2129

[2021-06-21 06:19] pedrobaeza commented on #1621
Thanks for the quick reaction.

[2021-06-23 14:30] tomspray14 opened #1632 "[13.0] Sale_order_line_date amending commitment date does nothing after it has been saved once before"
module: sale_order_line_date
version: 13.0

**Steps to reproduce**
- ...Add a date in sales order commitment date. This then populates dates in sales order line commitment date field OK. Save quote/order. Edit quote/order and change commitment date to a different date than previous, tick calendar and then save- this does not then change the dates on the sales order line as it is meant to.

**Curre

[2021-06-28 09:03] azucenatrey opened #1637 "[12.0] "sale_order_action_invoice_create_hook" does not work correctly when you want inherit"
PROBLEM DETECTED:
    When the "sale_order_action_invoice_create_hook" module is installed, Odoo executes the internal function "new_action_invoice_create" instead of the generic "action_invoice_create", so the latter is not executed. So the functionality of the original function "action_invoice_create" and "new_action_invoice_create" cannot be inherited from another module because the latter func

[2021-06-30 13:22] grindtildeath commented on #1621
Issue should be fixed with this PR: https://github.com/OCA/stock-logistics-workflow/pull/862

[2021-06-30 13:31] ValentinVinagre commented on #1606
@rousseldenis

[2021-06-30 13:59] rousseldenis commented on #1606
Ok, a too fast merge for migration PR. I will fix that

[2021-06-30 14:02] rousseldenis commented on #1606
@igallart The module has been renamed too sale_restricted_qty

[2021-06-30 14:05] rousseldenis commented on #1606
Fix there #1640

[2021-06-30 14:05] #1606 closed, assigned to nobody

[2021-07-05 10:32] azucenatrey commented on #1637
Solved and merged in PR https://github.com/OCA/sale-workflow/pull/1636

[2021-07-05 10:32] #1637 closed, assigned to nobody

[2021-07-20 09:39] simahawk opened #1658 "[14.0] sale_order_revision: issue at SO creation"
Originate from https://github.com/OCA/sale-workflow/pull/1657

@kittiu I see you've migrated the module and before [this migration](https://github.com/OCA/sale-workflow/commit/4a38fcf20fcf55f115b36ccdf764ff48c15e91ca#diff-2b7f646de13a325a8564bc11e174f489a505e97bb29a567bbdbf576e222cb19e) a sequence was used.

IMO when we create the order first we should not trigger any revision machinery. The `unre

[2021-07-21 04:24] kittiu commented on #1658
Noted, let me try to understand this. You are saying that, this PR need to add this line,
https://github.com/nilshamerlinck/sale-workflow/blob/14.0-fix-sale_stock_picking_blocking-tests/sale_stock_picking_blocking/tests/test_sale_stock_picking_blocking.py#L43

Because without it, test error result from module sale_order_revision.

Correct?

[2021-07-21 04:52] kittiu commented on #1658
I have tested as following on v14
1. Install sale_order_revision
2. Install sale_stock_picking_blocking, remove the line in so_dict.
3. run test on the later, seem OK.

Also test install,
1. Install sale_isolated_quotation
2. Install sale_order_revision
3. And it seem OK too.

Can you provide step to error? Thanks!

[2021-07-21 16:37] nilshamerlinck commented on #1658
Hi @kittiu @simahawk I think I finally understood the issue better:
- both `sale_isolated_quotation` and `sale_quotation_number` define a `sale.quotation` sequence, respectively [here](https://github.com/OCA/sale-workflow/blob/14.0/sale_isolated_quotation/data/ir_sequence_data.xml#L6) and [here](https://github.com/OCA/sale-workflow/blob/14.0/sale_quotation_number/data/data.xml#L12)
- as such, they

[2021-07-21 16:49] kittiu commented on #1658
I think this is a proper solution. Thanks.

[2021-07-21 16:52] pedrobaeza commented on #1658
Another option is to rename one of the sequence codes.

[2021-07-22 07:41] simahawk commented on #1658
yeah, wouldn't be better?

[2021-07-22 17:11] nilshamerlinck commented on #1658
These modules are very similar in their functional purpose, with a subtle difference:
- `sale_isolated_quotation`: Create quotation > SQ001 > Convert to order > SQ001 Locked > New record SO001 is created, linked to SQ001
- `sale_quotation_number`: Create quotation > SQ001 > Confirm > Record SQ001 becomes SO001

But they are incompatible in the sense that, beyond the sequence duplicate, nobody woul

[2021-07-22 20:07] kittiu commented on #1658
Question:
In the addon it self. Are there practice to give warning when install module A and to ensure module B not already exists?
Can we use pre install hooks? Or something to declare in __manifest__.py ?

[2021-07-23 03:24] nilshamerlinck commented on #1658
Hi @kittiu

Yes, thanks to the ["excludes" entries](https://github.com/odoo/odoo/commit/6498f351451081de0440d7f6293bd547d56c74d2), an error will be raised if user tries to install both modules:

![error](https://user-images.githubusercontent.com/511258/126734162-9de8812f-b385-4280-aaab-49b9a1591edf.png)

[2021-07-23 06:29] simahawk commented on #1658
@nilshamerlinck  great, seems really the way to go. Thanks for digging into it.

Please check my comments on the PR.

[2021-07-23 15:17] bodedra commented on #1658
FYI, https://github.com/OCA/maintainer-tools/pull/421

[2021-07-26 18:15] bodedra commented on #1459
@rousseldenis I confirmed this bug at runbot http://3495083-12-0-c87d3c.runbot1-2.odoo-community.org/web?debug=1#id=25&action=464&model=sale.order&view_type=form&menu_id=293

[2021-07-26 18:56] bodedra commented on #1459
Related PR:

v12 - https://github.com/OCA/sale-workflow/pull/1443
v13 - https://github.com/OCA/sale-workflow/pull/1440

That PRs haven't resolved issue. I can reproduce same with it.

[2021-07-27 12:53] victoralmau commented on #942
Working on `sale_automatic_workflow_payment_mode` https://github.com/OCA/sale-workflow/pull/1673

[2021-07-28 09:21] francesco-ooops opened #1676 "[12.0, 13.0] - Ordered qty input value is rounded when secondary unit is selected in SO line"
IMPACTED VERSIONS 12.0, 13.0 (didn't test further)

STEPS TO REPRODUCE

Video: https://recordit.co/96EHiPS74L

Create a secondary unit in a product template
Go to SO > add product to line > select secondary uom
Input a value in field "ordered qty"

CURRENT BEHAVIOR

If the value inputted is not a multiple of "secondary unit factor" set in the secondary uom, the value in "ordered qty" is rounded  t

[2021-08-05 13:26] fredzamoabg commented on #1274
working on **sale_delivery_split_date** https://github.com/OCA/sale-workflow/pull/1687. depends on https://github.com/OCA/sale-workflow/pull/1498

[2021-08-09 07:16] fredzamoabg commented on #1274
created new PR for sale_procurement_group_by_line (https://github.com/OCA/sale-workflow/pull/1689) as no updates from Jun 23 on https://github.com/OCA/sale-workflow/pull/1498

[2021-08-11 19:39] flotho commented on #1058
@florian-dacosta , could you please explain what is the "replacement" of the rule_group field that you deleted in the following commit https://github.com/OCA/server-tools/commit/00202b47c19a4e2ba0e96288e456bcf2b0e63253#diff-c7fd995df65e10a635951020066e82a6L94

[2021-08-14 09:44] satriani-vai opened #1697 "Migration sale_rental to version 14.0"
https://github.com/OCA/sale-workflow/tree/12.0/sale_rental

[2021-08-24 07:39] GSLabIt opened #1702 "[12.0] sale_discount_display_amount, missing strings in weblate"
Hi there,

it seems some strings are missing in weblate

https://github.com/OCA/sale-workflow/blob/d824748643451e56d86665a60741c7e5b8579732/sale_discount_display_amount/i18n/it.po#L21-L27

weblate:

https://translation.odoo-community.org/projects/sale-workflow-12-0/sale-workflow-12-0-sale_discount_display_amount/

Is there any issue?

[2021-08-24 10:20] GSLabIt commented on #1702
@sbidoul could you please double check?

[2021-08-31 08:57] sergiocorato opened #1705 "[12.0] sale_order_line_date missing depend on sale_stock"
Function _prepare_procurement_values is called before sale_stock inherit, so date_planned value is overwritten and the code is ignored.

https://github.com/OCA/sale-workflow/blob/d824748643451e56d86665a60741c7e5b8579732/sale_order_line_date/__manifest__.py#L21

[2021-08-31 08:59] hiepnh97 commented on #1274
`sale_order_disable_user_autosubscribe`  [#1707 ](https://github.com/OCA/sale-workflow/pull/1707)

[2021-09-06 12:34] vanderperre opened #1709 "V14 sale_order_line_price_historic"
problem with widget.
Retraçage :
Error: QWeb2: Template 'sale_order_line_price_history.price_history_widget' not found
exception@http://dev.local/web/content/180-ffa4deb/web.assets_common.js:4384:7
_render@http://dev.local/web/content/180-ffa4deb/web.assets_common.js:4429:103
render@http://dev.local/web/content/180-ffa4deb/web.assets_common.js:4425:151
renderElement@http://dev.local/web/content/18

[2021-09-06 14:48] pedrobaeza commented on #1709
Are you able to reproduce it on OCA runbot?

[2021-09-09 09:35] GSLabIt commented on #1702
@pedrobaeza sorry for bothering, any chance to have a look at weblate?

[2021-09-09 17:30] vanderperre commented on #1709
Perhaps i had a problem with my asssets frontend, it is not due to your module.
Sorry and Thks.

[2021-09-09 17:30] #1709 closed, assigned to nobody

[2021-09-10 09:40] pedrobaeza commented on #1702
I can't say about that.

[2021-09-10 09:49] GSLabIt commented on #1702
Any hint on how to "force" update on weblate?

[2021-09-22 10:26] hcbayram commented on #634
Hi,
I inherit sale.order as below and it solved the issue.

class saleorderInherit(models.Model):
    _inherit ="sale.order"
    def _prepare_order_from_quotation(self):
            res = super(saleorderInherit, self)._prepare_order_from_quotation()
            res.update(
                unrevisioned_name= res['name'],
                revision_number = 0,
                current_revision_id= None

[2021-09-22 10:43] hcbayram opened #1717 "Name is created with 'Sale.order' sequence although 'Sale İsolated Quotation' is installed."
I change "copy" method to make the module run with 'Sale İsolated Quotation' module.

[code]

[2021-09-23 10:42] hiepnh97 commented on #1274
I make migrate module `sale_order_line_position`: WIP

[2021-09-24 08:58] victoralmau commented on #1274
`portal_sale_personal_data_only` https://github.com/OCA/sale-workflow/pull/1721

[2021-09-26 22:28] sgheller opened #1723 "[13.0] sale_order_line_price_history: new price not showing until reload"
## Describe the bug

After pressing "Set price" button, the sale order line is not showing the new price until reload.
User may think the button is not working.

**Affected versions**: 13.0, 14.0 - tested on runbot

**Expected behavior**: Price update in the sale order line without having to reload.

[2021-09-27 07:16] sergiocorato opened #1724 "record_archiver module"
In various modules ([sale_order_archive](https://github.com/OCA/sale-workflow/tree/14.0/sale_order_archive), [purchase_order_archive](https://github.com/OCA/purchase-workflow/tree/14.0/purchase_order_archive)) is referred the module record_archiver, which is stuck on v. 11.0.
Should this reference be removed?

[2021-09-28 14:18] Vassy opened #1726 "[11] With module sale_product_set_variant discount in set not work"
In module sale_product_set_variant discount not work. Discount on variant not present. In sale_product_set discount work if sale_product_set_variant not installed.

[2021-09-29 14:24] victoralmau commented on #942
Working on `partner_contact_sale_info_propagation` https://github.com/OCA/sale-workflow/pull/1728

[2021-10-05 13:09] Vassy commented on #1726
Any suggestion?

[2021-10-08 15:08] sonhd91 commented on #1274
`sale_product_set_sale_by_packaging` : [#1738 ](https://github.com/OCA/sale-workflow/pull/1738)

[2021-10-17 10:21] OCA-git-bot opened #1741 "Migration to version 15.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-15.0

# Modules to migrate

- [x] partner_contact_sale_info_propagation - By @cesar-tecnativa - #2112
- [x] partner_sale_pivot - By @victoralmau - #2156
- [x] portal_sale_personal_data_only - By @yajo - #2243
- [ ] pricelist_cache - By @juanpgarza - #2601
- [x] product_form_sale_link - By @CRogos - #2138
- [x] product_suppli

[2021-10-22 12:27] santostelmo commented on #1741
Migrating sale_commercial_partner https://github.com/OCA/sale-workflow/pull/1747

[2021-10-25 19:32] naved4all opened #1751 "Error while importing module 'sale_order_line_price_history'."
module: sale_order_line_price_history
version: 14.0

**Steps to reproduce**
- Error while importing the module
-
**Current behavior**

<html>
<body>

Error while importing module 'sale_order_line_price_history'.   Module loading sale_order_line_price_history failed: file /tmp/tmp8eu66f99/sale_order_line_price_history/security/ir.model.access.csv could not be processed:  No matching record found fo

[2021-10-25 19:35] pedrobaeza commented on #1751
You need to add the module to the addons path. Importing modules is only for data modules (like themes).

Closing as no issue, but incorrect deployment.

[2021-10-25 19:35] #1751 closed, assigned to nobody

[2021-10-25 19:37] naved4all commented on #1751
Thank you for your prompt reply.

Best Regards,

*Naved Ahmed *

On Mon, Oct 25, 2021 at 10:35 PM Pedro M. Baeza ***@***.***>
wrote:

[2021-10-26 09:15] bizzappdev commented on #1741
Migrate module sale_order_lot_selection #1752

[2021-10-28 12:36] alexandrol opened #1754 "Don´t see the Settings > Technical > Parameters > Global Discounts after install on V13"
module: sale_global_discount
version: 13.0

**Steps to reproduce**
Download the module
Install the module
Restart the odoo instance
Go to Settings > Technical > Parameters

**Current behavior**
The Global Discounts is not there

**Expected behavior**
See the Global Discounts to be able to configure the discounts.

[2021-10-28 14:56] pedrobaeza commented on #1754
I have added the following clarification: `To be able to handle global discounts, you need first to give to your user the "Manage Global Discounts" permission.`

[2021-10-28 14:56] #1754 closed, assigned to nobody

[2021-10-28 15:52] alexandrol commented on #1754
Thanks,

Now after configuring the permission, as you indicate, I can effectively access to create the discount, from Settings> Technical> Parameters> Global Discounts, and also from the Client configuration. But I can't apply the discount

**Steps to reproduce**
Install the module
Activate "Manage Global Discounts" permission on user
Create a Discount for Sale
Assign the discount to a Customer
Cr

[2021-10-28 15:58] pedrobaeza commented on #1754
I'm able to see them:

![Selección_013](https://user-images.githubusercontent.com/7165771/139292547-f040875b-2243-4553-9f11-a742bf0edea1.png)

[2021-10-28 16:08] alexandrol commented on #1754
Yes, it appears well in the assignment of the customer discount, where I do not see it is during the creation of the Sale Order

![Screenshot from 2021-10-28 12-07-44](https://user-images.githubusercontent.com/16417374/139294103-00752d3e-6927-4f5c-89f1-a87be5571dc1.png)
r

[2021-10-28 16:20] pedrobaeza commented on #1754
I do:
![Selección_014](https://user-images.githubusercontent.com/7165771/139296086-e7b5c668-5490-4836-bd34-c2e7f90d9123.png)

[2021-10-28 16:27] alexandrol commented on #1754
And, are you in Version 13?

[2021-10-28 16:28] pedrobaeza commented on #1754
Yes, http://3511799-13-0-be2c0c.runbot2-3.odoo-community.org/web (admin/admin)

[2021-10-28 16:46] alexandrol commented on #1754
Thanks for the access.

The version I have behaves very differently, but I managed to see that the module does not meet a requirement, I see that the global discount is copied as an individual discount for each line.
In my case, I am interested in having independent discounts per line, and a global discount on the sum of the lines.

Once again, thank you very much,

[2021-11-09 10:42] ThomasIMIG opened #1766 "[13] Module "Sale Isolated Quotation" workflow not working if quotation is marked as sent"
## Module
The name of the module that has a bug.

Sale Isolated Quotation By Ecosoft

## Describe the bug
A clear and concise description of what the bug is.

A newly entered quotation can directly be converted to a sales order and have then the status locked
A newly entered quotation can also "mark as sent" via the Action button, and the status is then changed to Quotation Sent. All Quotations wi

[2021-11-10 09:44] victoralmau commented on #1274
`sale_stock_picking_note` https://github.com/OCA/sale-workflow/pull/1769

[2021-11-10 17:21] JrVeroy opened #1772 "[14] Sale_order_line_price_history TypeError: Cannot read properties in undefined"
Hello I installed the Sale_order_line_price_history module in Odoo 14 enterpise. when click on the icon, and error messeage comes up:
Rastreo de error:
TypeError: Cannot read properties of undefined (reading 'constructor')
    at wrap_context (http://143.198.65.175:8069/web/content/697-2e8d43d/web.assets_backend.js:351:8)
    at http://143.198.65.175:8069/web/content/697-2e8d43d/web.assets_backend

[2021-11-11 16:14] JrVeroy commented on #1772
Solved! only needed to clear the browsing cache! Serpents team gave me the pointer! tahnks a lot!

[2021-11-11 16:14] #1772 closed, assigned to nobody

[2021-11-12 09:33] ph-obs commented on #1741
Anybody working on `sale_order_line_date` yet? I would need that for multiple projects. Thanks

[2021-11-12 09:58] pedrobaeza commented on #1741
It seems nobody has expressed interest on migrating it till now. Do you want to do it?

[2021-11-12 10:03] ph-obs commented on #1741
Sadly I am not able to do it myself (I am no proper developer myself), but I was hoping to find someone to help me because I have multiple customers that would like to migrate to v15 that already use this module.

[2021-11-12 10:06] pedrobaeza commented on #1741
Well, you can contact contributors of the modules, and propose to fund the migration.

[2021-11-16 20:35] moaadbourhim commented on #1741
@patrickheuel-obs
ok i will migrate sale_order_line_date to V15.0

[2021-11-16 21:35] moaadbourhim commented on #1741
@pedrobaeza please can you check this PR
sale_order_line_date #1775

[2021-11-17 09:54] moaadbourhim commented on #1766
Hello @ThomasIMIG
I have try the same scenario as you say, but i didn't find the problem.

![Screenshot from 2021-11-17 10-50-09](https://user-images.githubusercontent.com/23158028/142178152-1f3ed7cc-a0ac-4ac2-bb7a-85c5435d1423.png)

[2021-11-17 20:44] moaadbourhim commented on #1741
portal_sale_personal_data_only #1776

[2021-11-18 12:10] ThomasIMIG commented on #1766
Hi,
I guess, it’s a bug of the App “Sale Isolated Quotation”
***@***.***

With the App installed it looks like this …

***@***.***

Best Regards
Thomas Klein
Senior Consultant
 ***@***.***
IMIG Industry Consult GmbH
A member of International Management & Innovation Group
Poststraße 35-37  I  71229 Leonberg  I  Germany
Mail:       ***@***.******@***.***>
Mobil:     +49 (0) 170 / 9 35 94 49

Web: ww

[2021-11-19 08:31] dzungtran89 commented on #1274
`sale_order_product_recommendation_secondary_unit` https://github.com/OCA/sale-workflow/pull/1778

[2021-11-25 07:37] atchuthan commented on #255
We migrated the customer to latest version, so I couldn't test in 8.0.  So, closing the ticket

[2021-11-25 07:37] #255 closed, assigned to nobody

[2021-11-27 13:35] dreispt opened #1790 "[14.0] sale_order_lot_selection: The license AGPL-3 conflicts with one of its dependencies."
Error on Odoo App store:

[2021-11-28 12:20] #42 closed, assigned to nobody

[2021-11-28 12:20] #170 closed, assigned to nobody

[2021-11-28 12:20] #178 closed, assigned to nobody

[2021-11-28 12:20] #180 closed, assigned to nobody

[2021-11-28 12:20] #206 closed, assigned to nobody

[2021-11-28 12:20] #223 closed, assigned to nobody

[2021-11-28 12:20] #238 closed, assigned to nobody

[2021-12-05 12:20] #263 closed, assigned to nobody

[2021-12-05 12:20] #295 closed, assigned to nobody

[2021-12-05 12:20] #325 closed, assigned to max3903

[2021-12-05 12:20] #346 closed, assigned to nobody

[2021-12-05 12:22] pedrobaeza commented on #444
This has been implemented in https://github.com/OCA/sale-workflow/tree/13.0/sale_global_discount

[2021-12-05 12:22] #444 closed, assigned to fclementic2c

[2021-12-07 09:28] alexis-via commented on #1741
I migrated sale_start_end_dates https://github.com/OCA/sale-workflow/pull/1810

[2021-12-07 16:35] JordiBForgeFlow opened #1811 "[RFC] sale_order_partner_restrict - Only allow to enter sales orders for companies or individual, not their associated contacts"
Currently you can create sales orders where the customer is a contact person, invoice address, etc.

However sometimes companies prefer to make sure that the order is only entered for the main company, in B2B, or the individual person in B2C.

The module 'sale_order_partner_restrict' would allow you to choose what level of restriction you'd like to apply when selecting from the list of customers.

[2021-12-07 16:42] pedrobaeza commented on #1811
Maybe this should be an extra option on the existing module: https://github.com/OCA/sale-workflow/tree/13.0/sale_partner_selectable_option

[2021-12-07 16:43] JordiBForgeFlow commented on #1811
@pedrobaeza good point

[2021-12-07 16:44] HaraldPanten commented on #1811
We've had similar requests from our customers. In POs too.

That should be restricted only for `partner_id` field. I'm not against Pedro's suggestion.

👍

[2021-12-10 13:27] gaikaz opened #1817 "[BUG][14.0] sale_product_set: Removing products in "Add Set" wizard doesn't do anything"
## Module
sale_product_set

## Describe the bug
Removing products in "Add Set" wizard doesn't do anything.
Even though intuitively it seems that this table is sort of a "staging" place before adding the products to the Sale Order.

## To Reproduce
**Affected versions**: 14.0 (probably earlier too)

Steps to reproduce the behavior (doable on OCA Runbot):
1. On DB with demo data
2. Start creating ne

[2021-12-10 13:42] legalsylvain commented on #1817
Hi. this seems the expected behaviour for "set", don't you think. i better see the unpossiblity to remove product in the wizard, don't you think ?

[2021-12-10 14:37] gaikaz commented on #1817
Hi. Our project managers and couple of clients that use this module really thought that my described behavior is what should happen. It just seems this way intuitively.
But I do agree, that this is sort of a UI/UX issue if that was never the intention. Those x'es shouldn't be there if they don't even do anything.
Although, I'm pretty sure they are added explicitly, so I would guess that some versi

[2021-12-10 15:54] pedrobaeza commented on #1817
For improving the UX, such list can be readonly.

[2021-12-11 12:24] mrr-r opened #1818 "sale_discount_display_amount: Please do it for invoice(in account) too !"
Please do it for invoice(in account) too !
In invoice module also do this feature please!
Thank's

[2021-12-12 12:20] #410 closed, assigned to nobody

[2021-12-12 12:20] #428 closed, assigned to nobody

[2021-12-13 16:09] OriolVForgeFlow commented on #1811
The existing module sale_partner_selectable_option doesn't make this option company dependent and the feature we want to add makes more sense if it does. We think that we should do a separate module to add that functionality as we are just adding a filter. What do you think?
@pedrobaeza @JordiMForgeFlow

[2021-12-13 16:10] pedrobaeza commented on #1811
Are you going to share contacts across companies?

[2021-12-13 16:12] pedrobaeza commented on #1811
Anyways, the extra option may work per company the same, through a field in `res.company`, but I don't want you to push to pack it in existing module. You can put another module for sure, and more if the scope starts to diverge too much.

[2021-12-13 16:28] JordiMForgeFlow commented on #1811
I agree, it would make more sense perhaps if the partner field was instead a property.

Nevertheless, it also seems to me that the sale_partner_selectable_option is more aimed at allowing manual flexibility on flagging the partners that should not be able to have orders, rather than to be used under a general setting.

[2021-12-13 16:33] pedrobaeza commented on #1811
OK, so go ahead with your module to complement these options.

[2021-12-15 15:59] OriolVForgeFlow commented on #1811
Module "sale_order_partner_restrict" added! PR: https://github.com/OCA/sale-workflow/pull/1826

[2021-12-19 12:21] #441 closed, assigned to nobody

[2022-01-01 23:07] emagdalenaC2i commented on #1741
Migrating:
- `sale_order_line_description` [PR#1849](https://github.com/OCA/sale-workflow/pull/1849)
- `sale_product_category_menu` [PR#1850](https://github.com/OCA/sale-workflow/pull/1850)

[2022-01-05 05:12] celm1990 commented on #1741
sale_delivery_state  https://github.com/OCA/sale-workflow/pull/1851

[2022-01-05 10:44] anajuaristi opened #1852 "To save the sale order makes to lost the manually asigned sale order type."
To save the sale order makes to lost the manually asigned sale order type.

## Module
sale_order_type

## Describe the bug
Onchange partner_id on sale_order, assigns sale_order_type and calculates the number according to sale_order_type_secuence.
That's correct and right

Then.. change manually the sale order type on sale order --> the secuence is recalculated and everything seems Ok.
But... save

[2022-01-09 12:22] #452 closed, assigned to nobody

[2022-01-09 12:22] #453 closed, assigned to nobody

[2022-01-10 14:48] rousseldenis commented on #1817
Yes, but in a way, maybe with a configuration option/group to let it flexible.

[2022-01-10 14:50] rousseldenis opened #1859 "sale_product_set: Split sale/product_set"
@simahawk I think I saw a comment somewhere asking the split of "product_set" feature in its own module to avoid pulling the sale if we use it elsewhere.

[2022-01-10 14:52] gaikaz commented on #1817
We probably could make the X'es work instead of removing them. I honestly would prefer that as it would come in handy.

[2022-01-11 09:40] Mantux11 commented on #1817
I'm working on this bug. I'll make a PR soon.

[2022-01-16 12:22] #458 closed, assigned to nobody

[2022-01-16 12:22] #466 closed, assigned to nobody

[2022-01-16 12:22] #467 closed, assigned to nobody

[2022-01-16 12:22] #474 closed, assigned to nobody

[2022-01-16 12:22] #511 closed, assigned to nobody

[2022-01-17 03:56] kv1612 commented on #1274
sale_automatic_workflow_job: [#1868](https://github.com/OCA/sale-workflow/pull/1868)

[2022-01-17 18:18] kirca commented on #1741
sale_rental in https://github.com/OCA/sale-workflow/pull/1873

[2022-01-18 13:45] Camille0907 commented on #1741
Migrating sale_invoice_plan in [#1881](https://github.com/OCA/sale-workflow/pull/1881)

[2022-01-23 12:20] #521 closed, assigned to nobody

[2022-01-23 12:20] #529 closed, assigned to nobody

[2022-01-24 09:25] Camille0907 commented on #1741
Migrating account_invoice_transmit_method

[2022-01-26 17:54] kirca commented on #1741
sale_stock_picking_blocking in https://github.com/OCA/sale-workflow/pull/1888

[2022-01-28 14:35] rickard-w opened #1889 "Functionality does not work with Quotation Templates"
module: sale_order_line_description
version: 14.0

**Steps to reproduce**
- 1. Creating a Quotation Template with product lines.
- 2. Creating a new quotation from template.

**Current behavior**
The functionality to use only "Sale Description" in "Descrition"-field does not work when creating a quotation from a template.

**Expected behavior**
The same behavior using a quotation template as when

[2022-01-30 12:19] #601 closed, assigned to nobody

[2022-01-30 12:19] #612 closed, assigned to nobody

[2022-01-30 12:19] #659 closed, assigned to nobody

[2022-02-03 23:42] juanpgarza commented on #1741
I'm going to migrate sale_product_multi_add

[2022-02-04 00:10] juanpgarza commented on #1741
sale_product_multi_add #1900

[2022-02-04 09:36] damdam-s opened #1901 "[14.0] sale_commitment_date_mandatory issue"
Hello,

After some tests, there is an issue with the module sale_commitment_date_mandatory.
It's working pretty well when you create and confirm the sale order the same day or when the commitment date is enough far away.

This case is not covered and can lead to issues:

- security_lead is 1 day
- a SO is created today, as of 2021-10-14, commitment date is 2021-10-15
- the SO is confirmed 1 week l

[2022-02-04 09:40] mmequignon commented on #1901
Could you please create a draft pr with a test that reproduces this error, and link it in the description ?
Thanks for your feedback ! :heart:

[2022-02-06 12:19] #660 closed, assigned to nobody

[2022-02-08 17:53] sbidoul commented on #1702
I don't understand this. It is different from the usual problem where the .po and .pot are not merge. Here weblate is not picking up the new strings from the .pot (maybe it's because its is the same text, with or without the `<strong>` tag ? I deleted the component in weblate. Can you check tomorrow if it is back and things improved ?

[2022-02-08 18:24] GSLabIt commented on #1702
@francesco-ooops can u double check tomorrow?

[2022-02-09 09:29] francesco-ooops commented on #1702
Seems ok now! you can close

[2022-02-09 09:36] GSLabIt commented on #1702
@sbidoul fixed, thx

[2022-02-09 09:36] #1702 closed, assigned to nobody

[2022-02-09 21:05] #789 closed, assigned to nobody

[2022-02-13 16:08] moaadbourhim commented on #1741
sale_cancel_confirm #1909

[2022-02-16 12:19] bouktaibMohssin opened #1922 "14.0 [stock_picking_group_by_partner_by_carrier] Sale order cannot be canceled no wizard or traceback error appears"
To close wrong repository..

[2022-02-16 12:27] #1922 closed, assigned to nobody

[2022-02-16 12:27] bouktaibMohssin commented on #1922
To close wrong repository..

[2022-02-18 19:27] rafaelbn commented on #1852
Ping @BT-cserra @newtratip ! Thank you! 😄

[2022-02-21 20:13] rafaelbn commented on #538
sale_sourced_by_line: https://github.com/OCA/sale-workflow/pull/1927 by @AaronHForgeFlow

https://github.com/OCA/sale-workflow/pull/1927#issuecomment-1047182213

[2022-02-22 22:59] juanpgarza commented on #1741
sale_stock_picking_note #1930

[2022-02-24 10:06] jwaes commented on #1741
sale_order_revision #1931

[2022-02-27 12:21] #694 closed, assigned to nobody

[2022-03-06 12:21] #700 closed, assigned to nobody

[2022-03-06 12:21] #737 closed, assigned to nobody

[2022-03-06 12:21] #746 closed, assigned to nobody

[2022-03-08 19:44] CasVissers-360ERP opened #1939 "[14.0] sale_mrp_bom bug if multiple variants"
## Module
sale_mrp_bom

## Describe the bug
If a product has multiple variants the check of _check_match_product_variant_ids doesn't work anymore.

## To Reproduce
Create a product template with multiple variants and one BoM

**Expected behavior**
_check_match_product_variant_ids

Change:
bom_product = bom_product_tmpl.product_variant_ids
To:
bom_product = line.bom_id.product_id or bom_product_tmp

[2022-03-13 12:22] #788 closed, assigned to nobody

[2022-03-13 12:22] #791 closed, assigned to nobody

[2022-03-15 10:01] bjornbillen opened #1946 "_onchange_expected_date removed from Odoo source code"
## Module
sale_order_line_date

## Describe the bug
super of _onchange_expected_date gets called, but doesn't exist anymore

## To Reproduce
**Affected versions**: 15.0

Steps to reproduce the behavior:
1. Just try to open the sales module with latest Odoo 15 code

[2022-03-15 11:01] rousseldenis opened #1947 "[14.0] sale_product_set: Travis is red on 14.0 branch"
Due to cherry-pick https://github.com/OCA/sale-workflow/commit/4766ba7a176231bfd96a8692b5dd1633fc62b963

@pedrobaeza @victoralmau Could you please fix that ?

[2022-03-15 11:03] pedrobaeza commented on #1947
As said, the problem has arisen on such commit, but it's not due to it. It's another module:

https://app.travis-ci.com/github/OCA/sale-workflow/jobs/563225847#L3450

sale_pricelist_from_commitment_date

Have you even checked the link I put?

[2022-03-15 11:07] pedrobaeza commented on #1947
I think the fix is coming in #1755

[2022-03-15 11:56] rousseldenis commented on #1947
Mmmh, just tested with an odoo last version and it seems more that one. Curently looking for culprit commit.

[2022-03-15 13:13] rousseldenis commented on #1947
That's the culprit: https://github.com/odoo/odoo/commit/86febae278f08864e83017d43f6aa9d67165d664

[2022-03-16 06:51] jcoux commented on #1901
@damdam-s @mmequignon
PR to remove this module: https://github.com/OCA/sale-workflow/pull/1950

[2022-03-16 09:34] #1947 closed, assigned to nobody

[2022-03-16 16:57] timothyfrancisco opened #1952 "Printing Quote with split delivery dates creates server error - Error to render compiling AST"
## Module
Sales Module -
Sales-Workflow apps installed:
sale_delivery_split_date
sale_delivery_date

## Describe the bug
Printing a quote on a sales order with split delivery dates creates a server error.

Error to render compiling AST
TypeError: %d format: a number is required, not datetime.datetime
Template: sale.report_saleorder_document
Path: /t/t/div/table/tbody/t[2]/tr/t[1]/td[3]/span
Node:

[2022-03-18 10:25] patrickt-oforce opened #1954 "Backport of module sale_order_line_sequence to v 14.0"
**Is your feature request related to a problem?**
No, the feature isn't related to a problem

**Describe the solution you'd like**
I would like to backport module `sale_order_line_sequence` to v. 14.0

**Describe alternatives you've considered**
There are no alternatives.

**Additional context**
- [14.0] #1953

[2022-03-20 12:22] #840 closed, assigned to nobody

[2022-03-22 17:24] vvrossem commented on #1741
sale_partner_incoterm #1955

[2022-03-23 14:52] damdam-s commented on #1741
sale_exception #1957

[2022-03-25 10:47] AshishHirapara commented on #1274
migrating sale_restricted_qty : https://github.com/OCA/sale-workflow/pull/1961

[2022-03-27 12:22] #846 closed, assigned to JordiBForgeFlow

[2022-03-27 12:22] #851 closed, assigned to nobody

[2022-03-28 16:25] ilyasProgrammer opened #1965 "[14.0] sale_order_line_discount_validation: Sale Order approval breaks tests"
New state of Sale Order breaks tests.

## Module
sale_order_line_discount_validation

## Describe the bug
This module checks discount limit and set Sale Order state to 'waiting_approval' when discount is too big. This is defult behavior after module installation. Some test from other modules of this repo checks Sale Order confirmation and after Invoice confirmation. But when Sale Order state = 'wa

[2022-03-28 16:29] ilyasProgrammer commented on #1965
@max3903 could you check that please

[2022-03-31 10:02] sebalix commented on #1901
I agree, making the `commitment_date` required is breaking tests of other addons in this repository (like here: https://app.travis-ci.com/github/OCA/sale-workflow/jobs/565374862). We should have be an option to enable in the sale configuration panel so we can enable it only for its own tests without disturbing other addons.

[2022-03-31 15:41] dominiquekonsuntack opened #1970 "[14] sale_tier_validation - the form view for sale.order, with the button to request a validation has not been migrated to V14"
## Module
sale_tier_validation

## Describe the bug
the form view for the sale.order is missing in v14, so after installing the module, there is no button where a user can call for a validation of the sale order

## To Reproduce
v14
![SO_2022_00005_-_Odoo](https://user-images.githubusercontent.com/13960037/161095130-c9daa555-3ab5-4386-87de-bda60e168252.png)

[2022-03-31 16:04] sebalix commented on #1901
I mitigate the issue this addon bring regarding Travis in this PR: https://github.com/OCA/sale-workflow/pull/1969

[2022-04-06 11:10] #1817 closed, assigned to nobody

[2022-04-08 00:25] omarouhari opened #1973 "[14.0] sale_delivery_split_date: module not compatible with 2 and 3 steps shipments strategy"
module: sale_delivery_split_date
version: 14.0

**Steps to reproduce**
- Choise 2 steps in outgoing shipments on the warehouse
- Confirm sale order

**Current behavior**
- There is no pick generated

**Expected behavior**
should generate pick and pack according to the warehouse configuration!

[2022-04-08 01:09] #1973 closed, assigned to nobody

[2022-04-08 06:58] PedroInfo13 opened #1974 "[13] sale_order_line_chained_move duplicate field"
Hello @rousseldenis

There is a duplicate field.
You create field related_sale_line_id on module stock.move. But in this module have a field sale_line_id.

I don't know why you do this.

I apreciate if you could explain it to me.

Thanks

[2022-04-08 07:30] rousseldenis commented on #1974
In Odoo, indeed there is a sale_line_id. But this is filled in only with the move from out > Customers (the one generated at sale confirmation).

But in case of several operations (two or three steps delivery), the sale_line_id is not filled in.

This module allows to have the full chain of moves generated through the original move with the sale line reference.

I hope this is clear :smiley:

[2022-04-08 07:32] rousseldenis commented on #1974
Note: I didn't want to reuse the sale_line_id field as it should break other processes.

[2022-04-10 12:23] #869 closed, assigned to nobody

[2022-04-12 07:27] janikvonrotz opened #1978 "[14.0] sale_blanket_orders: Open window action requires sudo"
Getting the window action by ref will fail for user which do not have administrator permissions: https://github.com/OCA/sale-workflow/blob/a2edc8536f144769615cd15a70f61af6a01a22aa/sale_blanket_order/models/blanket_orders.py#L330

Workaround:

Add read permissions for internal users.

![Screenshot from 2022-04-12 09-22-40](https://user-images.githubusercontent.com/1370421/162904458-1d92a64d-525f-4e

[2022-04-13 08:33] rousseldenis commented on #1978
@janikvonrotz Thanks. But no, the good way is to use `self.env["ir.actions.act_window"]._for_xml_id(<action>)`. Could you do the PR ?

[2022-04-17 12:23] #874 closed, assigned to nobody

[2022-04-17 12:23] #914 closed, assigned to nobody

[2022-04-20 10:20] francesco-ooops opened #1988 "[14.0] tests with CoA failing"
Tests in recent PRs in this repo are failing with error

AssertionError: This test requires a CoA to be installed, it should be tagged "post_install"

due to

https://github.com/odoo/odoo/commit/81aac30dd2278e43a43cf8fd6cef31e1e8c60f3f

[2022-04-21 08:17] #1988 closed, assigned to nobody

[2022-04-22 08:30] francesco-ooops opened #1991 "[RFC] product_assortment : select model applicability"
Hi, we're planning to port to 14 several assortment modules:

website_sale_product_assortment (once it will be [ready](https://github.com/OCA/e-commerce/pull/595))
stock_picking_product_assortment
product_pricelist_assortment
sale_order_product_assortment

While doing this, we realized that:

- once there will be many assortments records in a db, it can become difficult to keep track what is the p

[2022-04-24 10:10] doublescotch opened #1994 "sale_quotation_number - Cant change the "SQ" prefix for sale.quotation sequence"
## Module
sale_quotation_number

## Describe the bug
Work well but it seems there is a bug when trying to change the "SQ" prefix of the sequence for quotations, you are in the obligation of keeping "SQ" in front of whatsoever prefix you want to use.

For exemple, if i replace SQ by DE, the order will still have the quotation number, no change

If i put DE in front of SQ (so DESQ), same not working

[2022-04-24 10:11] doublescotch commented on #1994
if not editable from the the sequence itself, can you please tell me where could i edit that prefix in the module files?

Like from ir_sequence_data.xml file :

[code]

I will try by just changing the SQ here

Edit : Not working, this fix will just make the default sequence to what i want, but you need to put SQ back on the interface for that the new sequence apply

[2022-04-24 10:33] doublescotch commented on #1994
I dont understand, i have tried to change all the occurence of "SQ" in the followinf files : sales_config.xml , sale_order.py and also test_sale_order.py, which are the only files i have found whith SQ in it, i have changed SQ to my DE needs, and then still the same error, and if, from the interface, i put back SQ in the sequence, it will work.... even if there is not any SQ no more in the source

[2022-04-24 12:24] #938 closed, assigned to nobody

[2022-04-24 12:24] #958 closed, assigned to nobody

[2022-04-24 12:24] #960 closed, assigned to nobody

[2022-04-25 15:19] AnouarMarrakchi opened #1996 ""partner_prospect" module For V14"
Hi tam

Is there any plans to develop "[partner_prospect](https://github.com/OCA/sale-workflow/blob/13.0/partner_prospect)" module for v14

It doesn't appear on the repository for that version

Tx & BR

[2022-05-04 16:48] LudLaf commented on #1274
I would like to migrate `sale_contact_type` to 14.0

[2022-05-06 13:54] flachica commented on #1741
* `sale_automatic_workflow_payment_mode` #2005

[2022-05-08 12:25] #985 closed, assigned to nobody

[2022-05-08 12:25] #988 closed, assigned to nobody

[2022-05-18 10:59] yankinmax commented on #1741
`sale_invoice_policy` https://github.com/OCA/sale-workflow/pull/2027

[2022-05-18 12:31] AnouarMarrakchi commented on #1996
Any replies?

[2022-05-19 16:55] dantiller2 commented on #1274
Please add sale_invoice_group_method + sale_order_action_invoice_create_hook, from v12.

[2022-06-05 12:24] #1058 closed, assigned to nobody

[2022-06-06 09:15] n17 commented on #1741
We would like to contribute `sale_order_secondary_unit`, but it is not on the list.

[2022-06-09 14:15] tarbib opened #2064 "[15.0] sale_invoice_plan : impossible to edit next invoice plan date after the first invoice is created"
Steps to reproduce :

- Create a SO
- Use invoice plan
- Create the first invoice by plan

Current behavior :
The invoice plan next invoice dates are not editable anymore

https://user-images.githubusercontent.com/2255433/172868339-a11714e6-3c17-4274-8856-041c6a3de48d.mp4

Is there any reason for this?
We're thinking of making next invoices plan dates editable even after the first invoice is creat

[2022-06-09 17:34] kittiu commented on #2064
@tarbib unfortunately, it is just that the sale_invoice_plan is not as mature as purchase_invoice_plan, as we don't use it much. Many improvement was introduced in purchase side as we use it much more cases, including,

1. the one you mentions.
2. freeze the invoiced amount even when the PO line has new amount (recompute only remaining)
3. Auto compute the last installment amount (to finally equal

[2022-06-10 11:33] bashierelbashier opened #2066 "Sale Fixed Discount Invoice Tax Miscalculation"
Invoice created from a sales order has a miscalculated tax amount. It is calculated before applying the discount.

Name of the module:
sale_fixed_discount

Description:
When I create a customer invoice from a sales order that has a fixed discount applied, the tax on the invoice line is computed before applying the discount. For instance, I have a sale order line with 800 price and 400 discount, th

[2022-06-17 15:20] bunhin opened #2079 "[V14] sale_order_line_discount_validation, not possible to edit discount limit on setting"
## Module
sale_order_line_discount_validation [v14]

## Describe the bug
Currently, it is not possible to change the limit of the discount from its default value (20)

## To Reproduce
Just install the module
Set user permission to have sale Administrator group
Go To Sales --> Setting
Then try to edit the discount limit from its default, not possible  since it is read-only
In the company form, the

[2022-06-17 15:39] bunhin opened #2080 "v[14] sale_tier_validation does not work well when customer sign and approve online"
## Module
Sale_tier_validation

## Describe the bug
Because sale order is designed with the possibility for the customer to approve online (send via email, then the customer to sign and approve)
the sale tier_validation is blocking this feature with the message weird enough for the customer

Steps to reproduce the behavior:
1. Install the module
2. Define tier definition
3. create sales quotation

[2022-06-18 14:58] rousseldenis opened #2082 "sale_stock_delivery_address: Fixing licensing issue"
As licensing compatibility check is now activated on several branches, sale_stock_delivery_address is historically wrong on LGPL as it depends on AGPL module.

https://github.com/OCA/sale-workflow/pull/2081

@LoisRForgeFlow

[2022-06-18 14:59] rousseldenis commented on #2082
Either you don't depend on sale_procurement_group_by_line, either you let in in AGPL as changed in #2081

[2022-06-19 12:25] #1061 closed, assigned to nobody

[2022-06-19 12:25] #1070 closed, assigned to nobody

[2022-06-19 12:25] #1085 closed, assigned to nobody

[2022-06-20 07:31] rousseldenis commented on #2080
Hi @bunhin maybe you need to define the validation rule that allow to exclude orders that have the 'require_signature' field to True.

[2022-06-26 12:25] #1087 closed, assigned to nobody

[2022-06-26 12:25] #1088 closed, assigned to nobody

[2022-06-28 20:52] dreispt opened #2096 "[15.0] sale_automatic_workflow does not increment Invoice numbers"
We are seeing all automatically created invoices be assigned the same number.
They were created on the same job run, but still the number should have been incremented.

![image](https://user-images.githubusercontent.com/1246629/176285521-7fcddf3c-4a0b-4fea-a00c-98479696ba3f.png)

Still investigating the issue, and will provide updates as findings come up.
Wondering if anyone else has also seen it.

[2022-06-30 09:41] igallart opened #2100 "[14.0] sale_triple_discount: Taxes are incorrect in the reports"
When you have 3 discounts in a sale order, in screen of sale order is correct, but report is bad.

Images from runbot:
Sale Order:
![imagen](https://user-images.githubusercontent.com/13520529/176645226-3638c6a2-621c-47dc-b5b4-486b4a3d2280.png)

Report:
![imagen](https://user-images.githubusercontent.com/13520529/176645410-f21a335b-d433-460d-b854-d7737e9df8a9.png)

The problem is the method def _am

[2022-07-01 07:42] atchuthan opened #2109 "[14.0] sale_automatic_workflow: Duplicate invoice for Already refunded invoice"
The option to create invoice and validate invoice in Sale Automatic workflow works for normal cases.  But, when the invoice created with automatic workflow is paid and refunded (credit note).  Then, the scheduler creates once again an invoice.

## Module
sale_automatic_workflow

## Describe the bug
Duplicate invoice created for already refunded invoice

## To Reproduce
**Affected versions**: 14.0

[2022-07-01 07:49] atchuthan commented on #2109
We plan to add an option in Automatic workflow configuration to skip SO's that have refund invoice linked to it.  Is there a better solution?  Please let us know.

[2022-07-03 12:25] #1106 closed, assigned to nobody

[2022-07-03 12:25] #1110 closed, assigned to nobody

[2022-07-05 08:32] atchuthan commented on #2109
@OCA/oca-contributors suggestions are much appreciated.  Thanks

[2022-07-05 08:36] elvise commented on #2109
@atchuthan can you post a snap about your domain configuration ?

[2022-07-05 10:27] atchuthan commented on #2109
@elvise What does this issue have to do with the domain configuration?

[2022-07-05 11:55] grindtildeath commented on #2109
@atchuthan
We had such an issue for one our customer and we solved it by adding an extra condition in the domain with `('invoice_count', '=', 0)`, so that if an invoice exists it will not generate a new one. I guess this could be integrated in the domain configuration of the create invoice filter.

[2022-07-05 12:01] JordiMForgeFlow commented on #2109
Hi all,

We had a similar issue caused by Odoo standard deducting the refunded qty of SO Lines from the qty invoiced, putting the line back again as 'to invoice'. We developed this module which may help you: https://github.com/OCA/account-invoicing/tree/14.0/sale_line_refund_to_invoice_qty

[2022-07-05 12:41] gaikaz commented on #2109
@atchuthan
Please don't tag the whole **oca-contributors** team on every PR of yours. That's 1k+ people you are pinging at once.
I don't know how others react to this or if there is anything officially written about pinging on Github. I think at most you should tag the maintainers of this repo and still, preferably after some time (let's say a week...) when your PR is not being reviewed.

[2022-07-05 13:36] atchuthan commented on #2109
Okay, I will use maintainers next time.  Thanks for the info.

[2022-07-05 13:37] atchuthan commented on #2109
@grindtildeath Thanks for the suggestion.  This works for our customer too.

[2022-07-05 13:37] #2109 closed, assigned to nobody

[2022-07-14 15:50] sebastienbeau opened #2123 "sale global discount: invalid taxes amout computation with multiple tax include"
## Module
sale_global_discount

## Describe the bug
Create 2 taxes 5% and 15% with the option price_include set at True
Create a Sale Order with a line with a price unit at 120 and the 2 previous taxes

The total amount of the sale should be 120 but odoo compute 116.46

As this break the test of other module (I do not use this module) I have flag this module as rebel modules for now

## Version im

[2022-07-19 00:37] RLeeOSI commented on #1741
sale_order_line_menu https://github.com/OCA/sale-workflow/pull/2131

[2022-07-19 17:15] CRogos commented on #1741
product_form_sale_link #2138

[2022-07-20 09:30] maisim opened #2141 "[12.0] sale_order_invoicing_finished_task: Order confirm is not possible if one sale order line quantity is 0"
Quotation/Order confirmation (action_confirm) is not possible if one sale order line quantity is 0

## sale_order_invoicing_finished_task on odoo 12.0

![image](https://user-images.githubusercontent.com/6648433/179939490-6db4b172-7945-4038-b771-92e538bcc5ce.png)

the exception is thrown here :

https://github.com/OCA/sale-workflow/blob/d28b7b94a72f91176e1fd02955eb2a0b5954eb11/sale_order_invoicing_

[2022-08-07 12:25] #1116 closed, assigned to nobody

[2022-08-11 22:16] digitalliuzg opened #2157 "After the module is upgraded to ODOO15, the application is normal."
issue:
installation  module odoo14 Sale Rental to ODOO15, prompting an installation error

Traceback (most recent call last):
  File "C:\Program Files\Odoo 15.0.20220807\server\odoo\http.py", line 643, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "C:\Program Files\Odoo 15.0.20220807\server\odoo\http.py", line 301, in _handle_exception
    raise excep

[2022-08-11 22:31] pedrobaeza commented on #2157
The module is not migrated, so that's expected. Closing as there's a general issue for tracking the migration of the modules of this repository to v15.

[2022-08-11 22:31] #2157 closed, assigned to nobody

[2022-08-22 09:02] FSchiepers opened #2163 "[15.0] [IMP] Sale_order_secondary_unit : Variants"
The problem is that I have a stock of metal sheets with variants of different thicknesses.
The main UOM is m² and the secondary unit is Kg.
So the conversion factor has to change in dependency to the thickness of the sheet

I searched for similar requests and found the following thread:
https://github.com/OCA/product-attribute/issues/648

So they propose to change the code in order to be able to c

[2022-08-26 08:40] furkanguemueser opened #2171 "[15.0] sale_product_set: Dependency 'onchange_helper'"
## Module
sale_product_set

## Describe the bug
This module has a dependency called 'onchange_helper' which isn't in this project.

[2022-08-26 09:07] legalsylvain commented on #2171
That's not a bug.
You should install this OCA module on your instance.
Regards.

[2022-08-26 12:48] furkanguemueser commented on #2171
Where can i find this module 'onchange_helper'.

Regards.

[2022-08-26 17:55] vib-adhoc commented on #1741
sale_order_carrier_auto_assign [2176](https://github.com/OCA/sale-workflow/pull/2176)

[2022-08-29 08:22] CRogos commented on #2171
It's part of the [server-tools](https://github.com/OCA/server-tools/tree/15.0)

[2022-09-05 08:17] #1166 closed, assigned to nobody

[2022-09-06 09:26] francesco-ooops opened #2191 "[RFC] 14.0 cannot functionally test configurator / variant matrix in sale-workflow runboat"
In sale-workflow runboat, activate "product configurator" and "variant matrix"

SO > click "add a product" on line, this is the popup appearing:

![image](https://user-images.githubusercontent.com/55489873/188593492-34c13b2c-8bad-4b92-8a4d-afb8dcfa9ebf.png)

As per screenshot above, the "product" field is related to product.product, so there is no chance to select a product.template and then selec

[2022-09-07 11:40] #2171 closed, assigned to nobody

[2022-09-08 13:52] cyrilmanuel opened #2193 "[15.0] sale_blanket_order Translatations"
We need the translation fr on the module sale_blanket_order but we did a mistake. we did them for the language fr_FR.po but we want them to the french language (fr.po).

Is it possible to transfert the translations fr_FR.po into the fr.po language.

Maybe you know how to do this @sbidoul

[2022-09-08 13:59] sbidoul commented on #2193
If you are sure there are no pending translations in that file in weblate, you could rename it in GitHub. This operations on .po* files in GitHub should be exceptional, but it this case that should be ok.

[2022-09-08 14:09] cyrilmanuel commented on #2193
Hi, we have pending translations made by us because we have started the translate in fr language just before the creation of this issue... and we don't have the access to delete them.

what can we do ?

[2022-09-11 12:29] #1126 closed, assigned to nobody

[2022-09-18 12:30] #1127 closed, assigned to nobody

[2022-09-26 08:04] #2066 closed, assigned to nobody

[2022-09-26 08:50] aitlamsali opened #2200 "sale_order_line_price_history issue on clock icon click"
## Module
sale_order_line_price_history

## Describe the bug
On click the added clock icon for prices history

## To Reproduce
V14

Steps to reproduce the behavior:
1. Install modile
2. Click history icon
3.

**Expected behavior**
Error
Traceback:
TypeError: Cannot read properties of undefined (reading 'constructor')
    at wrap_context (http://localhost:8014/web/content/541-f5ffd76/web.assets_bac

[2022-09-26 13:10] cyrilmanuel commented on #2193
hello @sbidoul,

Do you have an idea about this issue ?

[2022-09-26 13:15] sbidoul commented on #2193
In weblate you can export/import .po files, I think. That's probably the easiest in your case.

[2022-09-26 14:52] cyrilmanuel commented on #2193
Thanks you, it's done, have a nice day

[2022-09-26 14:52] #2193 closed, assigned to nobody

[2022-09-27 14:33] pauet6 opened #2201 "On update days in sale.order it creates a new stock.picking on sale_rental module"
When order is confirmed it automatically create two procurement (one in one out). If I update the order days it creates another procurement, even when the return is not done.

## Module
sale_rental

## Describe the bug
It should not create a new procurement when qty is the same, it only changes the days,

## To Reproduce
**Affected versions**: 15

Steps to reproduce the behavior:
1.Create sale.ord

[2022-09-27 18:28] ljgomezPant opened #2202 "sales_order_line_date v15 unable to import module in odoo v15"
Importing module into odoo v15.2.1.0 generates error.

module installed in odoo:  Sales technical name: sale_management v15.2.1.0

Module sale_order_line_date v15.0.1.1.0

Error generated during import of module:

Error while importing module 'sale_order_line_date'.

 while parsing /tmp/tmptrktzjeo/sale_order_line_date/views/sale_order_view.xml:3
Error while validating view near:

[2022-10-02 12:32] #538 closed, assigned to nobody

[2022-10-03 17:03] OCA-git-bot opened #2215 "Migration to version 16.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-16.0

# Modules to migrate

- [x] account_invoice_pricelist_technical - By @legalsylvain - #2903
- [x] partner_contact_sale_info_propagation - By @kjoeldevk - #2257
- [x] partner_sale_pivot - By @kjoeldevk - #2258
- [x] portal_sale_personal_data_only - By @stefan-tecnativa - #2746
- [x] product_form_sale_link - By @GiuTav -

[2022-10-06 12:39] gregory-moka opened #2216 "[RFC] Rental & Contract feature"
**Describe the solution you'd like**
I'm wondering if someone has already worked on a way to make `sale_rental` and `contract` addons work together.
i.e. :

- On `contract` we can create contract from a **service** product. As the product is a contract, we can define the invoicing strategy.
- On `sale_rental`, we are able to rent a product for a couple of days (it could be nice to change this feat

[2022-10-09 12:32] #1161 closed, assigned to nobody

[2022-10-11 19:06] CRogos commented on #1741
sale_order_revision #2224
sale_order_archive #2222

[2022-10-17 15:56] sergioeix opened #2228 "[13] sale_blanket_order tax_id is not passed from product config"
## Module
sale_blanket_order

## Describe the bug
When you add lines to a blanket order the tax_id from the product is not passed to the line of blanket order

## To Reproduce
**Affected versions**: 13

Steps to reproduce the behavior:
1. Configure more than one tax
2. Configure a product wich one of the tax created before
3. Add it to the blanket order

**Expected behavior**
tax_id from product p

[2022-10-19 11:01] ghost opened #2233 "[15] sale_order_type"
## Module
[15] sale_order_type

## Describe the bug
If a type of sales order is set to an individual type customer and the  quotation  is created from the customer smart button "Sales", it does not take the type of order established to the customer, but the first in the list. It also doesn't happen if the quote is created from a CRM opportunity for that individual customer.
Even if the client is c

[2022-10-19 11:18] AnilKesariya commented on #1741
@pedrobaeza : I have migrated the remaining modules. I need a little guidance to upload them. May I know the list of pending modules to be merged on 15? so I can create only create PR for remaining ones.

[2022-10-19 11:19] pedrobaeza commented on #1741
Follow the migration guide for doing one pull request per module migration.

[2022-10-19 16:44] rafaelbn opened #2236 "[portal_sale_personal_data_only] Split for sale and invoice"
Hello,

Module [portal_sale_personal_data_only](https://github.com/OCA/sale-workflow/tree/14.0/portal_sale_personal_data_only) includes security rules for sales and invoices and it forces to depend in [sales](https://github.com/OCA/sale-workflow/blob/14.0/portal_sale_personal_data_only/__manifest__.py#L10)

Sales: https://github.com/OCA/sale-workflow/blob/14.0/portal_sale_personal_data_only/securi

[2022-10-19 17:32] pedrobaeza commented on #2236
A split adding `portal_account_personal_data_only` seems OK.

[2022-10-20 14:21] js-landoo commented on #1697
This can be closed? Module is in v14 yet

[2022-10-23 12:34] #1185 closed, assigned to nobody

[2022-10-25 11:15] kirca commented on #1741
sale_global_discount https://github.com/OCA/sale-workflow/pull/2242

[2022-10-26 12:37] yajo commented on #2236
MIG+REF in https://github.com/OCA/account-invoicing/pull/1275 and https://github.com/OCA/sale-workflow/pull/2243.

[2022-11-03 20:04] augusto-weiss commented on #2215
migration sale_order_type #2253

[2022-11-06 12:28] #1216 closed, assigned to max3903

[2022-11-10 01:27] KM-joel commented on #2215
Hey @pedrobaeza @victoralmau @ernestotejeda

Migration

 -  partner_contact_sale_info_propagation #2257

[2022-11-11 23:12] KM-joel commented on #2215
@pedrobaeza @victoralmau @ernestotejeda

Migration
 -  partner_sale_pivot #2258

[2022-11-13 12:29] #1230 closed, assigned to nobody

[2022-11-13 12:29] #1243 closed, assigned to nobody

[2022-11-15 23:41] mfaheemkhan6 opened #2263 "Typo In dic_type"
https://github.com/OCA/sale-workflow/blob/a67e902b6a449f0d46aaca45b4dfea73f89d7a9a/sale_triple_discount/models/sale_order_line.py#L42
here is a little type error. You guys missed s here. ValidationError will not have proper value.

[2022-11-17 15:12] hurrinico opened #2268 "[14.0] Sale Blaket Order Sequence Management"
## Module
sale_blanket_order

## Describe the bug
If you bring back a order to Draft state, when is confirmed, it changes is sequence

## To Reproduce
**Affected versions**: 14.0

Steps to reproduce the behavior:
1.Create Order and confirm. It takes next sequence value
2.Cancel order and bring it back to Draft. It still have the same sequence
3.Confirm it. It changes the sequence value

**Expected

[2022-11-17 15:29] matiasperalta1 commented on #2215
sale_exception https://github.com/oca/sale-workflow/pull/2266

[2022-11-20 12:26] #1260 closed, assigned to nobody